* {
    outline: 0 none;
    border: 0 none;
}

html {
    background-color: $white;
}

body {
    letter-spacing: 0.05em;
}

::selection {
    text-shadow: none;
    color: #fff;
    background-color: $primary;
}

/*---------------------------------------------------------------------------------*/

/*  Typography - Custom classes
/*---------------------------------------------------------------------------------*/

.page-title {
    margin-bottom: 1.6rem;
}

/*---------------------------------------------------------------------------------*/

/*  Layout - Custom classes
/*---------------------------------------------------------------------------------*/

.section-content {
    padding: $spacer*5 0;
    @include media-breakpoint-down(sm) {
        padding: $spacer*3.5 0;
    }
}

.logo {
    max-width: 200px;
}

.bg-gradient-primary {
    background: -moz-linear-gradient(-45deg, #d5212e 0%, #ec1f2e 100%);
    background: -webkit-linear-gradient(-45deg, #d5212e 0%, #ec1f2e 100%);
    background: linear-gradient(-61deg, #d5212e 0%, #ec1f2e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d5212e', endColorstr='#ec1f2e', GradientType=1);
}

// font family
.text-Roboto {
    font-family: $text-Roboto !important;
}

.text-RobotoCondensed {
    font-family: $text-RobotoCondensed;
}

.text-latoMedium {
    font-family: $text-latoMedium !important;
}

.text-lato {
    font-family: $text-lato;
}

.text-roman-regular {
    font-family: $times_new_roman_regular;
}

.text-roman-bold {
    font-family: $times_new_roman_bold;
}

.text-chronicle-italic {
    font-family: $chronicle_italic;
}

.text-trade-gothic {
    font-family: $tradegothic;
}

.text-miller-italic {
    font-family: $millerdisplayitalic;
}

.text-miller-semibold {
    font-family: $millerdisplay;
}

.text-gotham-medium {
    font-family: $gotham_medium;
}

// font weight
.font-weight-medium {
    font-weight: $font-weight-medium;
}

.font-weight-semiBold {
    font-weight: 600;
}

// font size
.font-size-sm {
    font-size: $font-size-sm !important;
}

.font-size-base {
    font-size: $font-size-base !important;
}

.font-size-lg {
    font-size: $font-size-lg !important;
}

// line-height
.line-height-lg {
    line-height: $line-height-lg !important;
}

.line-height-base {
    line-height: 22px !important;
}

.line-height-sm {
    line-height: $line-height-sm !important;
}

h1,
h2,
h3 {
    letter-spacing: 0;
    font-weight: $font-weight-bold;
}

h1,
.h1 {
    @include media-breakpoint-down(xs) {
        font-size: 2.5rem;
    }
}

h2,
.h2 {
    @include media-breakpoint-down(xs) {
        font-size: 2.083rem;
    }
}

h3,
.h3 {
    @include media-breakpoint-down(xs) {
        font-size: 1.58rem;
    }
}

.display-5 {
    font-size: $display5-size;
}

.display-6 {
    font-size: $display6-size;
}

.display-3 {
    @include media-breakpoint-down(xs) {
        font-size: 1.5rem;
    }
}

.display-4 {
    @include media-breakpoint-down(xs) {
        font-size: 2.5rem !important;
    }
}

h4,
h5,
h6,
.h4,
.h5,
.h6 {
    font-family: $text-RobotoCondensed;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    @include media-breakpoint-down(sm) {
        letter-spacing: 0.033em;
    }
}

.fab,
.fas {
    display: inline-block;
    vertical-align: middle;
}

//secondray placeholder
.secondary-placeholder::placeholder {
    color: $secondary;
    font-family: $text-lato;
    font-weight: 400;
}

.martha-placeholder {
    font-family: $millerdisplay;
    &::placeholder {
        color: $secondary;
        font-family: $millerdisplay;
        font-weight: 400;
    }
}

.primary-placeholder.form-control {
    &::placeholder {
        font-weight: 300;
        letter-spacing: 0.05rem;
    }
}

//button
.btn {
    font-size: $btn-font-size-base;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    font-family: $text-lato;
    @include media-breakpoint-down(md) {
        padding: 0.67rem 2.08rem;
    }
    @include media-breakpoint-down(xs) {
        padding: 0.67rem 1.4rem;
    }
}

.btn-sm {
    @include media-breakpoint-down(md) {
        padding: 0.552rem 1.22rem;
    }
}

//btn hover
.btn-primary {
    &:hover,
    &:focus {
        color: $primary;
        border-color: $primary;
        background-color: transparent;
    }
}

.btn-outline-secondary {
    &:hover,
    &:focus,
    &:active {
        color: $primary;
        border-color: $primary;
        background-color: transparent;
    }
}

.btn-light {
    color: $primary;
    &:hover,
    &:focus {
        color: $white;
        border-color: $white;
        background-color: transparent;
    }
}

.btn-outline-light {
    &:hover,
    &:focus {
        color: $primary;
    }
}

.shadow-1 {
    box-shadow: $shadow-1;
}

.shadow-2 {
    box-shadow: $shadow-2;
}

.column-count-md-2 {
    @include media-breakpoint-up(lg) {
        column-count: 2;
    }
}

.shipping-icon {
    img {
        min-width: 32px;
        @include media-breakpoint-down(sm) {
            min-width: 25px
        }
        @include media-breakpoint-down(lg) {
            min-width: 26px
        }
    }
}

.nav-icon {
    .icon {
        width: 26px;
        +span {
            font-size: 1.0714rem;
        }
    }
}

.arrow-icon {
    svg {
        width: 33px;
        height: 20px;
    }
}

.slider-arrow-icon {
    svg {
        width: 13px;
    }
}

.custom-height {
    min-height: 60vh;
}

.page-contain {
    transition: transform 0.65s cubic-bezier(0.19, 1, 0.22, 1);
    &.active {
        transform: translateX(280px);
        box-shadow: 24.575px 17.207px 90px 0px rgba(0, 0, 0, 0.32);
    }
}

.product-img {
    padding-bottom: 72%;
    position: relative;
    display: block;
    overflow: hidden;
    &.pb-100 {
        padding-bottom: 100%;
    }
    &.subscribe-product {
        @include media-breakpoint-between(sm, md) {
            padding-bottom: 50%;
        }
    }
    img {
        position: absolute;
        top: 0;
        left: 0;
        margin: auto !important;
        right: 0;
        bottom: 0;
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
        width: auto;
    }
}

.offer-tag {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    &.right {
        right: 0;
        left: auto;
    }
}

.carousel-main {
    .flickity-button {
        display: none;
        width: 34px;
        height: 34px;
        padding: 0;
        @include media-breakpoint-down(sm) {
            display: block;
        }
        .arrow {
            fill: $dark;
        }
        &.flickity-prev-next-button.previous {
            left: -12px;
        }
        &.flickity-prev-next-button.next {
            right: -12px;
        }
    }
    .flickity-page-dots {
        @include media-breakpoint-down(sm) {
            display: none;
        }
    }
}

.addons-slider {
    .flickity-button {
        display: none;
        width: 34px;
        height: 34px;
        padding: 0;
        @include media-breakpoint-down(sm) {
            display: block;
        }
        .arrow {
            fill: $dark;
        }
        &.flickity-prev-next-button.previous {
            left: -20px;
            @include media-breakpoint-down(xs) {
                left: -30px;
            }
        }
        &.flickity-prev-next-button.next {
            right: -20px;
            @include media-breakpoint-down(xs) {
                right: -30px;
            }
        }
    }
    .flickity-page-dots {
        @include media-breakpoint-down(sm) {
            display: none;
        }
    }
}

.heading-full {
    position: relative;
    &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        height: 1px;
        background-color: #bbbbbb;
        z-index: 1;
    }
    span {
        z-index: 2;
        position: relative;
        background-color: $white;
        padding: 0 1.57rem;
        display: inline-block;
        vertical-align: middle;
    }
}

.main-banner-section {
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 9;
    }
    &.gift-banner {
        .gift-banner-height {
            height: 56vh;
            min-height: 560px;
            @include media-breakpoint-down(md) {
                height: 46vh;
                min-height: 460px;
            }
            @include media-breakpoint-down(sm) {
                height: 80vh;
                min-height: auto;
            }
            @include media-breakpoint-down(xs) {
                height: 220px;
                min-height: 220px;
            }
        }
        .banner-cation {
            @include media-breakpoint-up(md) {
                position: absolute;
                top: 50%;
                left: 0;
                right: 0;
                transform: translateY(-50%);
                z-index: 99;
                color: $white;
            }
            h1 {
                line-height: 1.2;
                @include media-breakpoint-down(md) {
                    font-size: 3rem;
                }
            }
            .leadTxt {
                p {
                    color: #fff;
                    line-height: 24px;
                    font-weight: 300;
                    margin-bottom: 0;
                    @include media-breakpoint-down(md) {
                        line-height: 1.7;
                        font-size: 14px;
                    }
                    @include media-breakpoint-down(sm) {
                        color: #333333;
                    }
                }
            }
        }
    }
}

.blooming {
    margin-top: -6rem;
    height: 60vh;
    min-height: 590px;
    @include media-breakpoint-up(xl) {
        min-height: 690px;
    }
    @include media-breakpoint-down(md) {
        height: 48vh;
        min-height: 420px;
    }
    @include media-breakpoint-down(xs) {
        min-height: 560px;
        background-size: 220% !important;
        background-position: left bottom !important;
    }
}

.works-plan {
    .card {
        .card-img {
            height: 162px;
            @include media-breakpoint-down(md) {
                height: 135px;
            }
            &.works-plan-small {
                height: 125px;
            }
            &.pb-70 {
                height: auto;
                position: relative;
                &::before {
                    content: '';
                    padding-bottom: 70%;
                    display: block;
                }
                img {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    max-width: 100%;
                    max-height: 100%;
                }
            }
        }
    }
}

.weekly-section {
    .banner-img1 {
        padding-bottom: 145%;
    }
    .banner-img2 {
        padding-bottom: 102%;
    }
    .banner-img3 {
        padding-bottom: 55%;
    }
    .deliveries-third {
        @include media-breakpoint-up(md) {
            margin-top: -3.57rem !important;
        }
    }
}

.subscribe-all-plans {
    .row {
        @include media-breakpoint-down(xs) {
            margin-left: -5px;
            margin-right: -5px;
        }
        [class^="col-"] {
            @include media-breakpoint-down(xs) {
                padding-left: 5px;
                padding-right: 5px;
            }
        }
    }
}

.community-section {
    .community-text {
        margin-bottom: -50px;
        p {
            color: #f6f6f6;
            font-size: 7.1875rem;
            line-height: 1.2;
            @include media-breakpoint-down(lg) {
                font-size: 6rem;
            }
        }
    }
    .blog_text_part {
        @include media-breakpoint-up(md) {
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            transform: translateY(-50%);
            z-index: 3;
        }
    }
    .community_blog {
        position: relative;
        z-index: 4;
        @include media-breakpoint-up(md) {
            margin-left: 40%;
            width: 60%;
        }
        .slide {
            min-height: 100%;
        }
        .flickity-prev-next-button {
            font-family: "Ionicons";
            font-size: 55px;
            line-height: 44px;
            color: $primary;
            top: -10px;
            padding: 0;
            @include media-breakpoint-down(sm) {
                top: auto;
            }
            svg {
                display: none;
            }
            &:disabled {
                display: block;
            }
            &.previous {
                @include media-breakpoint-up(md) {
                    right: calc(10% + 60px);
                    left: auto;
                }
                left: calc(50% - 47px);
                &:before {
                    content: "\f117";
                }
            }
            &.next {
                @include media-breakpoint-up(md) {
                    right: calc(10% + 0px);
                }
                right: calc(50% - 47px);
                &:before {
                    content: "\f119";
                }
            }
        }
    }
}

.featured-section {
    .featured-heading {
        position: relative;
        &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            height: 1px;
            background-color: $gray-200;
            z-index: 1;
        }
        span {
            z-index: 2;
            position: relative;
            background-color: $white;
            padding: 0 1.57rem;
            display: inline-block;
            vertical-align: middle;
        }
    }
    .featured-logo {
        border-bottom: 1px solid $gray-200;
        .logo-block {
            height: 60px;
            @include media-breakpoint-down(sm) {
                height: 28px;
            }
        }
    }
}

.connect-follow-section {
    .inst-row {
        @include media-breakpoint-down(xs) {
            margin: 0 -5px;
        }

        .inst-filed-col {
            @include media-breakpoint-down(sm) {
                padding-top: 15px;
                padding-bottom: 15px;
            }
            @include media-breakpoint-down(xs) {
                padding: 5px;
            }
            .inst-filed {
                width: 100%;
                padding-top: 100%;
                position: relative;
                display: block;
                overflow: hidden;
                z-index: 9;
                .overlay{
                    z-index: 1;
                }
                img{
                    width: 100%;
                    position: absolute;
                    top:0;
                    left: 0;
                    object-fit: cover;
                    height: 100%;
                }
                .inst-img {
                    background-size: cover;
                    z-index: 5;
                }

                .instgram-text {
                    height: 72px; 
                    overflow: hidden;
                    @include media-breakpoint-down(md) {
                    height: 76px;
                    }
                }
            }
        }
    }
}

/******Product Page***********/

.custom-row {
    margin-left: -7px;
    margin-right: -7px;
    [class^="col-"] {
        padding-left: 7px;
        padding-right: 7px;
    }
}

.product-slider {
    .slider-main-for {
        img {
            @include media-breakpoint-down(md) {
                width: auto;
                height: 300px;
                margin: 0 auto;
            }
            @include media-breakpoint-down(sm) {
                height: 300px
            }
            @include media-breakpoint-down(xs) {
                height: 200px;
            }
        }
    }
}

.product-details {
    .addons-slider {
        margin: 0 -0.5rem !important;
        .addons-slider-side {
            .custom-product-input {
                display: none;
                &:checked~.custom-product-main {
                    &::before {
                        border: 2px solid $primary;
                    }
                    span {
                        background: $primary;
                        border-color: $primary;
                        &:before,
                        &:after {
                            background: #fff;
                        }
                        &:after {
                            display: none;
                        }
                    }
                }
            }
            .custom-product-main {
                position: relative;
                padding-bottom: 120%;
                cursor: pointer;
                overflow: inherit;
                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border: 1px solid #e1e1e1;
                    border-radius: $border-radius;
                    z-index: 999;
                }
                span {
                    position: absolute;
                    bottom: -1.07rem;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 2.14rem;
                    height: 2.14rem;
                    border: 1px solid #cccccc;
                    border-radius: 50%;
                    background-color: #fff;
                    font-size: 0;
                    z-index: 999;
                    &:before,
                    &:after {
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 12px;
                        height: 2px;
                        background: #cccccc;
                    }
                    &:after {
                        width: 2px;
                        height: 12px;
                    }
                }
            }
            .custom-product-text {
                p {
                    font-size: 0.93rem;
                    letter-spacing: 0;
                }
            }
        }
    }
    &.mobile-w-80 {
        @include media-breakpoint-down(sm) {
            width: 90% !important;
            margin: 0 auto;
        }
        @include media-breakpoint-down(xs) {
            width: 80% !important;
        }
    }
}

.also-like-section {
    .product-img {
        padding-bottom: 100%;
    }
}

.datepicker-input {
    @include media-breakpoint-up(md) {
        height: 100%;
    }
    &::placeholder {
        color: $secondary;
        font-family: $text-latoMedium;
    }
}

/******How it Work Page***********/

.page-banner {
    height: 55vh;
    min-height: 530px;
    overflow: hidden;
    @include media-breakpoint-down(md) {
        height: 40vh;
        min-height: 420px;
    }
    @include media-breakpoint-down(md) {
        height: 32vh;
        min-height: 320px;
    }
    img {
        object-fit: cover;
    }
    .banner-cation {
        color: $white;
    }
}

.peek-banner {
    height: 50vh;
    min-height: 488px;
    @include media-breakpoint-down(md) {
        height: 35vh;
        min-height: 350px;
    }
    @include media-breakpoint-down(sm) {
        min-height: auto;
        height: auto;
        background-size: cover !important;
        background-position: center !important;
    }
}

.view-all-plans {
    .planbox-One {
        width: 70%;
        display: inline-block;
        padding-bottom: 75%;
    }
    .planbox-two {
        padding-bottom: 65%;
    }
    .planbox-three {
        padding-bottom: 150%;
    }
}

.reliable-section {
    .product-img {
        padding-bottom: 59%;
    }
}

.howit-icon-section {
    box-shadow: 0px -17px 50px 0px rgba(0, 0, 0, 0.07);
}

.vision-sub-images .vision-images {
    padding-top: 62%;
}

.overflow-hidden {
    overflow: hidden;
}

/********Our vison Page********/

.vison-banner {
    height: calc(100vh - 5.3rem);
    @include media-breakpoint-down(lg) {
        height: 80vh;
    }
    @include media-breakpoint-down(md) {
        height: 55vh;
    }
    @include media-breakpoint-down(sm) {
        height: 110vh;
    }
    @include media-breakpoint-down(xs) {
        height: 80vh;
    }
    .banner-cation {
        @include media-breakpoint-down(md) {
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            transform: translateY(-50%);
            z-index: 99;
        }
    }
    .section-scroll {
        position: absolute;
        bottom: 48px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 999;
        cursor: pointer;
        @include media-breakpoint-down(sm) {
            bottom: 15px;
        }
        img {
            max-width: 23px;
        }
    }
}

.vision-sub-images {
    &:nth-child(odd) {
        background-color: $gray-100;
    }
    .about-img {
        padding-bottom: 60%;
    }
    .other-process {
        .process-name {
            h3 {
                @include media-breakpoint-up(md) {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%) rotate(-90deg);
                }
            }
        }
        .process-filed {
            position: relative;
            @include media-breakpoint-up(sm) {
                &:after {
                    content: '';
                    position: absolute;
                    top: calc(50% - 1.9rem);
                    left: 0;
                    right: 0;
                    width: 75%;
                    height: 1px;
                    background-color: $gray-600;
                    z-index: 1;
                    margin: 0 auto;
                    transform: translateY(-50%);
                }
            }
            &>div {
                position: relative;
                z-index: 2;
                .process-img {
                    padding: 0 0.714rem;
                    background-color: $white;
                    display: inline-block;
                    img {
                        opacity: 0.5;
                        max-width: 111px;
                        @include media-breakpoint-down(lg) {
                            max-width: 80px;
                        }
                        @include media-breakpoint-down(md) {
                            max-width: 75px;
                        }
                        @include media-breakpoint-down(sm) {
                            max-width: 70px;
                        }
                    }
                }
            }
        }
    }
    .bloomsy-process {
        .process-filed {
            &:after {
                @include media-breakpoint-up(sm) {
                    background-color: #787878;
                    top: calc(50% - 1.4rem);
                }
            }
            .process-img {
                img {
                    opacity: 1 !important;
                    &.boomsy-logo {
                        max-width: 60px;
                        @include media-breakpoint-down(sm) {
                            max-width: 45px;
                        }
                    }
                }
            }
        }
    }
}

/******** Ended Our vison Page********/

/********press*******/

.press-section {
    .press-news {
        min-height: 100%;
        .card-img {
            img {
                max-height: 155px;
                @include media-breakpoint-down(md) {
                    max-height: 100px;
                }
            }
        }
    }
}

/********office-box Page*******/

.office-banner-from {
    .right-half {
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        z-index: 0;
        @include media-breakpoint-down(sm) {
            display: none;
        }
    }
    .office-decoration-part {
        @include media-breakpoint-up(md) {
            background: none !important;
        }
        .overlay {
            @include media-breakpoint-up(md) {
                display: none;
            }
        }
        .office-decoration-text {
            @include media-breakpoint-down(md) {
                position: relative;
                z-index: 9;
            }
        }
    }
}

.office-flower-section {
    .office-flower {
        .product-img {
            padding-bottom: 75%;
        }
    }
}

/*****closing Gift*******/

.closinggift-section {
    .closing-img {
        padding-bottom: 100%;
        @include media-breakpoint-between(sm, sm) {
            padding-bottom: 50%;
        }
        img {
            @include media-breakpoint-between(sm, sm) {
                width: 50%;
                height: 100%;
            }
        }
    }
}

/*******subscribe********/

.plan-selected {
    li {
        line-height: 20px;
        a {
            position: relative;
            padding: 0 0.86rem;
            cursor: default;
            color: $gray-400 !important;
            @include media-breakpoint-down(xs) {
                padding: 0 0.47rem;
            }
            &:before {
                content: '';
                position: absolute;
                top: 50%;
                left: 100%;
                transform: translateY(-50%);
                width: 2.5rem;
                height: 1px;
                background: #787878;
                @include media-breakpoint-down(xs) {
                    width: 0.7rem;
                }
            }
            &.active {
                color: $primary !important;
            }
            &.disable {
                color: $gray-400 !important;
            }
        }
        &:last-child a {
            &:before {
                display: none;
            }
        }
    }
}

.go-back {
    @include media-breakpoint-up(md) {
        position: absolute;
        top: -1.857rem;
        left: 0;
    }
    a {
        &:hover,
        &:focus {
            color: $primary !important;
        }
    }
    i {
        &:before {
            line-height: 18px;
            display: inline-block;
            vertical-align: middle;
        }
    }
}

.funnelSection {
    .go-back {
        i {
            line-height: 12px;
        }
    }
}

.monthly-plans-img {
    padding-bottom: 77%;
}

.monthly-slider {
    .slick-track {
        display: flex;
        align-items: stretch;
    }
}

.payment-silder {
    .slick-track {
        display: flex;
        align-items: flex-end;
    }
    .display-2 {
        @include media-breakpoint-down(md) {
            font-size: 1.8rem;
        }
    }
}

.month-price {
    @include media-breakpoint-down(lg) {
        font-size: 1.8rem;
    }
}

/*****cart******/

.custom-checkbox {
    display: inherit;
    input[type="checkbox"],
    input[type="radio"] {
        display: none;
        &:checked~label>span:before {
            display: block;
        }
    }
    label {
        position: relative;
        cursor: pointer;
        >span {
            display: block;
            width: 1.14rem;
            height: 1.14rem;
            border: 1px solid #787878;
            &:before {
                content: '';
                position: absolute;
                top: -0.6rem;
                right: -0.6rem;
                width: 1.43rem;
                height: 1.43rem;
                background-image: url(https://cdn.shopify.com/s/files/1/0084/0617/1763/files/check.svg?2075090069338883806);
                background-size: 100%;
                display: none;
            }
        }
    }
}

.checkbox_default {
    display: inherit;
    input[type="checkbox"],
    input[type="radio"] {
        display: none;
        &:checked~label span:before {
            display: block;
        }
    }
    label {
        position: relative;
        cursor: pointer;
        span {
            display: inline-block;
            width: 1.14rem;
            height: 1.14rem;
            border: 1px solid #787878;
            vertical-align: sub;
            position: relative;
            margin-right: 10px;
            &:before {
                content: '';
                position: absolute;
                top: -6px;
                left: 0px;
                width: 20px;
                height: 20px;
                background: url(https://cdn.shopify.com/s/files/1/0084/0617/1763/files/check.svg?2075090069338883806) no-repeat center;
                background-size: 80%;
                display: none;
            }
        }
    }
}

.cart-layout {
    .cart-body {
        .cart-img {
            min-width: 100px;
            .product-img {
                padding-bottom: 100%;
            }
        }
    }
}

.subtotal-text {
    font-size: 1.43rem;
}

.gift-details {
    opacity: 1;
    &.disabled {
        opacity: 0.5;
        pointer-events: none;
    }
    textarea {
        resize: none;
    }
}

/*****Ended cart******/

.fab {
    font-family: "Font Awesome 5 Brands" !important;
}

.weekly-section {
    background: #d5212e;
    background: -moz-linear-gradient(-45deg, #d5212e 0%, #ec1f2e 100%);
    background: -webkit-linear-gradient(-45deg, #d5212e 0%, #ec1f2e 100%);
    background: linear-gradient(-61deg, #d5212e 0%, #ec1f2e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d5212e', endColorstr='#ec1f2e', GradientType=1);
}

.cart-layout {
    .cart-body {
        .cart-img {
            width: 100px;
            .product-img {
                padding-bottom: 100%;
            }
        }
    }
}

.subtotal-text {
    font-size: 1.43rem;
}

.border-none-xs {
    @include media-breakpoint-down(xs) {
        border: 0 !important;
    }
}

.border-none-md {
    @include media-breakpoint-down(md) {
        border: 0 !important;
    }
}

/*****weellay Plan****/

.weekly-plans-img {
    padding-bottom: 53%;
}

.video-position {
    padding-bottom: 52%;
    @include media-breakpoint-down(ex-lg) {
        padding-bottom: 62%;
    }
    @include media-breakpoint-down(sm) {
        padding-bottom: 55%;
    }
    iframe {
        position: absolute;
        top: 0;
        left: 0;
    }
}

.collection-filter {
    z-index: 9 !important;
    @include media-breakpoint-down(md) {
        padding: 5px 0;
    }
    .nav-pills {
        .nav-link {
            &.active {
                color: $primary !important;
            }
        }
    }
}

[data-choosePlan] {
    input[type="checkbox"],
    input[type="radio"]+label,
    .linkWrap {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 100%;
        height: 100%;
        z-index: 99;
        opacity: 0;
        cursor: pointer;
    }
    input[type="radio"] {
        display: none;
    }
}

.giftBoxOdd {
    .description {
        max-width: 330px;
        margin: 0 auto;
        @include media-breakpoint-up(lg) {
            padding: 0 60px 0 0;
            position: absolute;
            left: 0;
            top: 0;
        }
        @include media-breakpoint-up(xl) {
            padding: 0 35px;
        }
    }
}

.giftBoxeven {
    .description {
        max-width: 400px;
        margin: 0 auto 40px;
    }
}

.custom-navbar {
    .slick-dots {
        left: 0;
        right: 0;
        li {
            button {
                background: #fff;
            }
        }
    }
}

@each $prop,
$abbrev in (top: t, left: l, right:r, bottom:b) {
    @each $position,
    $length in $value {
        .#{$abbrev}-#{$position} {
            #{$prop}: $length !important;
        }
    }
}

.transform-t-50 {
    transform: translateY(-50%);
}

.z-index-990 {
    z-index: 990;
}

.flatpickr-calendar {
    z-index: 990 !important;
    @include media-breakpoint-down(xs) {
        width: 310px !important;
    }
    &.open {
        z-index: 99999 !important;
    }
}

.datePickerTitle {
    @include media-breakpoint-up(xl) {
        font-size: 1.0714rem;
    }
}

.height-fixed {
    @include media-breakpoint-up(md) {
        min-height: 600px;
    }
}

#how-it-works {
    .works_step {
        .step-img {
            position: relative;
            padding-top: 100%;
            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    h2.display-4 {
        @include media-breakpoint-up(lg) {
            font-size: 9rem;
        }
        @include media-breakpoint-down(lg) {
            font-size: 6rem;
        }
    }
}

.gift-carousel {
    .carousel-cell {
        height: 75vh;
        min-height: 600px;
        @include media-breakpoint-down(md) {
            height: 55vh;
            min-height: 380px;
        }
    }
    .flickity-prev-next-button.previous {
        display: block;
        @media(min-width: 1351px) {
            left: -3.5em;
        }
    }
    .flickity-prev-next-button.next {
        display: block;
        @media(min-width: 1351px) {
            right: -3.5rem;
        }
    }
}

.varieties-section {
    .varieties-img {
        height: 75vh;
        min-height: 600px;
        overflow: hidden;
        @include media-breakpoint-down(lg) {
            height: 40vh;
            min-height: 380px;
        }
        @include media-breakpoint-down(sm) {
            height: 30vh;
            min-height: 260px;
        }
        @include media-breakpoint-down(xs) {
            height: 27vh;
            min-height: 160px;
        }
    }
}

.varieties-banner {
    .carousel-cell {
        height: 60vh;
        min-height: 500px;
        @include media-breakpoint-down(md) {
            height: 50vh;
            min-height: 360px;
        }
        @include media-breakpoint-down(xs) {
            height: 40vh;
            min-height: 360px;
        }
    }
}

.expect-banner {
    .carousel-cell {
        padding-bottom: 85%;
        .expect-title {
            h1 {
                font-size: 16rem;
                text-align: center;
                @include media-breakpoint-down(lg) {
                    font-size: 12rem;
                }
                @include media-breakpoint-down(md) {
                    font-size: 8rem;
                }
            }
        }
    }
}

.perfect-gift-banner {
    .perfect-gift-details {
        height: 65vh;
        min-height: 630px;
        @include media-breakpoint-down(md) {
            height: 40vh;
            min-height: 440px;
        }
    }
}

.select-gift {
    .gift-border {
        text-align: center;
        .heading-middle {
            display: inline-block;
            z-index: 990;
            margin-top: -50%;
            background-color: $white;
            h2 {
                line-height: 0.7;
                color: #555759;
                @include media-breakpoint-up(lg) {
                    font-size: 9rem;
                }
                @include media-breakpoint-down(lg) {
                    font-size: 6rem;
                }
            }
        }
    }
    &.select-plan {
        .border-right-xs-none {
            @include media-breakpoint-down(xs) {
                border-right: 0 !important;
            }
        }
        .border-right-sm-none {
            @include media-breakpoint-down(sm) {
                border-right: 0 !important;
            }
        }
    }
    &.martha-funnel {
        .gift-card {
            .product-img {
                padding-bottom: 105%;
            }
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

.sliderOfClinet {
    .flickity-page-dots {
        .dot {
            background: $white;
        }
    }
}

.rte {
    h4 {
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
}

.subLeadingText {
    em {
        font-weight: normal;
        text-transform: none;
    }
}

.close_annoucement {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 28px;
    color: inherit;
    line-height: 34px;
    width: 34px;
}

.input-group.d-block>.form-control,
.input-group.d-block>.custom-select {
    @include media-breakpoint-down(xs) {
        border-radius: 0.357rem;
    }
}

.input-group.d-block>.form-control {
    @include media-breakpoint-down(xs) {
        width: 100%;
        margin: 0 0 10px 0;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.rc_layout {
    padding: 4rem 0;
}

#customer_tab_nav {
    .rc_customer__name {
        font-size: $h5-font-size;
    }
}

#ReCharge-Nav {
    #rc_navigation {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-left: 0;
        margin-bottom: 0;
        .rc_menu__item {
            position: relative;
            display: block;
            padding: 0.75rem 1.25rem;
            margin-bottom: -1px;
            background-color: #ffffff;
            border: 1px solid rgba(0, 0, 0, 0.125);
            &:first-child {
                border-top-left-radius: 0.357rem;
                border-top-right-radius: 0.357rem;
            }
            &:last-child {
                margin-bottom: 0;
                border-bottom-right-radius: 0.357rem;
                border-bottom-left-radius: 0.357rem;
            }
        }
    }
}

[data-collection-bar] {
    .nav-pills {
        white-space: nowrap;
        overflow: auto;
    }
}

#contactFormMessage {
    @include media-breakpoint-down(xs) {
        height: 100px;
    }
}

.date--picker {
    input {
        background: url('https://cdn.shopify.com/s/files/1/0084/0617/1763/files/datepicker.svg?14792215276643405995') center right 10px no-repeat;
        background-size: 20px;
        padding-right: 35px;
        @include media-breakpoint-down(sm) {
            height: 39px;
        }
    }
}

.product-details {
    .date--picker {
        +.btn {
            @include media-breakpoint-down(xs) {
                width: 100%;
            }
        }
    }
}

.cartPopupH {
    max-height: 265px;
    overflow: auto;
}

#zoomiocontainer {
    cursor: crosshair;
    @include media-breakpoint-down(sm) {
        display: none !important;
    }
}

.text-transform-none {
    text-transform: none !important;
}

.badge {
    padding-top: 0.4em;
}

.card-title {
    .badge {
        @include media-breakpoint-down(sm) {
            margin-top: 3px;
            vertical-align: unset;
        }
    }
}

#martha-hero-banner {
    .martha-details {
        @include media-breakpoint-down(sm) {
            /* background: none #fff !important;*/
        }
        .position-absolute {
            @include media-breakpoint-down(sm) {
                position: relative !important;
            }
        }
    }
    .martha-captions {
        .martha-logo {
            @include media-breakpoint-down(md) {
                max-width: 170px !important;
            }
            @include media-breakpoint-down(sm) {
                max-width: 200px !important;
            }
        }
    }
}

.wave-border {
    position: relative;
    .top-wave {
        position: absolute;
        top: 0;
        left: 0;
        height: 13px;
        width: 100%;
        &:after,
        &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            background-repeat: repeat;
        }
        &:before {
            height: 8px;
            background-size: 20px 8px;
            background-image: radial-gradient(circle at 10px 13px, transparent 12px, #fff 12px);
        }
        &:after {
            height: 15px;
            background-size: 40px 20px;
            background-image: radial-gradient(circle at 10px -3px, #fff 12px, transparent 12px);
        }
    }
    .bottom-wave {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 13px;
        width: 100%;
        &:after,
        &:before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            right: 0;
            background-repeat: repeat;
        }
        &:before {
            height: 10px;
            background-size: 20px 20px;
            background-image: radial-gradient(circle at 10px -5px, transparent 12px, #fff 12px);
        }
        &:after {
            height: 15px;
            background-size: 40px 20px;
            background-image: radial-gradient(circle at 10px 15px, #fff 12px, transparent 12px);
        }
    }
    .left-wave {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 13px;
        height: 100%;
        &:after,
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            background-repeat: repeat;
        }
        &:before {
            width: 8px;
            background-size: 8px 20px;
            background-image: radial-gradient(circle at 13px 10px, transparent 12px, #fff 12px);
        }
        &:after {
            width: 15px;
            background-size: 40px 40px;
            background-image: radial-gradient(circle at -3px 10px, #fff 12px, transparent 12px);
        }
    }
    .right-wave {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 13px;
        height: 100%;
        &:after,
        &:before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            background-repeat: repeat;
        }
        &:before {
            width: 8px;
            background-size: 8px 20px;
            background-image: radial-gradient(circle at -5px 10px, transparent 12px, #fff 12px);
        }
        &:after {
            width: 15px;
            background-size: 40px 40px;
            background-image: radial-gradient(circle at 17px 10px, #fff 12px, transparent 12px);
        }
    } // &.white-wave{
    //   .top-wave{
    //     transform: rotateX(-180deg);
    //     top: -12px;
    //   }
    //   .bottom-wave{
    //     transform: rotateX(-180deg);
    //     bottom: -12px;
    //   }
    //   .left-wave{
    //     transform: rotateY(-180deg);
    //     left: -12px;
    //   }
    //   .right-wave{
    //     transform: rotateY(-180deg);
    //     right: -12px;
    //   }
    // }
}

.faq-type {
    .card-heading {
        .card-header {
            position: relative;
            outline: none;
            cursor: pointer;
            transition: 0.25s ease-in-out;
            &:hover {
                color: $primary;
            }
            .cross {
                position: absolute;
                right: 10px;
                top: 50%;
                width: 16px;
                height: 16px;
                transform: translateY(-50%);
                @include media-breakpoint-down(sm) {
                    width: 14px;
                    height: 14px;
                }
                &:after,
                &:before {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 2px;
                    position: absolute;
                    background: $dark;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }
                &:after {
                    height: 100%;
                    width: 2px;
                    display: none;
                }
            }
            &.collapsed {
                .cross {
                    &:after {
                        display: block;
                    }
                }
            }
            &:hover {
                .cross {
                    &:after,
                    &:before {
                        background: $primary;
                    }
                }
            }
        }
    }
}

.martha-btn {
    border-radius: 0;
    min-width: 135px;
    font-family: $tradegothic;
    font-size: 1.5rem;
    padding: 0.5rem 2rem 0.4rem;
    line-height: 1.3;
    @include media-breakpoint-down(sm) {
        font-size: 1.4rem;
        min-width: auto;
    }
}

.martha-icon {
    bottom: 60px;
    left: 60px;
    max-width: 128px;
    @include media-breakpoint-down(md) {
        max-width: 110px;
        bottom: 45px;
        left: 45px;
    }
    @include media-breakpoint-down(sm) {
        bottom: 30px;
        left: 30px;
        max-width: 90px;
    }
}

#ReCharge-Mobile-Nav {
    display: none !important;
}

.rc_customer__name {
    font-size: 1.8rem;
}

.rc_header-settings__title {
    h2 {
        font-size: 1.8rem;
    }
}

#customer_tab_content {
    .rc_layout {
        padding: 0;
    }
}

@include media-breakpoint-down(md) {
    .rc_layout__content {
        margin-top: 15px;
    }
}

.rc_layout {
    #customer_tab_nav h2,
    #customer_tab_content .rc_header-settings__title h2 {
        min-height: 35px;
    }
}

@media all and (-ms-high-contrast:none) {
    .bloomsyPedia .pediaPost_img,
    .for_anniversaries {
        overflow: hidden;
        img {
            top: 50% !important;
            left: 50% !important;
            transform: translate(-50%, -50%) !important;
            width: auto !important;
            height: 100% !important;
            max-width: none !important;
        }
    }
    .gift_img {
        overflow: hidden;
        img {
            top: 50% !important;
            left: 50% !important;
            transform: translate(-50%, -50%) !important; // width: auto !important;
            height: 100% !important;
            max-width: none !important;
        }
    }
    .page-banner img,
    .planbox-One img {
        height: auto !important;
        min-height: 100%;
    }
    .planbox-two img {
        height: auto !important;
        min-height: 100%;
    }
    .planbox-three,
    .planbox-two {
        overflow: hidden;
    }
    .planbox-three img {
        width: auto;
        max-width: none;
    }
    .vision-sub-images .about-img img {
        width: auto;
        max-width: none;
        min-width: 100%;
    }
    #how-it-works .works_step .step-img {
        overflow: hidden;
    }
    #how-it-works .works_step .step-img img {
        min-width: 100%;
        width: auto !important;
        max-width: none !important;
    }
    .select-gift.martha-funnel .gift-card img {
        width: auto;
        min-width: 100%;
        max-width: none !important;
        transform: translateX(-50%);
        left: 50%;
    }
    .height-fixed,
    .custom-height {
        min-height: 40vh;
    }
    .edit-shipping-box {
        .form-control {
            height: 32px !important;
        }
    }
}

.btn-success-added {
    &:focus {
        box-shadow: none !important;
    }
    .ion-success {
        width: 18px;
        height: 18px;
        &:before {
            content: '';
            background-image: url('https://cdn.shopify.com/s/files/1/0084/0617/1763/files/icon-success.svg?5815395005418667537');
            background-size: 100%;
            width: 16px;
            height: 16px;
            position: absolute;
            left: 0;
            top: 0;
            margin: auto;
        }
    }
}

.faq-fonts {
    .font-size-sm {
        @include media-breakpoint-down(md) {
            font-size: 1rem !important;
        }
    }
}

.btn-primary {
    &.disabled,
    &[disabled] {
        background-color: #ec1f2e !important;
        border-color: #ec1f2e !important;
        pointer-events: none;
        opacity: 0.7;
        color: #fff !important;
    }
}

@include media-breakpoint-down(xs) {
    .flatpickr-calendar.open {
        right: auto !important;
    }
}

@include media-breakpoint-up(sm) {
    .border-radious-right-0 {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}

.nav-pills-custom {
    overflow: auto;
    a {
        white-space: nowrap;
        &.active {
            color: #ec1f2e !important;
        }
    }
}

.martha-captions {
    .text-miller-semibold {
        p {
            font-family: inherit;
            font-weight: 600;
            letter-spacing: 0px;
        }
    }
}

#shipping-page {
    .rte {
        p {
            strong {
                color: #ec1f2e !important;
                font-weight: bold;
            }
        }
    }
}

@include media-breakpoint-down(sm) {
    .justify-content-center-mb {
        -ms-flex-pack: center !important;
        justify-content: center !important;
    }
    .pb-xs-0 {
        padding-bottom: 0 !important;
    }
}

.lodingSubscription {
    height: 200px;
    font-size: 16px;
    i {
        font-size: 22px;
        margin-right: 10px;
    }
}

/******occasions Pages******/

.occasions-section {
    .occasion-box {
        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 2px solid transparent;
            z-index: 999; // transform: scale(0);
            transition: all ease-in-out .3s;
        }
        &:hover,
        &:focus {
            &:after {
                border-color: $secondary;
                transform: scale(1);
            }
        }
    }
}

.occ-pages {
    .product-img {
        padding-bottom: 50%;
    }
    form {
        input[type="email"],
        button[type="submit"] {
            @include media-breakpoint-down(sm) {
                max-width: 350px;
            }
        }
    }
}

.popup-opend {
    position: fixed;
    width: 100%;
    height: 100%;
}

.content-occ-pages {
    p,
    li {
        font-size: 1.214rem !important;
    }
}

.content-occ-pages {
    h4 {
        text-transform: none;
    }
}

.blog-info-header {
    li:not(:last-child) {
        position: relative;
        @include media-breakpoint-down(xs) {
            margin-bottom: 0.5rem;
        }
        @include media-breakpoint-up(sm) {
            &:after {
                content: '';
                display: block;
                position: absolute;
                top: 50%;
                right: -2px;
                margin-top: -2px;
                width: 3px;
                height: 3px;
                background: $dark;
                border-radius: 50%;
            }
        }
    }
}

.border-radious-0 {
    border-radius: 0;
}

b,
strong {
    font-weight: bold;
}

.article-body {
    .block-border-all {
        >strong {
            font-size: $h4-font-size;
            margin-bottom: 10px;
            display: inline-block;
        }
    }
}

.Bloomsypedia-categories {
    .pedia-img {
        padding-top: 55%;
        position: relative;
        border-radius: 0;
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

// .breadcrumb-navigation{
//   .link-divider::after{
//     display: inline-block;
//     content: "\F3D0";
//     line-height: 10px;
//     margin-left: 10px;
//     font-size: 1.2rem;
//     font-family: "Ionicons";  
//     transform: rotate(-90deg);
//   }
// }
#pediablogpost-page {
    .give-gift h5 {
        font-size: 1.285rem !important;
    }
}

#bloomsypedia-page {
    .bg-img {
        @include media-breakpoint-down(sm) {
            height: 291px;
        }
    }
}

.bloomsyPedia {
    .list-group-flush {
        .list-group-item a {
            font-size: 1.285rem !important;
        }
    }
    .list-group-flush:last-child .list-group-item:last-child {
        border-bottom: 1px solid $border-color;
    }
    .list-group-flush .list-group-item:first-child {
        border-top: 0;
    }
    .pediaPost_img {
        height: 100%;
        min-height: 530px;
        position: relative;
        @include media-breakpoint-down(sm) {
            min-height: 370;
        }
        @include media-breakpoint-down(xs) {
            min-height: 300px;
        }
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.carousel-pedia {
    .arrow {
        fill: $gray-500;
    }
    @include media-breakpoint-up(ex-xl) {
        .flickity-prev-next-button.previous {
            left: -30px;
        }
        .flickity-prev-next-button.next {
            right: -30px;
        }
    }
}

.gift_img {
    padding-top: 80%;
    position: relative;
    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.column-count-3 {
    -webkit-columns: 3;
    -moz-columns: 3;
    columns: 3;
    @include media-breakpoint-down(md) {
        -webkit-columns: 2;
        -moz-columns: 2;
        columns: 2;
    }
    @include media-breakpoint-down(sm) {
        -webkit-columns: 1;
        -moz-columns: 1;
        columns: 1;
    }
}

.column-count-2 {
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
    @include media-breakpoint-down(sm) {
        -webkit-columns: 1;
        -moz-columns: 1;
        columns: 1;
    }
}

.column-count-4 {
    -webkit-columns: 4;
    -moz-columns: 4;
    columns: 4;
    @include media-breakpoint-down(md) {
        -webkit-columns: 3;
        -moz-columns: 3;
        columns: 3;
    }
    @include media-breakpoint-down(sm) {
        -webkit-columns: 1;
        -moz-columns: 1;
        columns: 1;
    }
}

.column-gap {
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
}

.anniversary-gift,
.wedding-anniversary-gift {
    .list-group .list-group-item:first-child {
        border-top: 1px solid $border-color;
    }
}

.link-underline {
    text-decoration: underline;
}

.for_anniversaries {
    height: 100%;
    min-height: 400px;
    position: relative;
    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.img-icon {
    max-width: 110px;
}

.collection-filters {
    .form-check {
        padding: 0;
        input {
            display: none;
            +label {
                cursor: pointer;
                span {
                    width: 20px;
                    height: 20px;
                    display: inline-block;
                    border: 1px solid $border-color;
                    margin-right: 0.8rem;
                    vertical-align: middle;
                    margin-top: -3px;
                    position: relative;
                    &:after {
                        content: "\f2bc";
                        font-family: "Ionicons";
                        display: block;
                        position: absolute;
                        top: 2px;
                        left: 3px;
                        color: $white;
                        font-size: 1.2rem;
                        opacity: 0;
                        line-height: 1;
                    }
                }
            }
            &:checked {
                +label {
                    span {
                        background: $primary;
                        border-color: $primary;
                        &:after {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}

#filtersCollapse {
    @include media-breakpoint-down(md) {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 1040;
        background: #fff;
        max-width: 300px;
        overflow: auto;
    }
}

/****** NEW COLLECTION PAGE CSS *****/

.shpal-img img {
    width: 100%;
}

.shpal-img {
    position: relative;
}

.shpal-img a {
    width: 100%;
}

.shpal-img h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-transform: uppercase;
    font-family: tradegothic;
    font-size: 33px;
}

#new-collection-page .card-body a.btn.btn-primary.btn-sm {
    background: #d76d7c;
    border: 1px solid #d76d7c;
    border-radius: 0;
    font-family: tradegothic;
    font-size: 17px;
}

#new-collection-page .card-title a {
    font-family: MillerDisplay;
    color: #606060;
}

#new-collection-page h1.page-title {
    font-family: tradegothic;
    font-size: 40px;
    color: #5f5f5f;
    text-transform: uppercase;
}

.collection-banner img.col-bnr {
    width: 100%;
}

.bnr-log-text-btn {
    position: absolute;
    top: 19%;
    left: 12%;
    text-align: center;
}

.collection-banner {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}

.bnr-log-text-btn a {
    background: #d76d7c;
    color: #fff;
    text-transform: uppercase;
    padding: 12px 20px;
    font-family: tradegothic;
    font-weight: normal;
    letter-spacing: 1px;
    font-size: 17px;
}

.bnr-log-text-btn p {
    color: #555758;
    text-transform: uppercase;
    font-family: tradegothic;
    margin: 27px 0 50px;
}

.col_blks span {
    font-weight: bold;
}

#new-collection-page .slider-content a {
    background: #d76d7c;
    color: #fff;
    z-index: 99999;
    opacity: 1;
    border-radius: 0;
    border: 1px solid #d76d7c;
    font-family: tradegothic;
}

.coll_slider_block1.header-slider .slider-content{
    content: "";
    background: #fff;
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0.8;
    @include media-breakpoint-down(sm) {
        position: static !important;
    }
}

#shopify-section-collection-header-slider .coll_slider_block h3.heading-txt.display-4 {
    color: #d76d7c;
    font-size: 18px !important;
    font-family: tradegothic;
    text-transform: uppercase;
    font-weight: normal !important;
    margin-top: 20px;
}

#shopify-section-collection-header-slider p.caption-txt {
    font-family: millerdisplay;
    margin-bottom: 36px !important;
}

#shopify-section-collection-header-slider h4.mb-4.mb-lg-6 {
    display: none;
}

.col_blks h2 {
    font-family: tradegothic;
    text-transform: uppercase;
    color: #5f5f5f;
}

div#shopify-section-collection-blocks {
    padding: 62px 0 100px;
    background: #f1f2f2;
}

.col_blks h4 {
    color: #d76d7c;
    font-family: tradegothic;
}

.clctn-clk {
    margin-top: 85px;
}

.wht-btm {
    background: #fff;
    padding-top: 30px;
    min-height: 153px;
}

.img-txt {
    box-shadow: 0 17px 50px 0 rgba(0, 0, 0, .07), 0 12px 15px 0 rgba(0, 0, 0, .03) !important;
}

p.bh-btr-blm {
    text-transform: uppercase;
}

.btm-txt {
    padding: 0 30px;
}

.img-txt {
    height: 100%;
    background: #fff;
}

.blk-imgss {
    position: relative;
}

img.col-logoimg {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 42%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

span.img-ovrlyr {
    background: #000;
    width: 200px;
    height: 200px;
    float: left;
    position: absolute;
    top: 50%;
    opacity: 0.3;
    border-radius: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*** END NEW COLLECTION PAGE CSS ****/

.bg_color_div {
    background-color: #ecedef;
    padding: 80px 0px 15px;
}

.banner_text_block {
    font-family: MillerDisplay;
    font-size: 30px;
}

img.martha-logo.banner_logo_margin {
    margin: 0px 0px 15px;
}

.coll_slider_block.header-slider .slider-content {
    padding: 0px 50px;
    height: 100%;
    left:10%;
    max-width: 450px;
    align-items: center;
    display: flex;

    &.caption_right{
        left: unset;
        right: 10%;
        transform: translateY(-50%);    
    }

    &.caption_left{
        left: 10%;
        right: unset;
        transform: translateY(-50%);
    }

    &.caption_center{
        left: 50%;
        transform: translate(-50%,-50%);
    }


}

.coll_slider_block a.btn.mr-3.mr-lg-4.btn-pink.btn-sm {
    color: #fff;
}

#shopify-section-new-collection .fancy-heading .page-title {
    font-size: 30px;
    text-transform: uppercase;
}

#shopify-section-new-collection p.h5.text-Roboto.font-weight-light.mb-0.text-primary {
    font-weight: 700 !important;
    color: #5f5f5f !important;
}

#shopify-section-new-collection .btn.btn-primary.btn-sm {
    border-color: #d76d7c;
    background-color: #d76d7c;
}

#shopify-section-new-collection .btn.btn-primary.btn-sm:hover {
    color: #fff;
}

@media only screen and (min-width:480px) and (max-width:767px) {
    .btm-txt {
        padding: 0 10px;
    }
    .clctn-clk .col-md-4.col-sm-4 {
        padding: 0 5px;
    }
}

@media only screen and (min-width:480px)and (max-width:600px) {
    span.img-ovrlyr {
        width: 80px;
        height: 80px;
    }
}

@media only screen and (min-width:601px)and (max-width:767px) {
    span.img-ovrlyr {
        width: 120px;
        height: 120px;
    }
}

@media only screen and (max-width:767px) {
    #shopify-section-new-collection .fancy-heading .page-title {
        font-size: 25px;
    }
    #shopify-section-collection-header-slider .coll_slider_block.header-slider .slider-content {
        padding: 0px 0;
    }
    .bnr-log-text-btn {
        top: 50%;
        left: 50%;
        text-align: center;
        transform: translate(-50%, -50%);
    }
    #new-collection-page h1.page-title,
    .col_blks h2,
    .martha-captions .text-miller-semibold p {
        font-size: 2.083rem;
    }
    .clctn-clk .col-md-4.col-sm-6 {
        margin-bottom: 20px;
    }
    .clctn-clk .col-md-4.col-sm-6:last-child {
        margin-bottom: 0;
    }
    #shopify-section-collection-header-slider .header-slider .slider-content {
        max-width: 100%;
    }
    #new-collection-page .product-img img {
        width: 100%;
    }
    img.martha-logo.banner_logo_margin {
        margin: 5px 0px 0;
        max-width: 100px !important;
    }
    #shopify-section-collection-header-slider p.caption-txt {
        margin-bottom: 9px !important;
    }
    .header-slider .slider-content {
        left: 0 !important;
        transform: translateY(0%) !important;
    }
    .header-slider .flickity-prev-next-button {
        display: none;
    }
    .container.row {
        margin: 0;
    }
    .header-slider .flickity-page-dots .dot {
        background: rgb(0, 0, 0);
    }
    .slider-content.justify-content-center.t-50.transform-t-50.pt-6.pb-3.pt-md-0.pb-md-0 {
        padding: 12px 0 0 !important;
    }
    .header-slider .flickity-page-dots {
        bottom: 20px;
    }
    .coll-carousel.flickity-enabled.is-draggable {
        padding-bottom: 57px;
    }
    .collection-banner {
        background-size: contain;
        height: auto;
    }
    .collection-banner .bnr-log-text-btn p {
        margin: 14px 0 17px;
    }
    .collection-banner .bnr-log-text-btn {
        margin-top: 0%;
        margin-bottom: 7%;
        transform: unset;
        padding-top: 50%;
        position: static;
    }
    div#shopify-section-collection-banner img {
        width: 108px;
    }
}

@media only screen and (min-width:768px)and (max-width:990px) {
    span.img-ovrlyr {
        width: 120px;
        height: 120px;
    }
}

@media only screen and (min-width:991px)and (max-width:1024px) {
    span.img-ovrlyr {
        width: 150px;
        height: 150px;
    }
} 
.text-tradegothic{
    font-family: tradegothic;
}

.coll-banner{
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    min-height: 345px;
    
    .banner-caption{
        top: 50%;
        transform: translateY(-50%);
    }

    @media only screen and (max-width:767px){
        min-height: 245px;
    }
}

// Password strength meter background image
.pass-colorbar {
background-image: url('{{ "passwordstrength.jpg" | asset_url }}');
}


// Addition to landing pages

.section-header-label{
    padding: 0 0!important; 
}

.section-content .section-grid-comparison-top{
    padding: 0 0 0 0!important; 
}

/**
* Hendricks Landing Page Styles
*
**/

.text-georgia {
    font-family: Georgia, serif;
}
.coll_slider_block.header-slider .hendricks-slider-content {
    padding: 0 20px;
    left: 5%;
    height: 100%;
    max-width: 450px;
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
}
.header-slider .hendricks-slider-content {
    position: absolute;
    z-index: 2;
    width: 100%;
    left: 0;
    right: 0;
}

.coll_slider_block.header-slider .hendricks-slider-content:before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: .8;
}
.hendricks-slider-content h2,
.hendricks-slider-content h3,
.hendricks-slider-content h4,
.hendricks-slider-content p,
#shopify-section-content-hendricks h2,
#shopify-section-content-hendricks p{
    font-family: Georgia, serif !important;
}
.hendricks-slider-content h2 {
    color: #96824d!important;
}
#shopify-section-content-hendricks .vision-sub-images{
    background: #ffffff!important;
}

ul.hendricks {
    list-style-type: none;
    margin-left: 0;
    text-indent: 1em;
    padding: 0;
}

ul.hendricks li {
    font-size: 1.1em;
    font-family: TradeGothic, sans-serif !important;
    border-bottom: 1px solid #96824d;
    text-transform: uppercase;
    text-align: left;
    color: #96824d;
    padding: 10px 0 10px 0;
}

ul.hendricks li:last-child {
    border-bottom: 1px solid #96824d;
}
ul.hendricks li:first-child {
    border-top: 1px solid #96824d;
}

ul.hendricks-recipe {
    list-style-type: none;
    margin-left: 0;
    padding: 0;
    margin-top: 20px;
    text-indent: 0.5em;
}

ul.hendricks-recipe li {
    font-size: 1.1rem;
    font-family: TradeGothic, sans-serif !important;
    border-bottom: none;
    text-transform: uppercase;
    text-align: left;
    color: #96824d;
    padding: 6px 0 6px 0;
}


.hendricks-top{
    min-height: 736px;
    position: relative;
}
.hendricks-top h3,
.hendricks-top h2 {
    font-family: Georgia, serif !important;
    color: #FFFFFF;
}
.hendricks-top h3 {
    font-size: 3.6rem;
    font-weight: 500;
}
.hendricks-top h2 {
    font-size: 1.7rem;
    font-weight: 100!important;

}
.delightfully-vintage{
    position: absolute;
    top: -450px;
}
hr.brown-rule {
    border: 1px solid #96824d;
    width: 82%;
}
.hendricks-sub-footer{
    margin-top: 200px;
}
.hendricks-footer-section{
    margin-top: -305px;
}
.hendricks-bottom{
    margin-top: 0px;
}
#hendricks-recipe-floater{
    margin-top: 200px;
}

.btn-hendricks {
    font-size: 1.07rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
    font-family: Georgia, serif;
}
.btn-tan {
    color: #fff;
    background-color: #96824d;
    border-color: #96824d;
}
.btn-tan:hover {
    color: #96824d;
    border-color: #96824d;
    background-color: transparent;
}
.btn-tan.focus, .btn-tan:focus {
    box-shadow: 0 0 0 0 rgba(150,130,77,.5);
}

@media only screen and (max-width: 767px){
    .heading-txt{
        font-size: 1.5rem!important;
        line-height: 2.1rem!important;
    }
    .sub-heading-txt{
        font-size: 1.9rem!important;
        line-height: 2.1rem!important;
    }
    .coll_slider_block.header-slider .hendricks-slider-content {
        padding: 0 20px;
        left: 0%;
        height: 100%;
        max-width: 450px;
    }
    .header-slider.tallheight .carousel-cell img {
        opacity: 0.4;
        filter: alpha(opacity=50); /* For IE8 and earlier */
    }
    .coll-carousel.flickity-enabled.is-draggable {
        padding-bottom: 0px!important;
    }
    .select-options .btn{
        margin-bottom: 10px;
    }
    #hendricks-recipe-floater {
        margin-top: -0px;
    }
    .hendricks-top {
        min-height: 456px;
    }
    .hendricks-recipe-container{
        background-color: #FFFFFF;
        opacity: 0.9;
        filter: alpha(opacity=50); /* For IE8 and earlier */
    }
    .hendricks-top img{
        opacity: 0;
        filter: alpha(opacity=50); /* For IE8 and earlier */
    }
    .hendricks-recipe-container .py-8 {
        padding-top: 2rem!important;
    }
    ul.hendricks-recipe li {
        padding: 4px 0 4px 0;
    }
    ul.hendricks-recipe {
        margin-top: 10px;
    }
    .hendricks-footer-section {
        margin-top: -32px;
        padding-top: 30px!important;
    }
    .hendricks-sub-footer {
        margin-top: 0px;
    }
}
