/*============================================================================
	#Desktop Menu
	==============================================================================*/

	#main-nav {		
		> ul{		
			display: flex;	
			justify-content: space-between;
			width:100%;
			margin:0;
			> li{				
				float: left;
				display: block;					
				margin-bottom: 0;					
				list-style: none;	
				@include transition(background .25s ease-in-out);		
				> a {
					display: block;					
					position: relative;
					text-transform: uppercase;
					padding:1.822rem 0.25rem; 
					color: $gray-800;						
					text-align: center;
					text-decoration: none;					
					@include transition(color .25s ease-in-out , border .25s ease-in-out);			
				}
				&.active,
				&:hover{
					> a { 
						color: $primary; 
					}
				}
			}
		}
		ul {	
			li.sub-menu {
				position: relative;
				list-style: none;
				display: block;
				margin-bottom: 0;	
				> a{
					&:after{
						display: inline-block;
						content: "\f3d0";
						line-height: 10px;
						margin-left: 10px;
						font-size: 1.2rem;
						font-family: "Ionicons";
					}	
				}
				&:hover {					
					> ul {
						opacity: 1; 
						visibility: visible;
						.sub-menu{
							> a{
								position: relative;
								display: block;
							}
						}
						li {
							height: 30px;
							overflow: visible;
							a{
								line-height: 30px;
							}
						}
					}
				}			
				/* Sub menu01 */
				ul {
					min-width: 100%;
					position: absolute;
					top: 100%;
					left: 0px;
					padding: 1rem 1.25rem;
					z-index:99;
					height:auto;
					margin:0;
					opacity: 0;
					visibility: hidden;
					background: $light;
					@include transition(opacity .25s ease .1s);
                  	list-style:none;
					li {
						height: 0;
						overflow: hidden;
						margin:0;
						@include transition(height .25s ease .1s);
						a{
							white-space: nowrap;
						}
						&:hover {
							> ul{
								z-index:999;
								> ul{ 
									opacity: 1; 
									visibility: visible;
									> li {
										height: 30px;
										overflow: visible;
										a{
											line-height: 30px;
										}
									}
								}
							}
						}
						ul{
							position: absolute;
							top: 0px;
							left:100%;
							opacity: 0;						
						 	@include transition(opacity .25s ease .1s);
							li {
								height: 0;
								overflow: hidden;
								padding: 0;
																			
								@include transition(height .25s ease .1s);					
								a {
									margin: 0;								
									border: none;
								}
								&:last-child { 
									> a { 
										border: none; 
									}
								}
							}
						}
					}			
				}
			}
			li.mega-menu{	
				> a{
					&:after{
						display: inline-block;
						content: "\f3d0";
						line-height: 10px;
						margin-left: 10px;
						font-size: 1.2rem;
						font-family: "Ionicons";
					}	
				}		
				.menu_dropdown{	
					width: 100%;
					position: absolute;
					margin: 0 auto;
					top: 100%;
					left: 0;
					right: 0;
					height: auto;
					opacity: 0;
					visibility: hidden;
					background-color: $white;
					overflow: hidden;
					box-shadow: $box-shadow-sm;
					// box-shadow: inset 0px 17px 24px rgba(0, 0, 0, 0.06);
					// box-shadow: inset 0px 8px 40px 0 rgba(0,0,0,0.1), 0 14px 40px 0 rgba(0,0,0,0.1);
					@include transition(all 0.15s ease-in-out 0.1s);
					@include clearfix();
					.card-img-top{
						&.pb-100{
							padding-bottom: 100%;
							position: relative;
							img{
								position: absolute;
								top: 0;
								left: 0;
								right: 0;
								bottom: 0;
								margin: auto;
								object-fit: cover;
							}
						}
					}
					.card-img-top{
						&.pb-100{
							padding-bottom: 100%;
							position: relative;
							img{
								position: absolute;
								top: 0;
								left: 0;
								right: 0;
								bottom: 0;
								margin: auto;
								object-fit: cover;
							}
						}
					}
					.card-body{
						.h6{
							@media screen and (max-width:1440px) and (min-width:1025px){
								overflow: hidden;
								text-overflow: ellipsis;
							}
							// white-space: nowrap;
							display: block;
						}
					}
					.card-text{
						white-space: nowrap;
					}
					ul{
						margin: 0;
					}
					.row{
						margin-left: -10px;
						margin-right: -10px;
						[class^="col-"]{
							padding-left: 10px;
							padding-right: 10px;	
						}
					}
				}
				&:hover{
					.menu_dropdown{	
						opacity: 1;
						visibility: visible;
					}
				}
			}		
		}
	}

	.menu-product{
		border-radius: 0;
		.card-img{
			a{
				padding-top:100%; 
				border-radius: 0;
				// img{
				// 	height: 100%;
				// }
			}
		}
	}
	

	/*======================================================================
		#Moblie Menu
	=======================================================================*/

		
	.mobile_nav{
		.menu-icon{
			width: 26px;
		}		
		.user-icon{
			width: 24px;	
		}
		.menu-item{				
			a{
				border: 0 !important;
			}
		}
	}
	#mobile-navigation{
		.meanmenu-reveal{
			display: none;
		}
		.menu-close {
			width: 40px;
			height: 40px;
			display: block;
			position: relative;
			cursor: pointer;
			@include media-breakpoint-down(sm) {
				width: 34px;
				height: 34px;
			}
			&:before,
			&:after{
				position: absolute;
				display: block;
				top:50%;
				left: 50%;
				width:22px;
				height:2px;
				background-color:$primary;
				content: "";
			}
			&:before{
				transform: translate(-50% , -50%) rotate(45deg);
			}
			&:after{
				width:2px;
				height:22px;
				transform: translate(-50% , -50%) rotate(45deg);
			}
		}
	}	


	.mean-container {
		.menu_dropdown{
			.grid{
				margin:0; 				
				.sub-nav{
					width: 100%;
					padding: 0;
				}
				.img-nav{
					display: none;
				}
			}
		}
		.mean-nav {
			width: 100%;
			// max-height: calc(100vh - 53px);
			// overflow: auto;
			> ul{
				> li{
					> ul{
						position: fixed;
						top: 0;
						right: 0;
						bottom: 0;
						background: #fff;
						z-index: 9;
						height: 100%;
						left: -100%;
						transition: left 0.5s;
						overflow: auto;
						// padding-top: 56px;
						&.slide_active{
							left:0;
							// padding-top: 54px;
						}
					}
				}
			}
			ul {
				padding: 0;
				margin: 0;
				width: 100%;
				list-style-type: none;
				li {
					position: relative;
					width: 100%;
					margin-bottom: 0;
					&.back{
						background-color: $gray-100;
						margin-bottom: 1rem;
						position: relative;
						// top: 0;
						z-index: 1;
						+ .sub-menu {
							margin-bottom: 1rem;
							margin-top: 1rem;
						}
						a{
							padding-left: 45px;
							text-transform: uppercase;
							padding-top: 14px;
							padding-bottom: 14px;
							line-height: 26px;
							
							&:after,
							&:before{
								content:'';
								width:10px;
								height:2px;
								position:absolute;
								background-color:$gray-800;
								display:block;
								top: 24px;
								left: 18px;
								transform: rotate(135deg);
							}
							&:after{
								top: auto;
								bottom: 22px;
								transform: rotate(-135deg);
							}
						}
						& + div{
							overflow: auto;
							height: calc(100% - 56px);		
							padding: 1rem 0;
						}
					}
					.sub-menu {
						> a{
							color: $primary;
							padding: 10px 30px;
							width: 100%;
							margin-bottom: 0;
							font-size: 17px;
						}
					}
					a{
						display: block;
						width: 100%;
						padding: 8px 20px;
						margin: 0;
						text-align: left;
						color: $gray-800;
						font-size: 14px;
						font-weight: 500;
						// line-height: 26px;
						margin-bottom: 0;
						border-bottom: 1px solid #e4e4e4;
						text-decoration: none;
						text-transform: uppercase;
						font-family: $text-latoMedium;
						&:focus{
							color: $primary;
						}
						&:hover {
							color: $primary;
							// background: rgba(255,255,255,0.1);
						}
						&.mean-expand {
							width: 39px;
							height: 39px;
							border: none !important;
							text-align: center;
							position: absolute;
							right: 0;
							top: 0;
							z-index: 2;
							font-weight: 700;
							&:after,
							&:before{
								content:'';
								width:10px;
								height:2px;
								position:absolute;
								background-color:$gray-800;
								display:block;
								top: 16px;
								left: 18px;
								transform: rotate(45deg);
							}
							&:after{
								top: auto;
								bottom: 15px;
								transform: rotate(-45deg);
							}
							&:hover {
								background: none;
							}
						}						
					}
					&.mean-last {
						a {
							border-bottom: none;
							margin-bottom: 0;
						}
					}
					ul{
						li{
							a, h5{
								width: 100%;
								padding: 10px 30px;
								border-bottom: 0;
							}
							h5 {
								text-transform:uppercase;
							}
							a {
								text-transform:capitalize;
							}
							li{
								a, h5{
									width: 100%;
									padding: 10px 30px;                              
								}
								li{
									a, h5{
										width: 100%;
										padding: 10px 40px;
									}
									li{
										a, h5{
											width: 50%;
											padding:10px 45px;
										}
									}
								}
							}
						}	
					}			
				}		
			}
		}
		.mean-push {
			float: left;
			width: 100%;
			padding: 0;
			margin: 0;
			clear: both;
		}

		.row{
			margin: 0; 
			[class^="col-"]{
				padding-left:0;
				padding-right:0;	
			}
		}
		.container{
			padding:0; 
		}

	}
	.mobile-menu{
		margin-top: 25px !important;
		li{
			a{
				border: 0 !important;
				padding: 10px 20px !important;
			}
		}
	}
	
	@include media-breakpoint-up(xl) {
		.col-custom-width{		
			flex: 0 0 25%; 
			max-width: 180px;
		}
		.col-4{
			.col-custom-width{		
				flex: 0 0 50%; 
			}	
		}
	}

	
	.navbar-toggler-icon {
		width:2.5rem;
		height: 2.5rem;
	}