<section class="section-content give-gift"> 
    <div class="container">
        <div class="row"> 
            <div class="col-12 col-md-6 mb-md-0 mb-6">
                <h2 class="mb-2">Anniversary Gifts</h2>
                <h5 class="mb-4">Overview/History</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <div class="mt-4"><a href="" class="btn btn-primary">give a gift</a></div>
            </div>
            <div class="col-12 col-md-6">
                 <div class="gift_img shadow-1">
                    <img src="https://cdn.shopify.com/s/files/1/0084/0617/1763/files/untitled-59-1100x1648.jpg?3352" />
                 </div>   
            </div>
        </div>
    </div>
</section>   

<section class="section-content anniversary-gift" style="background:#f5f5f5;"> 
    <div class="container">
        <div class="row"> 
            <div class="col-12 col-lg-3 col-md-4 mb-mb-0 mb-6">
                <p class="display-6">Here are some popular gifts to give for anniversaries based on the lenght og the wedding anniversary:</p>  
                <div class="mt-4 mt-md-6 mt-lg-7"><a href="" class="link-underline display-3 text-gray-500 font-weight-light">shop now!</a></div>
            </div>
            <div class="col-12 col-md-8 col-lg-9">
                <ul class="list-group list-group-flush font-weight-normal d-block column-count-3 column-gap"> 
                    <li class="list-group-item bg-transparent d-inline-block align-top px-0 w-100 border-bottom-0">FIRST ANNIVERSARY GIFT - PAPER </li>
                    <li class="list-group-item bg-transparent d-inline-block align-top px-0 w-100 border-bottom-0">SECOND ANNIVERSARY GIFT- COTTON </li>
                    <li class="list-group-item bg-transparent d-inline-block align-top px-0 w-100 border-bottom-0">THIRD ANNIVERSARY GIFT - LEATHER </li>
                    <li class="list-group-item bg-transparent d-inline-block align-top px-0 w-100 border-bottom-0">FOURTH ANNIVERSARY GIFT - FRUIT AND FLOWERS OR LINEN AND SILK </li>
                    <li class="list-group-item bg-transparent d-inline-block align-top px-0 w-100 border-bottom-0">FIFTH ANNIVERSARY GIFT - WOOD </li>
                    <li class="list-group-item bg-transparent d-inline-block align-top px-0 w-100 border-bottom-0">SIXTH ANNIVERSARY GIFT - IRON OR SUGAR </li>
                    <li class="list-group-item bg-transparent d-inline-block align-top px-0 w-100 border-bottom-0">SEVENTH ANNIVERSARY GIFT- WOOL OR COPPER </li>
                    <li class="list-group-item bg-transparent d-inline-block align-top px-0 w-100 border-bottom-0">EIGHTH ANNIVERSARY GIFT - BRONZE OR SALT </li>
                    <li class="list-group-item bg-transparent d-inline-block align-top px-0 w-100 border-bottom-0">NINTH ANNIVERSARY GIFT - POTTERY </li>
                    <li class="list-group-item bg-transparent d-inline-block align-top px-0 w-100 border-bottom-0">TENTH ANNIVERSARY GIFT - TIN OR ALUMINUM </li>
                    <li class="list-group-item bg-transparent d-inline-block align-top px-0 w-100 border-bottom-0">ELEVENTH ANNIVERSARY GIFT - STEEL</li>
                    <li class="list-group-item bg-transparent d-inline-block align-top px-0 w-100 border-bottom-0">TWELFTH ANNIVERSARY GIFT - SILK</li>
                    <li class="list-group-item bg-transparent d-inline-block align-top px-0 w-100 border-bottom-0">THIRTEENTH ANNIVERSARY GIFT - LACE </li>
                    <li class="list-group-item bg-transparent d-inline-block align-top px-0 w-100 border-bottom-0">FOURTEENTH ANNIVERSARY GIFT -IVORY </li>
                    <li class="list-group-item bg-transparent d-inline-block align-top px-0 w-100 border-bottom-0">FIFTEENTH ANNIVERSARY GIFT -CRYSTAL </li>
                    <li class="list-group-item bg-transparent d-inline-block align-top px-0 w-100 border-bottom-0">TWENTIETH ANNIVERSARY GIFT - CHINA </li>
                    <li class="list-group-item bg-transparent d-inline-block align-top px-0 w-100 border-bottom-0">TWENTY-FIFTH ANNIVERSARY GIFT -SILVER </li>
                    <li class="list-group-item bg-transparent d-inline-block align-top px-0 w-100 border-bottom-0">THIRTIETH ANNIVERSARY GIFT - PEARL </li>
                    <li class="list-group-item bg-transparent d-inline-block align-top px-0 w-100 border-bottom-0">THIRTY-FIFTH ANNIVERSARY GIFT -CORAL OR JADE </li>
                    <li class="list-group-item bg-transparent d-inline-block align-top px-0 w-100 border-bottom-0">FORTIETH ANNIVERSARY GIFT - RUBY </li>
                    <li class="list-group-item bg-transparent d-inline-block align-top px-0 w-100 border-bottom-0">FORTY-FIFTH ANNIVERSARY GIFT -SAPPHIRE </li>
                    <li class="list-group-item bg-transparent d-inline-block align-top px-0 w-100 border-bottom-0">FIFTIETH ANNIVERSARY GIFT - GOLD</li>
                </ul>
            </div>
        </div>
    </div>
</section>     

<section class="section-content"> 
    <div class="container">               
        <p class="column-count-2 column-gap">Times have changed, though, and the Chicago Public Library updated the list above to better reflect modern anniversary gifting, though many of the original gifts remain somewhere on the list. Our new favorite is gifting appliances for the fourth wedding anniversary. Gifts for anniversaries don't have to be according to the list above! Many popular gifts for anniversaries include flowers, jewelry, a special night out, and other meaningful tokens of affection such as a home-cooked meal. Flowers are one of the most special gifts due to their beauty but also their longevity relative to more fleeting gifts such as a night out or a wonderful meal. A gift of flowers can last long beyond the memories, evoking both love and happy thoughts for both the recipient and the giver. </p> 
    </div>
 </section>       

 <section class="section-content position-relative" style="background:url(https://cdn.shopify.com/s/files/1/0084/0617/1763/files/Styling_Your_Gerbera_Daisies2.jpeg?3759); background-size:cover;"> 
    <div class="overlay"></div>
    <div class="container position-relative">               
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-7 col-md-9 text-center text-white">  
                <h2 class="mb-3">Flowers for anniversaries</h2>
                <h5 class="mb-5">flowers are always a great idea for a romantic gift for him or her!</h5>
                <a href="" class="btn btn-light">shop now</a> 
            </div>
        </div>
    </div>
</section>   

 <section class="section-content wedding-anniversary-gift"> 
    <div class="container">               
        <div class="row">
            <div class="col-12 mb-md-5 mb-3">
                <h2 class="text-primary">Anniversary flower gifts</h2>                
            </div>            
        </div> 
        <div class="row">
            <div class="col-lg-3 col-md-4 mb-mb-0 mb-6">
                <h3 class="mb-md-5 mb-lg-6 mb-4 font-weight-light">Here are some of flower ideas for wedding anniversary gifts.</h3>
                <p class="mb-md-5 mb-lg-6 mb-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                <a href="" class="btn btn-primary">give a gift</a> 
            </div> 
            <div class="col-12 col-lg-9 col-md-8">
                <ul class="list-group list-group-flush font-weight-normal d-block column-count-2 column-gap"> 
                    <li class="list-group-item bg-transparent d-inline-block align-top px-0 w-100 border-bottom-0">FIRST WEDDING ANNIVERSARY GIFT FLOWER - CARNATION </li>
                    <li class="list-group-item bg-transparent d-inline-block align-top px-0 w-100 border-bottom-0">SECOND WEDDING ANNIVERSARY GIFT FLOWER - LILY OF THE VALLEY </li>
                    <li class="list-group-item bg-transparent d-inline-block align-top px-0 w-100 border-bottom-0">THIRD WEDDING ANNIVERSARY GIFT FLOWER - SUNFLOWER </li>
                    <li class="list-group-item bg-transparent d-inline-block align-top px-0 w-100 border-bottom-0">FOURTH WEDDING ANNIVERSARY GIFT FLOWER - HYDRANGEA </li>
                    <li class="list-group-item bg-transparent d-inline-block align-top px-0 w-100 border-bottom-0">FIFTH WEDDING ANNIVERSARY GIFT FLOWER - DAISY </li>
                    <li class="list-group-item bg-transparent d-inline-block align-top px-0 w-100 border-bottom-0">SIXTH WEDDING ANNIVERSARY GIFT FLOWER - CALLA </li>
                    <li class="list-group-item bg-transparent d-inline-block align-top px-0 w-100 border-bottom-0">SEVENTH WEDDING ANNIVERSARY GIFT FLOWER - FREESIA </li>
                    <li class="list-group-item bg-transparent d-inline-block align-top px-0 w-100 border-bottom-0">EIGHTH WEDDING ANNIVERSARY GIFT FLOWER - LILAC </li>
                    <li class="list-group-item bg-transparent d-inline-block align-top px-0 w-100 border-bottom-0">NINTH WEDDING ANNIVERSARY GIFT FLOWER - BIRD OF PARADISE </li>
                    <li class="list-group-item bg-transparent d-inline-block align-top px-0 w-100 border-bottom-0">TENTH WEDDING ANNIVERSARY GIFT FLOWER - DAFFODIL </li>
                    <li class="list-group-item bg-transparent d-inline-block align-top px-0 w-100 border-bottom-0">ELEVENTH WEDDING ANNIVERSARY GIFT FLOWER - TULIP </li>
                    <li class="list-group-item bg-transparent d-inline-block align-top px-0 w-100 border-bottom-0">TWELFTH WEDDING ANNIVERSARY GIFT FLOWER - PEONY </li>
                    <li class="list-group-item bg-transparent d-inline-block align-top px-0 w-100 border-bottom-0">THIRTEENTH WEDDING ANNIVERSARY GIFT FLOWER -CHRYSANTHEMUM </li>
                    <li class="list-group-item bg-transparent d-inline-block align-top px-0 w-100 border-bottom-0">FOURTEENTH WEDDING ANNIVERSARY GIFT FLOWER - DAHLIA </li>
                    <li class="list-group-item bg-transparent d-inline-block align-top px-0 w-100 border-bottom-0">FIFTEENTH WEDDING ANNIVERSARY GIFT FLOWER - ROSE </li>
                    <li class="list-group-item bg-transparent d-inline-block align-top px-0 w-100 border-bottom-0">TWENTIETH WEDDING ANNIVERSARY GIFT FLOWER - ASTER </li>
                    <li class="list-group-item bg-transparent d-inline-block align-top px-0 w-100 border-bottom-0">TWENTY-FIFTH WEDDING ANNIVERSARY GIFT FLOWER - IRIS </li>
                    <li class="list-group-item bg-transparent d-inline-block align-top px-0 w-100 border-bottom-0">TWENTY-EIGHTH WEDDING ANNIVERSARY GIFT FLOWER -ORCHID </li>
                    <li class="list-group-item bg-transparent d-inline-block align-top px-0 w-100 border-bottom-0">THIRTIETH WEDDING ANNIVERSARY GIFT FLOWER - LILY </li>
                    <li class="list-group-item bg-transparent d-inline-block align-top px-0 w-100 border-bottom-0">FORTIETH WEDDING ANNIVERSARY GIFT FLOWER - GLADIOLUS </li>
                    <li class="list-group-item bg-transparent d-inline-block align-top px-0 w-100 border-bottom-0">FIFTIETH WEDDING ANNIVERSARY GIFT FLOWER - YELLOW ROSE </li>
                </ul>
            </div>
        </div>
    </div>
</section>   


<section class="section-content" style="background:#f5f5f5;"> 
    <div class="container">
        <div class="row mb-md-6 mb-4 justify-content-center"> 
            <div class="col-xl-6 col-lg-7 col-md-8 text-md-center">
                <h3 class="font-weight-light">The best way to get the perfect gift is to have the professionals curate a selection for you! </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12 column-count-3 column-gap">
                <p>Here at Blooms,Box, we pride ourselves on bringing you the best blooms in beautiful bouquets from our farm partners (who are all Rainforest Alliance certified and sustainable). Let us build a very special custom bouquet for you every month that your spouse will love! We promise it will always be unique and one-of-a-kind - and also that you'll enjoy it, guaranteed. </p>
                <p>Our bouquets feature hand-tied arrangements that typically focus on a single type of flower that inspires us for the month. It arrives thoughtfully arranged with greenery that highlights the beauty of the featured flower and is designed to last in a vase for weeks. </p>
                <p>For another gift idea, why not send her a bouquet that reminds you of your special day? BloomsyBox offers many one-of-a-kind flowers that she may have picked for your wedding, or even the colors of the wedding brought to life in a stunning arrangement. To see our single-stem bouquets, <a href="">click here</a>. </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="mt-md-6 mt-4 text-md-center"><a href="" class="link-underline display-3 text-gray-500 font-weight-light">shop now!</a></div>
            </div>
        </div>
    </div>
</section>     

<section class="section-content"> 
    <div class="container">
        <div class="row">  
            <div class="col-lg-8 col-md-8 mb-mb-0 mb-5">  
                <h2>Roses for anniversaries</h2>
                <h5>Roses are always great idea for a romantic gift for her ot him!</h5>
                <div class="column-count-2 column-gap mt-4 mb-md-7 mb-5">
                    <p>Roses have many different meanings that change with the color of the blooms. Red is associated with romantic love while yellow is often associated with friendship but also joy. White is often used in weddings because of its double meanings of innocence and new beginnings. Pink roses are a wonderful way to show someone that you admire them, and lavender roses are a beautiful way to declare love at first sight. Green roses hearken back to life itself and indicate growth. If none of these 'traditional' rose colors are for you, there are so many other colors of roses to show your wife or husband or partner just how much you care about the. Often called novelty roses, these beauties are no less desired than their more traditional counterparts. </p>
                    <p>Red roses are certainly the most popular anniversary gifts and done well, they are truly breathtaking. You can never go wrong with a dozen red roses to show your wife or husband just how much you love them! Did you know that there's a reason for sending one dozen roses? The number twelve has been used in many cultures to indicate a full cycle of something such as hours of the clock, months of the year, or even the signs of the zodiac. It's a complete number and one that indicates fullness and perfection. A fun fact, however: receiving thirteen roses indicates that you have a secret admirer! </p>
                    <p>But if they're not really into red roses, Why not give your wife (or husband) a beautiful bouquet of their favorite color of rose? Roses come in so many colors that there's sure to be one just for them! BloomsyBox offers many varieties of roses that you can choose from that are delivered fresh to you from our farms all over the world that are sustainable and Rainforest Certified. Depending on the variety, they're valued not just for their rich colors but also for their unique petal patterns and their scents. Check out our information  0. on roses to find out more! </p>
                </div> 
                <a href="" class="btn btn-primary">Give a Gift</a>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="for_anniversaries shadow-1">
                    <img src="https://cdn.shopify.com/s/files/1/0084/0617/1763/files/untitled-59-1100x1648.jpg?3352" />
                 </div>   
            </div>     
        </div>
    </div>
</section>   

<section class="section-content" style="background:#f5f5f5;"> 
    <div class="container">
        <div class="row align-items-center">  
            <div class="col-md-3 mb-md-0 mb-5 text-center">
                <div class="img-icon mx-auto d-block"> 
                    <img src="https://cdn.shopify.com/s/files/1/0084/0617/1763/files/matha-logo.png?4876">
                </div>
                <div class="mt-md-5 mt-4 text-center"><a href="" class="link-underline display-3 text-gray-500 font-weight-light">shop now!</a></div>
            </div>
            <div class="col-md-9 text-center text-md-left">
                <h3 class="font-weight-light">For an extra special gift, <a href="" class="link-underline">Martha Stewart</a> has curated a monthly collection of her favorite roses in stunning, unique colors that you won't easily find anywhere else. She handpicked a rose for every month of the year, so why not let the style maven herself style a beautiful collection for your special someone for the whole year? </h3> 
            </div>
        </div>
    </div>
</section>     

<section class="section-content give-gift"> 
    <div class="container">
        <div class="row">             
            <div class="col-12 col-md-6 mb-mb-0 mb-5">
                 <div class="gift_img shadow-1">
                    <img src="https://cdn.shopify.com/s/files/1/0084/0617/1763/files/untitled-59-1100x1648.jpg?3352" />
                 </div>   
            </div>
            <div class="col-12 col-md-6">
                <h2 class="mb-2 text-primary">Anniversary Gifts ideas</h2>
                <div class="my-md-5 my-4">
                    <p>Anniversaries mark one of the most significant moments in our lives: the moment we met, married, or became "official" with our spouse. Our partners are such a special part of our lives that we always want to show them just how much they mean to us! </p>
                    <p>What better way to mark such a beautiful moment in time with a remarkable bouq. of fresh flowers? A flower subscription from BloomsyBox is a gift that can last all year! Each month you can receive a new bouquet featuring flowers that inspire us (and hopefully You too!). Every shipment is different and you'll never get the same bouquet twice. You can choose from a small, medium, and large size bouquet to ...red right to Your door from our farms that are sustainable and Rainforest Alliance Certified, meaning they care about your flowers and the environment too. </p>
                    <p>Jewelry is another popular way to show someone how much you care. Pieces gifted to a loved on on the occasion of a wedding anniversary are often their most treasured pieces and sometimes become heirlooms! For a gift that lasts beyond a lifetime, a beautiful necklace, stunning ring, memorable bracelet, or a timeless watch is just the thing to gift along with a bouquet! Much like birth gemstones, there are gemstones associated with the length of your anniversary. </p>
                </div>
                <div class="mt-4"><a href="" class="btn btn-primary">give a gift</a></div>
            </div> 
        </div>
    </div>
</section>  

<section class="section-content" style="background:#f5f5f5;"> 
    <div class="container">
        <div class="row"> 
            <div class="col-12">
                <ul class="list-group list-group-flush font-weight-normal d-block column-count-4 column-gap"> 
                    <li class="list-group-item bg-transparent d-inline-block align-top px-0 w-100 border-bottom-0">FIRST ANNIVERSARY GIFT - PAPER </li>
                    <li class="list-group-item bg-transparent d-inline-block align-top px-0 w-100 border-bottom-0">SECOND ANNIVERSARY GIFT- COTTON </li>
                    <li class="list-group-item bg-transparent d-inline-block align-top px-0 w-100 border-bottom-0">THIRD ANNIVERSARY GIFT - LEATHER </li>
                    <li class="list-group-item bg-transparent d-inline-block align-top px-0 w-100 border-bottom-0">FOURTH ANNIVERSARY GIFT - FRUIT AND FLOWERS OR LINEN AND SILK </li>
                    <li class="list-group-item bg-transparent d-inline-block align-top px-0 w-100 border-bottom-0">FIFTH ANNIVERSARY GIFT - WOOD </li>
                    <li class="list-group-item bg-transparent d-inline-block align-top px-0 w-100 border-bottom-0">SIXTH ANNIVERSARY GIFT - IRON OR SUGAR </li>
                    <li class="list-group-item bg-transparent d-inline-block align-top px-0 w-100 border-bottom-0">SEVENTH ANNIVERSARY GIFT- WOOL OR COPPER </li>
                    <li class="list-group-item bg-transparent d-inline-block align-top px-0 w-100 border-bottom-0">EIGHTH ANNIVERSARY GIFT - BRONZE OR SALT </li>
                    <li class="list-group-item bg-transparent d-inline-block align-top px-0 w-100 border-bottom-0">NINTH ANNIVERSARY GIFT - POTTERY </li>
                    <li class="list-group-item bg-transparent d-inline-block align-top px-0 w-100 border-bottom-0">TENTH ANNIVERSARY GIFT - TIN OR ALUMINUM </li>
                    <li class="list-group-item bg-transparent d-inline-block align-top px-0 w-100 border-bottom-0">ELEVENTH ANNIVERSARY GIFT - STEEL</li>
                    <li class="list-group-item bg-transparent d-inline-block align-top px-0 w-100 border-bottom-0">TWELFTH ANNIVERSARY GIFT - SILK</li>
                    <li class="list-group-item bg-transparent d-inline-block align-top px-0 w-100 border-bottom-0">THIRTEENTH ANNIVERSARY GIFT - LACE </li>
                    <li class="list-group-item bg-transparent d-inline-block align-top px-0 w-100 border-bottom-0">FOURTEENTH ANNIVERSARY GIFT -IVORY </li>
                    <li class="list-group-item bg-transparent d-inline-block align-top px-0 w-100 border-bottom-0">FIFTEENTH ANNIVERSARY GIFT -CRYSTAL </li>
                    <li class="list-group-item bg-transparent d-inline-block align-top px-0 w-100 border-bottom-0">TWENTIETH ANNIVERSARY GIFT - CHINA </li>
                    <li class="list-group-item bg-transparent d-inline-block align-top px-0 w-100 border-bottom-0">TWENTY-FIFTH ANNIVERSARY GIFT -SILVER </li>
                    <li class="list-group-item bg-transparent d-inline-block align-top px-0 w-100 border-bottom-0">THIRTIETH ANNIVERSARY GIFT - PEARL </li>
                    <li class="list-group-item bg-transparent d-inline-block align-top px-0 w-100 border-bottom-0">THIRTY-FIFTH ANNIVERSARY GIFT -CORAL OR JADE </li>
                    <li class="list-group-item bg-transparent d-inline-block align-top px-0 w-100 border-bottom-0">FORTIETH ANNIVERSARY GIFT - RUBY </li>
                    <li class="list-group-item bg-transparent d-inline-block align-top px-0 w-100 border-bottom-0">FORTY-FIFTH ANNIVERSARY GIFT -SAPPHIRE </li>
                    <li class="list-group-item bg-transparent d-inline-block align-top px-0 w-100 border-bottom-0">FIFTIETH ANNIVERSARY GIFT - GOLD</li>
                </ul>
            </div>
        </div>
    </div>
</section>  

 <section class="section-content wedding-anniversary-gift"> 
    <div class="container">               
        <div class="row">
            <div class="col-12 mb-md-5 mb-3">
                <h2 class="text-primary">Anniversary flower gifts</h2>                
            </div>            
        </div> 
        <div class="row">
            <div class="col-lg-3 col-md-4 mb-mb-0 mb-5">
                <h3 class="mb-5 font-weight-light">Have your thought about giving about giving your partner a bouquet that echoes the colors of your wedding?</h3>
                <a href="" class="btn btn-primary">give a gift</a> 
            </div> 
            <div class="col-12 col-lg-9 col-md-8">
                <div class="column-count-2 column-gap">
                    <p>Roses have many different meanings that change with the color of the blooms. Red is associated with romantic love while yellow is often associated with friendship but also joy. White is often used in weddings because of its double meanings of innocence and new beginnings. Pink roses are a wonderful way to show someone that you admire them, and lavender roses are a beautiful way to declare love at first sight. Green roses hearken back to life itself and indicate growth. If none of these 'traditional' rose colors are for you, there are so many other colors of roses to show your wife or husband or partner just how much you care about the. Often called novelty roses, these beauties are no less desired than their more traditional counterparts. </p>
                    <p>Red roses are certainly the most popular anniversary gifts and done well, they are truly breathtaking. You can never go wrong with a dozen red roses to show your wife or husband just how much you love them! Did you know that there's a reason for sending one dozen roses? The number twelve has been used in many cultures to indicate a full cycle of something such as hours of the clock, months of the year, or even the signs of the zodiac. It's a complete number and one that indicates fullness and perfection. A fun fact, however: receiving thirteen roses indicates that you have a secret admirer! </p>
                    <p>But if they're not really into red roses, Why not give your wife (or husband) a beautiful bouquet of their favorite color of rose? Roses come in so many colors that there's sure to be one just for them! BloomsyBox offers many varieties of roses that you can choose from that are delivered fresh to you from our farms all over the world that are sustainable and Rainforest Certified. Depending on the variety, they're valued not just for their rich colors but also for their unique petal patterns and their scents. Check out our information  0. on roses to find out more! </p>
                </div>
            </div>
        </div>
    </div>
</section>    

<section class="section-content position-relative" style="background:url(https://cdn.shopify.com/s/files/1/0084/0617/1763/files/Styling_Your_Gerbera_Daisies2.jpeg?3759); background-size:cover;"> 
    <div class="overlay"></div>
    <div class="container position-relative">               
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-7 col-md-9 text-center text-white">
                <h2 class="mb-3">Flowers for anniversaries</h2>
                <h5 class="mb-5">flowers are always a great idea for a romantic gift for him or her!</h5>
                <a href="" class="btn btn-light">shop now</a> 
            </div>
        </div>
    </div>
</section>