{% section 'bloomsy-pedia-main-categories' %}
{% comment %} <section class="position-relative section-content" style="background:url('https://cdn.shopify.com/s/files/1/0084/0617/1763/files/bloomsypedia.jpg?16706270036609394158') center no-repeat; background-size:cover;">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4 py-md-6 py-5 text-md-left text-center">  
                <h1 class="mb-2 display-4">Bloomsypedia</h1>
                <h4 class="text-uppercase text-primary mb-3">Lorem Ipsum Dolor</h4>
                <p class="mb-0 font-weight-normal">You’ve signed up for your BloomsyBox subscription. Now what? We’re glad you asked! Here’s how the process works – from cutting your flowers on the farm to delivering them to your doorstep and everything in-between.</p>
            </div>
        </div>
    </div> 
</section> 

<section class="section-content">
    <div class="container">
        <div class="Bloomsypedia-categories">
            <div class="row">
                <div class="col-sm-6 col-lg-4 my-3 d-flex align-items-stretch">
                    <div class="card bg-white text-left border-0">
                        <div class="card-img pedia-img border-radious-0">
                            <img data-sizes="auto" src="//cdn.shopify.com/s/files/1/0084/0617/1763/articles/Unknown-1100x731.jpeg?v=1551166209">
                        </div>
                        <div class="card-body px-0 pb-0">
                            <h3 class="card-title">
                                <a href="" class="text-primary">Ocassions</a>
                            </h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 my-3 d-flex align-items-stretch">
                    <div class="card bg-white text-left border-0">
                        <div class="card-img pedia-img border-radious-0">
                            <img data-sizes="auto" src="//cdn.shopify.com/s/files/1/0084/0617/1763/articles/Unknown-1100x731.jpeg?v=1551166209">
                        </div>
                        <div class="card-body px-0 pb-0">
                            <h3 class="card-title">
                                <a href="" class="text-primary">Ocassions</a>
                            </h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 my-3 d-flex align-items-stretch">
                    <div class="card bg-white text-left border-0">
                        <div class="card-img pedia-img border-radious-0">
                            <img data-sizes="auto" src="//cdn.shopify.com/s/files/1/0084/0617/1763/articles/Unknown-1100x731.jpeg?v=1551166209">
                        </div>
                        <div class="card-body px-0 pb-0">
                            <h3 class="card-title">
                                <a href="" class="text-primary">Ocassions</a>
                            </h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 my-3 d-flex align-items-stretch">
                    <div class="card bg-white text-left border-0">
                        <div class="card-img pedia-img border-radious-0">
                            <img data-sizes="auto" src="//cdn.shopify.com/s/files/1/0084/0617/1763/articles/Unknown-1100x731.jpeg?v=1551166209">
                        </div>
                        <div class="card-body px-0 pb-0">
                            <h3 class="card-title">
                                <a href="" class="text-primary">Ocassions</a>
                            </h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 my-3 d-flex align-items-stretch">
                    <div class="card bg-white text-left border-0">
                        <div class="card-img pedia-img border-radious-0">
                            <img data-sizes="auto" src="//cdn.shopify.com/s/files/1/0084/0617/1763/articles/Unknown-1100x731.jpeg?v=1551166209">
                        </div>
                        <div class="card-body px-0 pb-0">
                            <h3 class="card-title">
                                <a href="" class="text-primary">Ocassions</a>
                            </h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 my-3 d-flex align-items-stretch">
                    <div class="card bg-white text-left border-0">
                        <div class="card-img pedia-img border-radious-0">
                            <img data-sizes="auto" src="//cdn.shopify.com/s/files/1/0084/0617/1763/articles/Unknown-1100x731.jpeg?v=1551166209">
                        </div>
                        <div class="card-body px-0 pb-0">
                            <h3 class="card-title">
                                <a href="" class="text-primary">Ocassions</a>
                            </h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 my-3 d-flex align-items-stretch">
                    <div class="card bg-white text-left border-0">
                        <div class="card-img pedia-img border-radious-0">
                            <img data-sizes="auto" src="//cdn.shopify.com/s/files/1/0084/0617/1763/articles/Unknown-1100x731.jpeg?v=1551166209">
                        </div>
                        <div class="card-body px-0 pb-0">
                            <h3 class="card-title">
                                <a href="" class="text-primary">Ocassions</a>
                            </h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</section>  {% endcomment %}