{% assign total_items = block.settings.recently_viewed_products_view %}

<section v-if="recentlyViewed.length > 0" class="section-recently-viewed-products {% if block.settings.recently_viewed_products_section_padding %}section-content{% endif %}" style="background-color: {{ block.settings.recently_viewed_products_section_bg_color }}; color: {{ block.settings.recently_viewed_products_section_txt_color }}" {{ block.shopify_attributes }} >
  <div class="{% if block.settings.recently_viewed_products_fluid_layout %}container-fluid{%else%}container{% endif %}">
    <div class="row {% if block.settings.recently_viewed_products_section_no_gutters %}no-gutters{% endif %}">
      <div class="col text-center">

        {% if block.settings.recently_viewed_products_heading_txt != '' %}
          <h2 class="section-title mb-4">{{ block.settings.recently_viewed_products_heading_txt }}</h2>
        {% endif %}

        <div v-if="recentlyViewed.length > 0" class="carousel"
          data-flickity-ajax='{
            "adaptiveHeight": true,
            "contain": true,
            "wrapAround": false,
            "freeScroll": false,
            "groupCells": "100%",
            "accessibility": true,
            "setGallerySize": true,
            "dragThreshold": 20,
            "lazyLoad": true,
            "prevNextButtons": {{block.settings.recently_viewed_products_nav_arrows}},
            "pageDots": {{block.settings.recently_viewed_products_nav_dots}},
            {% if block.settings.recently_viewed_products_auto_play > 0 %}"autoPlay": {{block.settings.recently_viewed_products_auto_play}}000,{% endif %}
            "arrowShape": {"x0": 10, "x1": 60, "y1": 50, "x2": 60, "y2": 45, "x3": 15}
           }'>

           <div v-for="product in recentlyViewed.slice(0, {{ total_items }})" class="carousel-cell d-flex equal-height
           {% if block.settings.fluid_recently_viewed_products_section %}col-12 col-sm-6 col-lg-4 col-xl-3{% else %}col-12 col-sm-6 col-lg-4{% endif %}
           ">

            <div class="card card-product text-left">
             <span class="badges">
               <span v-if="product.compare_at_price > product.price" class="badge bg-warning text-white">{{ 'products.product.on_sale' | t | escape }}</span>
             </span>
             <div class="card-img text-center" :class="{'bg-gray-300': !product.featured_image}">
               <a v-if="product.featured_image" :href="_getvariantUrl(product.product_handle, product.id)">
                 <img
                     :data-flickity-lazyload-src="_getSizedImageUrl(product.featured_image, 'pico')"
                     :data-flickity-lazyload-srcset="_getSizedImageUrl(product.featured_image, '600x')"
                     :alt="product.name" class="img-fluid"/>
               </a>
               <span v-else>
                 {{ 'product-1' | placeholder_svg_tag: 'img-fluid' }}
               </span>
             </div>
             <div class="card-body row no-gutters">
               <div class="col-md-8">
                 <h6 class="card-title m-0">
                   <a :href="_getvariantUrl(product.product_handle, product.id)" v-text="product.name"></a>
                 </h6>
               </div>
               <div class="col-md-4 text-left text-md-right">
                 <s v-if="product.compare_at_price > product.price" v-html="_formatMoney(product.compare_at_price)" class="price text-gray-600 m-0 p-0"></s>
                 <span v-html="_formatMoney(product.price)" class="price m-0 p-0"></span>
               </div>
               <div class="col-12 col-md-8 mt-2">
                 <a href="#" @click.prevent="_addToCart('grid-item', product.id)" class="btn btn-primary btn-sm" :class="{'disabled': !product.available}" title="{{ 'products.product.add_to_cart' | t | escape }}" rel="nofollow" aria-label="{{ 'products.product.add_to_cart' | t | escape }}" data-toggle="tooltip" data-trigger="hover" data-placement="top">
                   <i class="icon ion-md-cart"></i>
                 </a>

                 {% if settings.enable_quickshop %}
                   <a href="#" @click.prevent="_viewQuickShop(product.product_handle, product.public_title)" class="btn btn-outline-primary btn-sm" title="{{ 'products.product.quickshop' | t | escape }}" rel="nofollow" aria-label="{{ 'products.product.quickshop' | t | escape }}" data-toggle="tooltip" data-trigger="hover" data-placement="top">
                     <i class="icon ion-md-eye"></i>
                 </a>
                 {% endif %}

                 {% if settings.enable_wishlist %}
                   <template v-if="!_checkWishlist(product.id)" >
                     <a href="#" @click.prevent="_addVariantToWishlist(product.product_handle, product.id)" class="btn btn-outline-primary btn-sm" title="{{ 'general.wishlist.add_to_wishlist' | t }}" rel="nofollow" aria-label="{{ 'general.wishlist.add_to_wishlist' | t }}" data-toggle="tooltip" data-trigger="hover" data-placement="top">
                       <i class="icon ion-md-star-outline"></i>
                     </a>
                   </template>
                   <template v-else>
                     <a class="btn btn-outline-primary btn-sm" rel="nofollow" title="{{ 'general.wishlist.added_to_wishlist' | t }}" rel="nofollow" aria-label="{{ 'general.wishlist.added_to_wishlist' | t }}" data-toggle="modal" data-target="[data-modal-wishlist]" tabindex="-1">
                       <i class="icon ion-md-star"></i>
                     </a>
                   </template>
                 {% endif %}
               </div>
               <div data-collection class="col-12 col-md-4 mt-2 mt-md-0 text-left text-md-right">
                 <div data-item-reviews :data-product-id="product.product_id"></div>
               </div>
             </div>
           </div>
         </div>
        </div>
      </div>
    </div>
  </div>
</section>
