{% assign article_image = article.image.src | img_url %}

<div class="card d-block bg-white no-gutters border-top-0 border-left-0 border-right-0 {% if forloop.last %} border-bottom-0 pb-0 {% else %} border-bottom pb-5 {% endif %} border-radious-0">
  <div class="{% if sidebar_enabled %}col-lg-12{% else %}col-xl-9 col-lg-10 col-md-11 col-12{% endif %} p-md-4 p-3 mx-auto text-center">
    <ul class="list-unstyled d-sm-flex d-block justify-content-center small blog-info-header"> 
      <li class="px-3"><span class="text-uppercase text-muted">{{ blog.title}}</span></li>
      <li class="px-3">
        <span class="text-muted mb-4">
          <i class="icon ion-md-time text-warning"></i>
          <time datetime="formatDate(article.node.publishedAt)"> {{ article.published_at | date: "%a, %b %d, %Y" }}</time>
        </span>
      </li>
      <li class="px-3"><i class="icon ion-md-create text-warning mr-1"></i><span class="font-italic font-secondary text-muted">by</span> <span class="text-uppercase">{{ article.author }}</span></li> 
    </ul>    
    <h2 class="card-title mt-1 mt-lg-3 mb-md-3 mb-0"><a href="{{ article.url }}">{{ article.title }}</a></h2>    
  </div>
  <div class="{% if sidebar_enabled %}col-lg-12{% else %}col-lg-12{% endif %} bg-img lazyload">
    <div class="card-img">
             
                {% if article.content contains "<img" %}
                  {% assign src = article.content | split: 'src="' %}
                  {% assign src = src[1] | split: '"' | first | replace: '//cdn', 'http://cdn' | replace: 'http:http://', 'http://' | remove: 'https:' %}
                  {% assign src = src  %}
              
              	{% else %}
                  {% if article.image.src != blank %}
                  	{% assign src = article.image.src | img_url: '1280x'  %}
                  {% endif %}
                {% endif %}
              {% if src != blank %}
                <img src="{{ src }}"
                     alt="{{ article.title | escape }}"
                     class="m-auto d-block"
                     >
              {% else %}
 {% unless article_image contains 'no-image' %}
      
        <img
          src="{{ article.image.src | img_url: 'pico'}}"
          data-src="{{ article.image.src | img_url: '800x500', crop: 'center' }}"
          class="img-fluid lazyload"
          alt="{{ article.image.alt | escape }}" />
  
  {% endunless %}
              {% endif %}
   
</div>
  <div class="{% if sidebar_enabled %}col-lg-12{% else %}col-xl-9 col-lg-10 col-md-11 col-12{% endif %} px-md-4 px-3 pt-3 pb-0 mx-auto"> 
    <div class="text-center py-md-3">      
      {% if article.excerpt_or_content != blank %}
      <div class="text-center mb-5">{{ article.excerpt_or_content | strip_html | truncatewords: 50}}</div>
      {% endif %}
      <div class="mb-5">
        <a href="{{ article.url }}" class="btn btn{% if section.settings.btn_type == 'outline' %}-{% endif %}{{ section.settings.btn_type }}-{{ section.settings.btn_variant }} {{ section.settings.btn_size }}">{{ section.settings.btn_txt }} <i class="ion ion-ios-arrow-forward ml-2"></i></a> 
      </div>    
      {% if section.settings.enable_social_sharing %}
        <div class="text-center d-flex justify-content-center align-items-center">
          <h6 class="mb-0 font-weight-bold mr-2">{{ 'general.social.share' | t }}</h6>
          {% include 'social-sharing', share_title: article.title, share_permalink: article.url, share_image: article.image %}
        </div>
      {% endif %}
    </div>
  </div>
</div>
