{% assign donate_product = all_products[section.settings.product_donate] %}
{% assign donate_product_name = donate_product.title %}

<template v-if="cart.item_count > 0">
	<div class="item-list cart-body">
		<div v-for="(item, index) in cart.items" class="cart-item py-4 px-3 border-bottom" data-cart-item>
				<div class="row align-items-center" >

					<div class="col-12 col-md-5">
						<div class="d-flex align-items-center mb-3 mb-md-0">
							<div class="cart-img mr-2 mr-sm-3 mr-md-8">
								<template v-if="item.product_type == 'add-on' || item.product_type == 'Martha Stewart'">
									<div class="d-block cart-item-img product-img">
										<img :src="_getSizedImageUrl(item.image, 'large')" :alt="item.product_title" class="img-fluid item-img img-cover mw-100"/>
									</div>
								</template>
								<template v-else>
									<a v-if="item.image != null" :href="item.url" class="d-block cart-item-img product-img">
										<img :src="_getSizedImageUrl(item.image, 'large')" :alt="item.product_title" class="img-fluid item-img img-cover mw-100"/>
									</a>
									<a v-else :href="item.url" class="product-img">{{ 'product-1' | placeholder_svg_tag: 'img-fluid bg-gray-100' }}</a>
								</template>
							</div>
							<div class="cart-item-text">
								
								<h6 class="mb-1 text-primary" v-if="item.product_type == 'add-on'" v-text="item.product_type"></h6>
								<h6 class="mb-1 text-primary" v-text="item.variant_title"></h6>
								<h5 class="m-0">
									<template v-if="item.product_type == 'add-on' || item.product_type == 'Martha Stewart'">
										<span v-text="item.product_title" class="text-Roboto font-weight-bold text-capitalize"></span>
									</template>
									<template v-else>
										<a :href="item.url" v-text="item.product_title" class="text-Roboto font-weight-bold text-capitalize"></a>
									</template>
								</h5>
								<template v-if="item.product_type != 'add-on'">
								<div v-if="item.properties" class="item-properties mt-1">
									<p class="mb-0 lead" v-for="(value, key, index) in item.properties" v-if="(key != 'subscription_id' && key != 'shipping_interval_frequency' && key != 'shipping_interval_unit_type' && key != 'charge_interval_frequency' && value != 'Select Delivery Date')">
									${key} : ${value}
									</p>
								</div>
								</template>
								<a href="#" @click.prevent="_removeFromCart($event, index+1)" data-toggle="tooltip" data-trigger="hover" data-placement="top" class="small-text font-weight-bold text-primary text-uppercase mt-2 d-block">REMOVE</a>
							</div>
						</div>
					</div>
					<div class="col-3 col-md-2 text-left text-md-center">
						<h5 class="text-Roboto font-weight-light card-price mb-0 item-price" v-text="_formatMoney(item.price)"></h5>
					</div>
					<div class="col-6 col-md-3 text-center">
						<div class="quantity-wrapper d-inline-block" data-qty-container>
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text p-0 border-right-0 bg-transparent border-gray-400">
										<a href="#" class="btn-decrease" data-qty-decrease @click.prevent="_updateCart($event, index+1)" rel="nofollow" aria-label="Decrease" title="Decrease"></a>
									</span>
								</div> 
								<input readonly type="number" id="Quantity" name="quantity" :value="item.quantity" step="1" min="1" pattern="[0-9]*" inputmode="numeric" data-qty-input class="quantity px-0 bg-transparent form-control border-left-0 border-right-0 border-gray-400 text-center text-lato font-weight-normal"> 
								<div class="input-group-append">
									<span class="input-group-text p-0 border-left-0  bg-transparent border-gray-400">
										<a href="#" class="btn-increase" data-qty-increase @click.prevent="_updateCart($event, index+1)" rel="nofollow" aria-label="Increase" title="Increase"></a>
									</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-3 col-md-2 text-right">
						<p class="mb-0 h5 text-Roboto font-weight-light amount" v-text="_formatMoney(item.line_price)"></p>
					</div>
				</div> 
		</div>
	</div>
</template>

