
<form data-form-product data-productid="{{product.id}}" action="/cart/add" method="post" enctype="multipart/form-data" name="">
    {% if settings.enable_recharge and product.available and product.metafields.subscriptions.subscription_id %}
        <div data-recharge-subscription-widget class="col-12 mb-3">
            <h6 class="my-2">Subscription:</h6>
            <div class="inner"></div>
        </div>
    {% endif %}
    {% assign addOnsVal = product.metafields.product_manager.add_ons %}
    <input type="hidden" value="{{addOnsVal}}" data-product-addons/>
    {% assign productHandle = addOnsVal | split: ',' %}
    {% unless product.has_only_default_variant %}
    {% for option in product.options_with_values %}
      {% assign option_name = option.name | downcase %}
      <div class="selector-wrapper my-3">
        <h4 for="SingleOptionSelector-{{ forloop.index0 }}" class="font-weight-light mb-2 d-inline-block pr-2">
          {{ option.name }} :
        </h4>
        {% if enable_color_swatches and option_name == 'color' %}
          {% comment %} Color swatches {% endcomment %}
          {% assign file_extension = '.jpg' %}
          <ul class="list-unstyled list-inline my-0 py-0">
            {% for value in option.values %}
              <li class="list-inline-item">
                <div class="color-swatch">
                  <label data-toggle="tooltip" data-trigger="hover" title="{{ value | escape | replace: '-', ' ' }}" style="background-color: {{ value | split: ' ' | last | handle }}; background-image: url({{ value | handle | append: file_extension | asset_url }})">
                      <input
                        type="radio"
                        name='color'
                        value="{{ value | escape }}"
                        data-single-option-selector
                        data-index="option{{ option.position }}"
                        @change="_getVariant($event)"
                        {% if option.selected_value == value %}checked="checked"{% endif %} >
                  </label>
                </div>
              </li>
            {% endfor %}
          </ul>

        {% elsif enable_size_swatches and option_name == 'size' %}
          {% comment %} Size swatches {% endcomment %}
          <ul class="list-unstyled list-inline my-0 py-0 d-inline-block">
            {% for value in option.values %}
              <li class="list-inline-item">
                <div class="size-swatch">
                    <input
                    type="radio"
                    name='size'
                    id="{{ value | handleize }}"
                    value="{{ value | escape }}"
                    data-single-option-selector
                    data-index="option{{ option.position }}"
                    @change="_getVariant($event)"
                    {% if option.selected_value == value %}checked="checked"{% endif %} >
                  <label for="{{ value | handleize }}">
                    {{ value | escape }}
                  </label>
                </div>
              </li>
            {% endfor %}
          </ul>

        {% else %}
          {% comment %} Normal select {% endcomment %}
          <select
            class="form-control form-control-sm"
            data-single-option-selector
            data-index="option{{ option.position }}"
            data-productid="{{product.id}}"
            @change="_getVariant($event)">
            {% for value in option.values %}
              <option
                value="{{ value | escape }}"
                {% if option.selected_value == value %}selected="selected"{% endif %}>
                  {{ value }}
              </option>
            {% endfor %}
          </select>
        {% endif %}

      </div>
    {% endfor %}
  {% endunless %}

  {% comment %} Hidden select - needed for variant selection {% endcomment %}
  <select class="form-control form-control-sm d-none"
    name="id"
    data-productid="{{product.id}}">
    {% for variant in product.variants %}
      <option
        {% if variant == current_variant %}selected="selected"{% endif %}
        {% unless variant.available %}disabled="disabled"{% endunless %}
        :value="currentVariant.id">
          {{ variant.title }}
      </option>
    {% endfor %}
  </select>
  {% if product.description %}
    <div class="rte {% unless product.metafields.product_manager.add_ons == '-' %}mb-4{% endunless %}">
        {{ product.description }}
    </div>
    {% endif %}  
    {% unless product.metafields.product_manager.add_ons == '-' %}
    <div class="product-details mobile-w-80 w-100">
        {% if product.metafields.product_manager.add_ons != blank or section.settings.Standalone_collection != blank %}
        <h4 class="font-weight-light mb-3">Add-ons:</h4>
        {% endif %}
        <div class="addons-slider row" 
            data-flickity='{
              "contain": true,
              "freeScroll": false,
              "groupCells": "100%",
              "cellAlign": "left",
              "draggable": true,
              "pageDots": false,
              "arrowShape": {"x0": 20, "x1": 75, "y1": 50, "x2": 80, "y2": 40, "x3": 35}
            }'>
            
            {% if product.metafields.product_manager.add_ons != blank %}
                {% for productAddOns in productHandle %}
                    {% assign productVal = all_products[productAddOns] %}
                    {% if productVal.available == true %}
                    <div class="col-xl-3 col-md-4 col-6 px-3 px-sm-2 mb-2 addons-slider-side">
                        <input v-on:click="_selectedAddOnsProduct($event,'{{productVal.handle}}',{{productVal.price}})" type="checkbox" id="{{productVal.handle}}" value="{{productVal.selected_or_first_available_variant.id}}" name="id" class="custom-product-input"/>
                        <label for="{{productVal.handle}}"  class="product-img custom-product-main mb-0">
                            <img src="{{productVal.featured_image | img_url :'200x'}}" alt="" class="img-fluid l-0 r-0 b-0 t-0 position-absolute mh-100 m-auto" />
                            <span></span>
                        </label>
                        <div class="mt-5 text-center custom-product-text">
                            <h2 class="mb-2 lead font-weight-bold">+ {{productVal.price | money}}</h2>
                            <p>{{productVal.title}}</p>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            {% else %}
                {% assign Standalone = section.settings.Standalone_collection | escape %}
                {% for productVal in collections[Standalone].products limit: 3 %}   
                    {% if productVal.available == true %}
                    <div class="col-xl-3 col-md-4 col-6 px-3 px-sm-2 mb-2 addons-slider-side">
                        <input v-on:click="_selectedAddOnsProduct($event,'{{productVal.handle}}',{{productVal.price}})" type="checkbox" data-add-price="{{productVal.price}}" id="{{productVal.handle}}" value="{{productVal.selected_or_first_available_variant.id}}" name="id" class="custom-product-input"/>
                        <label for="{{productVal.handle}}"  class="product-img custom-product-main mb-0">
                            <img src="{{productVal.featured_image | img_url :'200x'}}" alt="" class="img-fluid l-0 r-0 b-0 t-0 position-absolute mh-100 m-auto" />
                            <span></span>
                        </label>
                        <div class="mt-5 text-center custom-product-text">
                            <h2 class="mb-2 lead font-weight-bold">+ {{productVal.price | money}}</h2>
                            <p>{{productVal.title}}</p>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
        <div class="d-sm-flex mb-3">
            <div class="form-group date--picker w-100 mb-3 mb-sm-0 mr-3">
                
                <flat-pickr
                    value="Null"
                    id="deliveryDateConfig"
                    :required="false"
                    placeholder="Select Delivery Date"
                    name="attributes[Delivery_Date]"
                    ref="datePickerWrap"
                    readonly
                    class="form-control bg-white datepicker-input">  
                </flat-pickr>
            </div>
            <button class="btn btn-primary h-100 px-xl-9"
            type="submit"
            name="add"
            :disabled="isLoading && loadingEvent == 'cartAddingAdons' || !currentVariant.available"
            @click.prevent="_addToCartOnsPro($event, currentVariant.id)">
                <template v-if="isLoading && loadingEvent == 'cartAddingAdons'">
                <i class="icon ion-md-refresh spin"></i> {{ 'general.wait' | t }}
                </template>
                <template v-else>
                <span v-if="currentVariant.available">
                    {{ 'products.product.add_to_cart' | t }}
                </span>
                <span v-else>
                    {{ 'products.product.sold_out' | t }}
                </span>
                </template>
            </button>
        </div>
        <p class="mb-0 text-gray-600">Gifting options available in cart.</p>
    </div>
    {% else %}
    <div class="d-sm-flex mb-3">
        <div class="form-group date--picker w-100 mb-3 mb-sm-0 mr-3">
            
            <flat-pickr
                value="Null"
                id="deliveryDateConfig"
                :required="false"
                placeholder="Select Delivery Date"
                name="properties[Delivery Date]"
                ref="datePickerWrap"
                readonly
                class="form-control bg-white datepicker-input">   
            </flat-pickr>
        </div>
        <button class="btn btn-primary h-100 px-xl-9"
        type="submit"
        name="add"
        :disabled="!currentVariant.available"
        @click.prevent="_addToCartOnsPro($event, currentVariant.id)">
            <template v-if="isLoading && loadingEvent == 'cartAddingAdons'">
            <i class="icon ion-md-refresh spin"></i> {{ 'general.wait' | t }}
            </template>
            <template v-else>
            <span v-if="currentVariant.available">
                {{ 'products.product.add_to_cart' | t }}
            </span>
            <span v-else>
                {{ 'products.product.sold_out' | t }}
            </span>
            </template>
        </button>
    </div>
    <p class="mb-0 text-gray-600">Gifting options available in cart.</p>
    {%  endunless %}    
     {% comment %} <template v-if="addOns.length > 0">
        <div class="product-details w-100">
            <h4 class="font-weight-light mb-3">Add-ons:</h4>
            <div class="custom-row addons-slider" data-slick='{"slidesToShow": 4, "slidesToScroll": 1, "infinite": false}'>
                <div v-for="(item, index) in addOns.product" class="px-3 px-sm-2 my-2 addons-slider-side">
                    <input type="checkbox" :id="item.handle" :disabled="!item.available" :value="item.variants[0].id" name="id" class="custom-product-input"/>
                    <label :for="item.handle"  class="product-img custom-product-main mb-0">
                        <img v-if="item.featured_image != null" :src="_getSizedImageUrl(item.featured_image, '200x')" :alt="item.title" alt="" class="img-fluid" />
                        <span></span>
                    </label>
                    <div class="mt-5 text-center custom-product-text">
                        <h5 class="text-Roboto font-weight-bold mb-2" v-text="_formatMoney(item.price)"></h5>
                        <p v-text="item.title"></p>
                    </div>
                </div>
            </div>
        </div>
    </template> {% endcomment %}

  

  <!-- <div class="w-100"></div> -->

  <div class="col-4 col-md-5 mb-3 quantity-column d-none">
    <div class="quantity-wrapper" data-qty-container>
      <label for="Quantity">{{ 'products.product.quantity' | t }}</label>
      <div class="input-group input-group-sm">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <a href="#" class="btn-decrease" data-qty-decrease @click.prevent="_updateQty($event)" rel="nofollow" aria-label="Decrease" title="Decrease"><i class="icon ion-md-remove"></i></a>
          </span>
        </div>
        <input type="number" name="quantity" value="1" step="1" min="1" pattern="[0-9]*" inputmode="numeric" data-qty-input class="quantity form-control text-center">
        <div class="input-group-append">
          <span class="input-group-text">
            <a href="#" class="btn-increase" data-qty-increase @click.prevent="_updateQty($event)" rel="nofollow" aria-label="Increase" title="Increase"><i class="icon ion-md-add"></i></a>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 mb-3">
    {% if settings.enable_wishlist %}
      <div class="mt-2 text-right">
        <div v-if="!_checkWishlist(currentVariant.id)">
          <a href="#" @click.prevent="_addVariantToWishlist(product.handle, currentVariant.id)" rel="nofollow">
            <i class="icon ion-md-star-outline"></i> {{ 'general.wishlist.add_to_wishlist' | t }}
          </a>
        </div>
        <div v-else>
          <span><i class="icon ion-md-star"></i> Added to <a href="#" data-toggle="modal" data-target="[data-modal-wishlist]" tabindex="-1">Wishlist</a>
        </div>
      </div>
    {% endif %}

  </div>
</form>
