{% assign menu_handle = section.settings.megamenu_handle %}

<ul class="list-unstyled flex-grow-1 justify-content-around">
    {% for link in linklists[menu].links %}
        {% if link.handle  contains menu_handle %}
        {% assign collectionMain = link.title | handleize %}
            <li class="mega-menu menu-item {% if link.active %}active {% if link.child_active %}child-active{% endif %}{% endif %}">
  				<a href="{{ link.url }}"  class="font-weight-medium">{{ link.title }}</a>
              	<ul class="menu_dropdown list-unstyled pb-7 pt-5">
                    <div class="container">
                        <div class="row">
                            {% for child_link in link.links %}
                                {% if child_link.links != blank %}
                                    {% assign levelClass = child_link.links.size %}
                                {% endif %}
                                <div class="{% if levelClass > 2 %}col-8{% else %}col-4{% endif %}">
                                    {% if child_link.links != blank %}
                                    <h5>{{ child_link.title }}</h5>
                                    {% else %}
                                        <li><a href="{{ child_link.url }}"  class="font-weight-medium">{{ child_link.title }}</a></li>
                                    {% endif %}
                                    <div class="card-group row">
                                        {% for grandchild_link in child_link.links %}  
                                            <li class="{% if levelClass > 2 %}col-3{% else %}col-xl-4 col-6{% endif %} col-custom-width d-flex">  
                                                {% if grandchild_link.url contains 'pages' %}
                                                    {% assign handlePages = grandchild_link.url | remove:'/pages/' %}
                                                    {% assign pageHandle = handlePages | escape %}
                                                    {% assign page = pages[pageHandle] %}
                                                    <div class="card border-0 shadow-lg menu-product"> 
                                                        <div class="card-img">
                                                            <a href="{{ grandchild_link.url }}" class="position-relative d-block"> 
                                                                {% if page.metafields.product_manager.image != blank %}
                                                                    <img src="{{ page.metafields.product_manager.image }}" alt="{{ page.title }}" class="img-fluid t-0 l-0 position-absolute m-auto b-0" />
                                                                {% endif %}
                                                            </a>            
                                                        </div>
                                                        <div class="card-body py-2 px-3">
                                                            <a href="{{ grandchild_link.url }}" class="h6 text-uppercase">{{grandchild_link.title }}</a>
                                                            <p class="card-text mt-1 d-block"></p>  
                                                        </div>
                                                    </div>
                                                {% else %}
                                                    {% assign handleProduct = grandchild_link.url | remove:'/products/' %}

                                                    {% assign product = all_products[handleProduct] %}
                                                    {% assign filter = '' %}
                                                    {% for tag in product.tags %}
                                                        {% if tag contains 'filter-' %}
                                                            {% assign filterName = tag | remove:'filter-' %}
                                                            {% assign filter = filter | append: filterName %}
                                                        {% endif %}
                                                    {% endfor %}
                                                    <div class="card border-0 shadow-lg menu-product"> 
                                                        <div class="card-img">
                                                            <a href="{{ grandchild_link.url }}" class="position-relative d-block"> 
                                                                {% if product.images[1].src != blank %}
                                                                    <img src="{{ product.images[1].src | img_url:'360x' }}" alt="{{ product.title }}" class="img-fluid t-0 l-0 position-absolute m-auto b-0" />    
                                                                {% else %}
                                                                    <img src="{{ product.featured_image.src | img_url:'360x' }}" alt="{{ product.title }}" class="img-fluid t-0 l-0 position-absolute m-auto b-0" />
                                                                {% endif %}
                                                            </a>            
                                                        </div>
                                                        <div class="card-body py-2 px-3">
                                                            <a href="{{ grandchild_link.url }}" class="h6 text-capitalize">{% if grandchild_link.title contains 'Bloomsy' %}BLOOMSY {{grandchild_link.title | remove:'Bloomsy'}}{% else %}{{grandchild_link.title}}{% endif %}</a>
                                                            {% if filter == 'monthly' %}
                                                                {% assign filter = 'mo' %}
                                                            {% elsif filter == 'weekly' %}
                                                                {% assign filter = 'week' %}
                                                            {% endif %}
                                                            <p class="card-text mt-1 d-none d-block text-Roboto font-weight-light">{{ product.variants[0].price | money }}/{{ filter }}</p>  
                                                        </div>
                                                    </div> 
                                                {% endif %}
                                            </li>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endfor %}
                            
                        </div>
                    </div>
              	</ul>
  			</li>
        {% else %}
  			{% if link.links != blank %}
            <li class="menu-item sub-menu {% if link.active %} active {% if link.child_active %}child-active{% endif %}{% endif %}">
              <a href="{{ link.url }}" class="font-weight-medium">{{ link.title }}</a>
              <ul class="third_level">
                {% for child_link in link.links %}  
                  {% if child_link.links != blank %}
                    <li class="sub-menu {% if child_link.active %} active {% if child_link.child_active %}child-active{% endif %}{% endif %}">
                      <a href= "{{ child_link.url }}" class="font-weight-medium">{{ child_link.title }}</a>
                      <ul class="fourth_level">
                        {% for grandchild_link in child_link.links %}  
                          <li {% if grandchild_link.active %}class="active {% if grandchild_link.child_active %}child-active{% endif %}"{% endif %}><a class="font-weight-medium" href= "{{ grandchild_link.url }}">{{ grandchild_link.title }}</a></li>
                        {% endfor %}
                      </ul>
                    </li>
                  {% else %}
                    <li class="{% if link.active %}active{% endif %}">
                      <a href="{{ child_link.url }}">
                        {{ child_link.title }} 
                      </a>
                    </li>
                  {% endif %}   
                {% endfor %}
              </ul> 
            </li>
  			{% else %}
            <li class="menu-item {% if link.active %}active{% endif %}">
              <a href="{{ link.url }}" class="font-weight-medium">
                {{ link.title }} 
              </a>
            </li>
  			{% endif %} 
        {% endif %}
    {% endfor %}
</ul>
