<div data-quickshop class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header text-dark">
        <h5 class="modal-title"><a :href="quickShop.product.url" v-text="quickShop.product.title"></a></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="icon ion-md-close"></i></span>
        </button>
      </div>
      <div class="modal-body text-dark">
        <div class="row">
            <div class="col-lg-7">
                <div class="product-images-wrapper text-center">

                    <template v-if="quickShop.product.featured_image">
                      <img
                        v-if="quickShop.images.length == 1"
                        :src="_getSizedImageUrl(quickShop.product.featured_image, 'large')"
                        class="img-fluid"
                        :alt="quickShop.product.title" />

                        <div
                          v-if="quickShop.product.images.length > 1"
                          class="carousel carousel-main"
                          data-flickity='{
                           "contain": true,
                           "wrapAround": false,
                           "freeScroll": false,
                           "accessibility": true,
                           "prevNextButtons": true,
                           "pageDots": true,
                           "bgLazyLoad": 1,
                           "dragThreshold": 20,
                           "arrowShape": {"x0": 10, "x1": 60, "y1": 50, "x2": 60, "y2": 45, "x3": 15}
                         }'>

                        <div
                          v-for="image in quickShop.images"
                          class="carousel-cell bg-img"
                          :data-flickity-bg-lazyload="_getSizedImageUrl(image.src, 'large')"
                          :data-variant-title="image.alt">
                        </div>
                      </div>
                    </template>

                    <template v-else>
                      {{ 'image' | append: current | placeholder_svg_tag: 'img-fluid bg-gray-100' }}
                    </template>

                </div>
            </div>

            <div class="col-lg-5">
                <div class="product-details-wrapper mt-lg-0">

                  <p class="mt-3 mt-lg-0" v-text="quickShop.product.vendor"></p>

                  <div class="price-wrapper">
                    <s v-if="quickShop.product.compare_at_price > quickShop.product.price" v-html="_formatMoney(quickShop.currentVariant.compare_at_price)" class="h6 my-0 text-gray-600"></s>
                    <span v-html="_formatMoney(quickShop.currentVariant.price)" class="h5 my-0"></span>
                  </div>

                  <form action="/cart/add" method="post" enctype="multipart/form-data">
                    <div class="form-row mt-4">

                      <div v-for="(option, index) in quickShop.product.options" v-if="option.name != 'Title'" class="selector-wrapper col mb-2">

                        <label v-text="option.name"></label>

                        {% comment %} Color swatches {% endcomment %}
                        <ul v-if="colorSwatchesEnabled && option.name == 'Color'" class="list-unstyled list-inline my-0 py-0">
                            <li v-for="value in option.values" class="list-inline-item">
                              <div v-for="optionImage in quickShop.optionImages" v-if="optionImage.value == value" class="color-swatch">
                                <label data-toggle="tooltip" data-trigger="hover" :title="_unhandleize(value)" :style="'background-color:' + value + ';background-image: url(' + optionImage.src + ');'">
                                    <input
                                      data-single-option-selector
                                      type="radio"
                                      name='color'
                                      :value="value"
                                      v-model="quickShop.product.variants[0].options[index]"
                                      :data-index="'option' + option.position"
                                      @change="_getVariant($event)">
                                </label>
                              </div>
                            </li>
                        </ul>

                        {% comment %} Size swatches {% endcomment %}
                        <ul v-else-if="sizeSwatchesEnabled && option.name == 'Size'" class="list-unstyled list-inline my-0 py-0">
                          <li v-for="value in option.values" class="list-inline-item">
                            <div class="size-swatch">
                              <label>
                                  <input
                                    data-single-option-selector
                                    type="radio"
                                    name='size'
                                    :value="value"
                                    v-model="quickShop.product.variants[0].options[index]"
                                    :data-index="'option' + option.position"
                                    @change="_getVariant($event)">
                              </label>
                            </div>
                          </li>
                        </ul>

                        {% comment %} Normal select {% endcomment %}
                        <select
                          v-else
                          data-single-option-selector
                          class="form-control form-control-sm"
                          :data-index="'option' + option.position"
                          v-model="quickShop.product.variants[0].options[index]"
                          @change="_getVariant($event)">
                          <option v-for="value in option.values"
                            :value="value"
                            v-text="value">
                          </option>
                        </select>

                      </div>

                      <!-- <div class="w-100"></div> -->

                      <div class="col-4 col-md-5 mb-2 quantity-column">
                        <div class="quantity-wrapper" data-qty-container>
                          <label for="Quantity">{{ 'products.product.quantity' | t }}:</label>
                          <div class="input-group input-group-sm">
                            <div class="input-group-prepend">
                              <span class="input-group-text">
                                <a href="#" class="btn-decrease" data-qty-decrease @click.prevent="_updateQty($event)" rel="nofollow" aria-label="Decrease" title="Decrease"><i class="icon ion-md-remove"></i></a>
                              </span>
                            </div>
                            <input type="number" name="quantity" value="1" step="1" min="1" pattern="[0-9]*" inputmode="numeric" data-qty-input class="quantity form-control text-center">
                            <div class="input-group-append">
                              <span class="input-group-text">
                                <a href="#" class="btn-increase" data-qty-increase @click.prevent="_updateQty($event)" rel="nofollow" aria-label="Increase" title="Increase"><i class="icon ion-md-add"></i></a>
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-12 mb-3">
                        <button type="submit" name="add" class="btn btn-primary btn-block" :disabled="!quickShop.currentVariant.available" @click.prevent="_addToCart($event, quickShop.currentVariant.id)">
                            <template v-if="isLoading && loadingEvent == 'cartAdding'">
                              <i class="icon ion-md-refresh spin"></i> {{ 'general.wait' | t }}
                            </template>
                            <template v-else>
                              <span v-if="quickShop.currentVariant.available">
                                {{ 'products.product.add_to_cart' | t }}
                              </span>
                              <span v-else>
                                {{ 'products.product.sold_out' | t }}
                              </span>
                            </template>
                        </button>

                      </div>
                    </div>
                  </form>

                  <template v-if="quickShop.product.description">
                    <h6 class="mt-3">Description:</h6>
                    <div class="rte" v-html="_truncate(quickShop.product.description, 40)"></div>
                    <a :href="quickShop.product.url">{{ 'products.product.read_more' | t }} <i class="icon ion-md-arrow-forward"></i></a>
                  </template>

                </div>

            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'general.close' | t }}</button>
      </div>
    </div>
  </div>
</div>
