<a href="/" class="navbar-brand mr-xl-7 logo d-none d-ex-lg-block" title="{{ shop.name | escape }}" style="width: {{ logo_width }}px"> 
  {% if logo_svg == blank %}
    {% if logo == blank %}
        <span class="h5 text-primary"><i class="icon ion-pound text-accent-2"></i> {{ shop.name | escape }}</span>
    {% else %}
        <img src="{{ logo }}" alt="{{ shop.name | escape }}" class="img-fluid">
    {% endif %}
  {% else logo_svg != blank %}
    <img src="{{ logo_svg }}" alt="{{ shop.name | escape }}" class="img-fluid">
  {% endif %}
</a>
{% capture menu_left %}
    {% include 'menu' with section.settings.main_linklist %}
{% endcapture %}
<div class="collapse navbar-collapse">
    <div id="main-nav" class="d-flex navbar-nav flex-grow-1 px-5">
    {{ menu_left }}	
     <ul class="list-unstyled mobile_nav d-ex-lg-none">
     
        {% if shop.customer_accounts_enabled %}
        <li class="menu-item">
            <a href="/account" class="font-weight-medium d-flex align-items-center">
                <img src="https://cdn.shopify.com/s/files/1/0084/0617/1763/files/user-icon.svg?6504540595843720491" class="ml-1 mr-3 menu-icon user-icon">{{ 'layout.customer.account' | t }}
            </a>
        </li>
        {% endif %}
        <li class="menu-item">
            <a href="" class="font-weight-medium d-flex align-items-center">
                <img src="https://cdn.shopify.com/s/files/1/0084/0617/1763/files/mobile-icon.svg?6504540595843720491" class="ml-1 mr-3 menu-icon">Contact us</a>
        </li>
        <li class="menu-item">
            <a href="" class="font-weight-medium d-flex align-items-center"><img src="https://cdn.shopify.com/s/files/1/0084/0617/1763/files/faq-icon.svg?6504540595843720491" class="ml-1 mr-3 menu-icon">FAQ’s</a>
        </li>
     </ul>
    </div>
    <ul class="navbar-nav navbar-icon-links align-items-center ml-auto">
        <li class="nav-item nav-icon">
            <a href="/account" class="nav-link">
                <img src="https://cdn.shopify.com/s/files/1/0084/0617/1763/files/user-icon.svg?6504540595843720491" class="icon">
            </a>
        </li> 
        <li class="nav-item nav-icon pl-4">
            {% include 'header-cart-link' %}
        </li>
    </ul>
</div>

<ul class="align-items-center list-inline d-flex justify-content-between d-ex-lg-none w-100 mb-0">

    <li class="nav-item nav-icon">
        <a class="nav-link d-flex p-0" href="#" @click.prevent="_toggleMobileNavDrawer" name="menu" title="menu" rel="nofollow" aria-label="Menu">
            <span class="navbar-toggler-icon"></span>
        </a>
    </li>
    <li class="nav-item "> 
        <a href="/" class="nav-link navbar-brand p-0 mr-0 text-center logo" title="{{ shop.name | escape }}" style="width: {{ logo_width }}px"> 
            {% if logo_svg == blank %}
                {% if logo == blank %}
                    <span class="h5 text-primary"><i class="icon ion-pound text-accent-2"></i> {{ shop.name | escape }}</span>
                {% else %}
                    <img src="{{ logo }}" alt="{{ shop.name | escape }}" class="img-fluid">
                {% endif %}
            {% else logo_svg != blank %}
                <img src="{{ logo_svg }}" alt="{{ shop.name | escape }}" class="img-fluid">
            {% endif %}
        </a>
    </li>
    {% if settings.enable_search %}
        <li class="nav-item list-inline-item nav-icon">
            <a class="nav-link" href="#" @click.prevent="_toggleSearch()" rel="nofollow" aria-label="Search" title="Search">
                <i class="icon ion-md-search"></i>
            </a>
        </li>
    {% endif %}
  <li class="nav-item nav-icon">
    {% include 'header-cart-link' %}
  </li>
</ul>
