<div data-product-reviews data-type="productReviews" data-product-id="{{product.id}}" data-product-title="{{product.title}}" style="display:none;">

  <div v-if="reviewSettings.layout_mode != 'list'">
    <div class="row">
      <div class="col-12 text-center">
        <h5 class="my-0"><span v-text="totalReviews"></span> Review<span v-if="totalReviews > 1">s</span></h5>
        <div v-if="totalReviews > 0" v-html="_getAvgRating()"></div>
      </div>
    </div>
    <div id="reviewsCarousel" class="carousel mt-4 mb-5 mb-md-0">
      <div v-for="review in productReviews.data" class="carousel-cell col-12 col-sm-6 col-md-4 col-lg-4 text-center bg-gray-100 m-2 p-3 d-flex align-items-center">
        <div class="w-100">
          <div class="review-rating">
            <span v-html="_getRating(review)"></span>
          </div>
          <div v-text="review.title" class="font-weight-bold"></div>
          <div v-text="review.author"></div>
          <div v-text="_formatDate(review.created_at)" class="small text-gray-700"></div>
          <div v-html="_truncate(review.body, 20)" class="mt-2"></div>
          <div><a href="#" @click.prevent="_showReviewSingle(productReviews.data, review.id)" class="btn btn-link btn-sm mt-2">Read More</a></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <a href="#" @click.prevent="_showReviewForm" class="btn btn-outline-primary mt-4">Write A Review</a>
      </div>
    </div>
  </div>

  <div v-else id="reviewsList">
    <div class="row align-items-center mb-3">
      <div class="col-12 col-sm-6 text-center text-sm-left mb-3 mb-sm-0">
        <span class="h5 my-0"><span v-text="totalReviews"></span> Review<span v-if="totalReviews > 1">s</span></span>
        <span v-if="totalReviews > 0" v-html="_getAvgRating()" class="h5 my-0 ml-2"></span>
      </div>
      <div class="col-12 col-sm-6 text-center text-sm-right">
        <a href="#" @click.prevent="_showReviewForm" class="btn btn-outline-primary">Write A Review</a>
      </div>
    </div>
    <div v-for="review in productReviews.data" class="row">
      <div class="col-12">
        <div class="review-item py-4">
          <div class="row">
            <div class="col-sm-3">
              <div class="row">
                <div class="col-12">
                  <div v-text="review.author" class="font-weight-bold"></div>
                  <div class="my-1 small text-gray-700">
                    <span class="icon ion-md-calendar"></span>
                    <span v-text="_formatDate(review.created_at)"></span>
                  </div>
                </div>
                <div class="col-12 my-1">
                  <div v-for="field in review.review_custom_fields" v-if="field.value" class="row">
                    <div class="col-12 small text-gray-700">
                      <span v-text="field.label+':'" class="font-weight-bold"></span>
                      <span v-text="field.value"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div :class="{ 'col-sm-7': reviewSettings.image_upload_enable, 'col-sm-9': !reviewSettings.image_upload_enable }">
              <div v-html="_getRating(review)"></div>
              <div v-text="review.title" class="font-weight-bold my-1"></div>
              <div v-html="review.body"></div>
            </div>
            <div v-if="reviewSettings.image_upload_enable" class="col-sm-2 text-center">
              <img :src="review.image" class="review-image img-fluid mt-4 mt-sm-0"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center mt-5">
    <pagination :data="productReviews.pagination" :limit="2" @pagination-change-page="_getPagedResults" />
  </div>

  <div data-modal-new-review class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Write a review for {{ product.title }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"><i class="icon ion-md-close"></i></span>
          </button>
        </div>
        <div class="modal-body bg-gray-100">
          <form id="newReviewForm" enctype="multipart/form-data" @submit.prevent="_createReview">
            <div class="form-row">
              <div class="col-12">
                <div id="response"></div>
              </div>
            </div>
            <div class="form-row form-group">
              <div class="col-sm-6 mb-3 mb-sm-0">
                <input type="text" name="author" class="form-control" placeholder="Name" required>
              </div>
              <div class="col-sm-6">
                <input type="email" name="email" class="form-control" placeholder="E-mail" required>
              </div>
            </div>
            <div class="form-row form-group">
              <div class="col-12">
                <label>Rating:</label>
                <star-rating name="rating" :inline="true" :star-size="18" active-color="#000" v-model="rating"></star-rating>
              </div>
            </div>
            <div class="form-row form-group">
              <div class="col-12">
                <input type="text" name="title" class="form-control" placeholder="Review Title" required>
              </div>
            </div>
            <div class="form-row form-group">
              <div class="col-12">
                <textarea name="body" class="form-control" placeholder="Review Body" rows="4" required></textarea>
              </div>
            </div>
            <div class="form-row form-group">
              <div v-for="field in reviewSettings.custom_fields" class="col-sm-6 mb-2">
                <input type="text" name="custom_field[]" :data-name="field.label" :placeholder="field.label" class="form-control">
              </div>
            </div>
            <div class="form-row form-group">
              <div v-if="reviewSettings.image_upload_enable" class="col-12">
                <file-pond
                    name="userReviewImage"
                    ref="userReviewImage"
                    label-idle="Drag & Drop your files or Browse"
                    allow-multiple="false"
                    max-files="1"
                    accepted-file-types="image/jpeg, image/gif, image/png"
                    @addfile="_handleUserFileAdded"/>
              </div>
            </div>
            <div class="form-row form-group">
              <div class="col-12">
                <input type="hidden" name="productHandle" value="{{ product.handle }}"/>
                <input type="hidden" name="productTitle" value="{{ product.title }}"/>
                <input type="hidden" name="productImage" value="{{ featured_image | img_url: 'large' }}"/>
                <input type="Submit" class="btn btn-primary" value="Submit">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div data-modal-single-review class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" v-text="singleReview.title"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"><i class="icon ion-md-close"></i></span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div v-if="singleReview.image" class="col-sm-5 col-lg-4 mb-3 mb-sm-0">
              <img :src="singleReview.image" class="img-fluid" />
            </div>
            <div :class="{ 'col-sm-7 col-lg-8': singleReview.image, 'col-12': !singleReview.image }">
              <div class="review-details">
                <div class="review-rating">
                  <span v-html="_getRating(singleReview)"></span>
                </div>
                <div v-if="singleReview.review_custom_fields != ''">
                  <div v-for="field in singleReview.review_custom_fields">
                    <strong v-text="field.label+':'"></strong>
                    <span v-text="field.value"></span>
                  </div>
                </div>
                <div v-html="singleReview.body" class="my-3"></div>
                <div v-text="singleReview.author" class="font-weight-bold"></div>
                <div v-text="_formatDate(singleReview.created_at)" class="small text-gray-700"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button id="prevLink" @click="_getPrevReview(singleReview.id)" class="btn btn-outline-dark btn-sm px-3">
            <i class="icon ion-md-arrow-left"></i>
          </button>
    	    <button id="nextLink" @click="_getNextReview(singleReview.id)" class="btn btn-outline-dark btn-sm px-3">
            <i class="icon ion-md-arrow-right"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

</div>
