<div class="list-group mb-4 mb-lg-0 sticky-top">

  <a class="list-group-item" href="/account"><i class="icon ion-md-calendar mr-2"></i> {{ 'customer.orders.title' | t }}</a>
  <a class="list-group-item" href="/account/addresses"><i class="icon ion-md-document mr-2"></i> {{ 'customer.addresses.title' | t }}</a>

  {% comment %}Recharge Link{% endcomment %}
  {% if customer.metafields.subscriptions.customer_string %}
    <a class="list-group-item" href="/tools/recurring/customer/{{customer.metafields.subscriptions.customer_string}}/subscriptions/"><i class="icon ion-md-refresh mr-2"></i> {{ 'customer.orders.manage_subscriptions' | t }}</a>
  {% endif %}

  {% if settings.enable_wishlist %}
    <a class="list-group-item" href="#" data-toggle="modal" data-target="[data-modal-wishlist]" tabindex="-1" rel="nofollow" aria-label="Wishlist" title="Wishlist"><i class="icon ion-md-star mr-2"></i> {{ 'general.wishlist.title' | t }}</a>
  {% endif %}

  <a class="list-group-item" href="/account/logout"><i class="icon ion-md-unlock mr-2"></i> {{ 'layout.customer.log_out' | t }}</a>

</div>
