{% assign ingredients = '' %}
{% assign ingredientsSection = false %}
{% for tag in product.tags %}
    {% if tag contains 'ingredients_' %}
        {% assign ingredientsSection = true %}
        {% assign tagName = tag | remove: 'ingredients_' %}
        {% assign ingredients = ingredients | append:tag %}
    {% endif %}
{% endfor %}

{% if product.images.size > 1 %}
    {% for image in product.images %}
        {% if image.alt contains 'featured' %}
            {% assign imgURL = image.src | img_url: 'master' %}
        {% endif %}
    {% endfor %}
{% endif %}

<section class="section-content template-product-classic bg-gray-100">
    <div class="{% if fluid_layout %}container-fluid{% else %}container{% endif %}">
        <div class="row align-items-center">
            <div class="col-12 col-lg-6 order-lg-2 mb-4 mb-lg-0">
                <div class="product-img subscribe-product">
                    {% if featured_image == blank %}
                        {{ 'image' | append: current | placeholder_svg_tag: 'img-fluid' }}
                    {% else %}
                        <img class="lazyload {% unless forloop.last %}mb-5{% endunless %}"
                            src="{{ featured_image | img_url: 'pico' }}"
                            data-src="{{ featured_image | img_url: '1024x' }}"
                            data-variant-title="{{ featured_image.alt | escape }}"
                            {% if section.settings.enable_images_zoom %}data-img-zoom{% endif %}
                            data-largesrc="{{ featured_image | img_url: '1920x' }}"
                            alt="{{ featured_image.alt | escape }}"/>
                    {% endif %}
                </div>
            </div>
              {% assign filter = '' %}
                {% for tag in product.tags %}
                    {% if tag contains 'filter-' %}
                        {% assign filterName = tag | remove:'filter-' %}
                        {% assign filter = filter | append: filterName %}
                    {% endif %}
                {% endfor %}
                {% if filter == 'monthly' %}
                    {% assign filter = 'month' %}
                {% elsif filter == 'weekly' %}
                    {% assign filter = 'week' %}
                {% endif %}
            <div class="col-12 col-lg-6 order-lg-1 text-center text-lg-left">
                <h4 class="display-3 mb-0">meet our</h4>
                
                <h1 class="display-4 mb-0">{{ product.title }} {% if filter =="month" %}Box{% endif %}</h1>
                <div class="d-block d-sm-flex align-items-center justify-content-center justify-content-lg-start mb-5">
                    <div class="pr-sm-3 mb-3 mb-sm-0 pr-xl-6">
                        <h3 class="display-2 font-weight-light mb-0 month-price">{{ current_variant.price | money }}/{{ filter }}</h3>
                    </div>
                    <div class="d-flex align-items-center justify-content-center justify-content-lg-start px-3 px-xl-6 border-left border-gray-400 py-2 border-none-xs">
                        {% if  section.settings.shipping_text != blank %}
                        <div class="d-flex align-items-center mr-3 mr-xl-4">
                            <div class="shipping-icon mr-2 mr-xl-3">
                                <img src="https://cdn.shopify.com/s/files/1/0084/0617/1763/files/shipping.svg?14050187443786131586" alt="Shipping" />
                            </div>
                            <h4 class="text-Roboto font-size-sm mb-0 text-left">{{ section.settings.shipping_text }}</h4>
                        </div>
                        {% endif %}
                        {% if section.settings.cancel_text != blank %}
                        <div class="d-flex align-items-center">
                            <div class="shipping-icon mr-2 mr-xl-3">
                                <img src="https://cdn.shopify.com/s/files/1/0084/0617/1763/files/cancel-icon.svg?13667647694481939982" alt="" />
                            </div>
                            <h4 class="text-Roboto font-size-sm mb-0 text-left">{{ section.settings.cancel_text }}</h4>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="description_product mb-3">
                    {{product.description}}
                </div>
                <div class="d-sm-flex align-items-center">
                    {% if filter =="month" %}
                        <a href="#" class="btn btn-primary" @click.prevent="_chooseProductOnPage(product.handle,3)">Subscribe</a>
                    {% else %}
                        <a href="#" class="btn btn-primary" @click.prevent="_chooseProductWeeklyPage(product.handle,4)">Subscribe</a>
                    {% endif %}
                    
                    {% if section.settings.note_product != blank %}
                    <div class="d-flex align-items-center pl-sm-7 mt-4 mt-sm-0 pl-lg-5 pl-xl-7">
                        <i class="ion ion-md-information-circle-outline h2 text-gray-500 mr-3 mr-lg-4 mb-0"></i>
                        <p class="mb-0 font-size-sm text-gray-500 text-left">{{ section.settings.note_product }}</p>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% comment %} <div class="col-lg-8">
                <div class="product-images-wrapper pr-lg-4 text-center">
                    {% if featured_image != blank %}

                      <div class="carousel carousel-main"
                          data-flickity='{
                           "adaptiveHeight": true,
                           "contain": true,
                           "wrapAround": false,
                           "freeScroll": false,
                           "accessibility": false,
                           "setGallerySize": true,
                           "prevNextButtons": true,
                           "pageDots": true,
                           "lazyLoad": 2,
                           "fullscreen": true,
                           "dragThreshold": 20,
                           "arrowShape": {"x0": 10, "x1": 60, "y1": 50, "x2": 60, "y2": 45, "x3": 15}
                         }'>
                        {% for image in product.images %}
                          <img class="carousel-cell img-fluid"
                            data-flickity-lazyload-src="{{ image.src | img_url: 'pico' }}"
                            data-flickity-lazyload-srcset="
                              {{ image.src | img_url: 'large' }} 576w,
                              {{ image.src | img_url: '1280x' }} 768w,
                              {{ image.src | img_url: '1440x' }} 992w,
                              {{ image.src | img_url: '1920x' }} 1200w
                              "
                            sizes="(min-width: 1024px) 720px, 360px"
                            data-variant-title="{{ image.alt | escape }}"
                            alt="{{ image.alt | escape }}"/>
                        {% endfor %}
                      </div>

                      {% if product.images.size > 1 %}
                      <div class="carousel carousel-nav d-none d-lg-block"
                         data-flickity='{
                           "asNavFor": ".carousel-main",
                           "adaptiveHeight": false,
                           "contain": true,
                           "wrapAround": false,
                           "freeScroll": false,
                           "accessibility": true,
                           "setGallerySize": true,
                           "prevNextButtons": false,
                           "pageDots": false,
                           "dragThreshold": 20,
                           "arrowShape": {"x0": 10, "x1": 60, "y1": 50, "x2": 60, "y2": 45, "x3": 15}
                         }'>
                        {% for image in product.images %}
                          <a href="#" @click.prevent class="carousel-cell">
                            <img src="{{ image.src | img_url: 'large' }}" alt="{{ image.alt | escape }}" class="img-fluid">
                          </a>
                        {% endfor %}
                      </div>
                      {% endif %}

                    {% else %}
                      {{ 'image' | append: current | placeholder_svg_tag: 'img-fluid' }}
                    {% endif %}

                </div>
            </div>

            <div class="col-lg-4">
                <div class="product-details-wrapper mt-5 mt-lg-0">
                  <h1 class="product-title">{{ product.title }}</h1>

                  <div class="align-items-center">
                    {% if show_vendor %}
                      <span class="my-0">{{ product.vendor }}</span>
                    {% endif %}

                    <a v-if="totalReviews > 0"  href="#" @click.prevent="_scrollToReviews" class="float-right">
                      <span v-text="totalReviews"></span> Review<span v-if="totalReviews > 1">s</span>
                      <span v-html="_getAvgRating()"></span>
                    </a>
                  </div>

                  <div class="price-wrapper mt-2">
                    {% if product.compare_at_price_max > product.price %}
                      {% if current_variant.compare_at_price > current_variant.price %}
                        <s class="h5 text-gray-600 mr-3">{{ current_variant.compare_at_price | money }}</s>
                      {% endif %}
                    {% endif %}
                    <span class="h5">{{ current_variant.price | money }}</span>
                  </div>

                  {% include 'form-product' %}

                  {% if product.description %}
                  <h6 class="mt-5 mb-2">Description:</h6>
                  <div class="rte">
                    {{ product.description }}
                  </div>
                  {% endif %}

                  {% if section.settings.show_social_share %}
                  <h6 class="mt-5 mb-2">{{ 'general.social.share' | t }}</h6>
                  {% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}
                  {% endif %}
                </div>

            </div> {% endcomment %}
        </div>
    </div>
</section>
{% if ingredientsSection %}
    
<section class="section-content">
    <div class="{% if fluid_layout %}container-fluid{% else %}container{% endif %}">
        <h4 class="text-center mb-0">{{ section.settings.relation_title }}</h4>
        <h1 class="text-center mb-4 display-1">{{ product.title }} Box</h1>
        <div class="row justify-content-center">
            {% for block in section.blocks %}  
                {% if block.type == 'ingredients-feed' %}
                    {% assign ingredientsTitle = block.settings.title %}
                    {% assign tagTitle = block.settings.tag_title %}
                    {% if ingredients contains tagTitle and block.settings.image != blank %}
                        <div class="col-6 col-sm-4 col-md-3 col-lg-2 p-3 text-center">
                            <div class="product-img pb-100 rounded-circle shadow-1 mb-4 mb-md-6">
                                <img
                                    data-sizes="auto"
                                    src="{{ block.settings.image | img_url: 'small'}}"
                                    data-srcset="
                                    {{ block.settings.image | img_url: '1024x' }} 576w,
                                    {{ block.settings.image | img_url: '1280x' }} 768w,
                                    {{ block.settings.image | img_url: '1440x' }} 992w,
                                    {{ block.settings.image | img_url: '1920x' }} 1200w"
                                    class="lazyload img-fluid w-100 h-100" alt="{{ ingredientsTitle | escape }}" />
                            </div>
                            <h4 class="mb-0"><a href="#">{{ingredientsTitle}}</a></h4>
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}

{% if product.images.size > 1 %}
<section class="section-content position-relative" style="background: url({{imgURL}}) no-repeat;background-size: cover;">
    <div class="overlay"></div>
    <div class="container py-5 py-sm-8 position-relative">
        <div class="row justify-content-center">
            <div class="col-12 col-md-11 col-lg-8 px-lg-8 text-center">
                {% if section.settings.heading_txt != blank %}
                <h2 class="text-white mb-2">{{ section.settings.heading_txt }}</h2>
                {% endif %}
                {% if section.settings.lead_txt != blank %}
                <p class="mb-4 mb-lg-7 text-white">{{ section.settings.lead_txt }}</p>
                {% endif %}
                {% if section.settings.btn_txt != blank %}
                    {% if filter =="month" %}
                        <a href="#" class="btn btn-light" @click.prevent="_chooseProductOnPage(product.handle,3)">{{ section.settings.btn_txt }}</a>
                    {% else %}
                        <a href="#" class="btn btn-light" @click.prevent="_chooseProductWeeklyPage(product.handle,4)">{{ section.settings.btn_txt }}</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endif %}

{% for collection in product.collections %}
    {% if collection.handle contains 'plan' %}
        <script type="application/json" data-collection-subscribe-json>
            {{ collection | json }}
        </script>
        <script type="application/json" data-product-subscribe-json id="{{ collection.handle | escape }}">
            {{ collection.products | json }}
        </script>

    {% endif %}
{% endfor %}
{% if product.metafields.global.description_tag != blank %}
<script type="application/json" data-{{product.handle}}-json>
    {{ product.metafields.global.description_tag }}
</script>
{% endif %}
<script type="application/json" data-{{product.handle}}-subscribe-json>[{ {% for field in product.metafields.subscriptions %}"{{ field | first }}": "{{ field | last }}"{% unless forloop.last %},{% endunless %}{% endfor %} }]</script>