<section class="section-content pt-md-8 pb-md-8 template-product-addOns template-product-classic vertical-thumbs"> 
    <div class="{% if fluid_layout %}container-fluid{% else %}container{% endif %}">
        <div class="row">
            <div class="col-md-6 col-lg-7">
                <div class="row product-slider">
                    <div class="col-12 {% if product.images.size > 1 %}col-lg-10{% else %}col-lg-12{% endif %} order-lg-2">
                        <div class="carousel carousel-main pb-md-0 pb-7" role="tree"
                            data-flickity='{
                             "adaptiveHeight": true,
                             "contain": true,
                             "wrapAround": false,
                             "freeScroll": false,
                             "accessibility": true,
                             "setGallerySize": true,
                             "prevNextButtons": true,
                             "pageDots": true,
                             "lazyLoad": 1,
                             "dragThreshold": 20
                           }'>
                            {% for image in product.images %}
                                <img
                                data-sizes="auto"
                                src="{{ image.src | img_url: 'small'}}"
                                data-srcset="
                                {{ image.src | img_url: '1024x' }} 576w,
                                {{ image.src | img_url: '1280x' }} 768w,
                                {{ image.src | img_url: '1440x' }} 992w,
                                {{ image.src | img_url: '1920x' }} 1200w
                                "
                                data-variant-title="{{ image.alt | escape }}"
                                {% if section.settings.enable_images_zoom %}data-img-zoom{% endif %}
                                data-largesrc="{{ image | img_url: '1920x' }}"
                                class="lazyload img-fluid carousel-cell" alt="{{ image.alt | escape }}" />
                            {% endfor %}
                        </div>
                    </div>
                    {% if product.images.size > 1 %}
                    <div class="col-12 col-lg-2 order-lg-1 d-none d-lg-block">
                        <div class="carousel-nav" role="tree"
                            data-flickity='{
                                "contain": true,
                                "cellAlign": "left",
                                "asNavFor": ".carousel-main",
                                "draggable": true,
                                "pageDots": false,
                                "percentPosition": false,
                                "prevNextButtons": true
                            }'>
                            {% for image in product.images %}
                               <div class="px-1"> 
                                    <div class="carousel-cell">
                                        <img
                                            data-sizes="auto"
                                            src="{{ image.src | img_url: 'small'}}"
                                            data-srcset="
                                            {{ image.src | img_url: '1024x' }} 576w,
                                            {{ image.src | img_url: '1280x' }} 768w,
                                            {{ image.src | img_url: '1440x' }} 992w,
                                            {{ image.src | img_url: '1920x' }} 1200w
                                            "
                                            data-variant-title="{{ image.alt | escape }}"
                                            class="lazyload img-fluid position-absolute l-0 r-0 b-0 t-0 m-auto" alt="{{ image.alt | escape }}" />   
                                    </div>   
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-6 col-lg-5">
                <div class="py-3 text-center text-sm-left">
                    <h2 class="mb-2">{{ product.title }}</h2>
                    <div class="d-block d-sm-flex align-items-center justify-content-between mb-2">
                        <h3 class="mb-3 mb-sm-0 font-weight-light" v-html="_formatMoney(selectedAddOns.totalPrice)" :data-priceVal="selectedAddOns.totalPrice" data-price></h3>
                        {% if section.settings.show_social_share %}
                        <div class="d-inline-flex d-md-flex align-items-center">
                            <h6 class="mb-0 mt-1 font-weight-light">{{ 'general.social.share' | t }}</h6> 
                            {% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}
                        </div>    
                        {% endif %}
                    </div>  
                    {% include 'form-product-ons' %}
                </div>
            </div>
        </div>
    </div>
</section>