{% paginate collection.products by items_per_page %}

<section class="section-content pb-5"> 
    <div class="{% if section.settings.fluid_layout %}container-fluid{% else %}container{% endif %}">
        
        {% comment %} ===============Local changes=============== {% endcomment %}
        {% unless template.suffix == 'banner-1' or template.suffix == 'banner-2' %}
        <div class="row">
            <div class="col-sm-12 text-center">
                <div class="fancy-heading active">
                    <h1 class="page-title" data-coll-title data-current-coll="{{ collection.title }}">{{ collection.title }}</h1>
                    <h3 class="text-muted">{{ collection.description }}</h3>
                </div>
            </div>
        </div>
        {% endunless %}

        {% if filters_enabled and filters_type == 'sidebar' %}

            {% comment %} Template with Sidebar {% endcomment %}

            <a class="btn btn-outline-primary btn-sm d-sm-inline-block d-block d-lg-none mb-3 filtersCollapse" data-toggle="collapse" href="#filtersCollapse" aria-expanded="false" aria-controls="filtersCollapse">
              <i class="ion-wand"></i> Collection Filters
            </a>

            <div class="row">
              <div class="col-lg-3 collapse d-lg-block" id="filtersCollapse">                
                {% include 'sidebar-collection-filters' %}
              </div>

              <div class="col-lg-9">
                {% if filters_ajaxed %}
                  <transition-group name="collection-tween" tag="div" class="row justify-content-center">
                    <div v-for="(product, index, key) in collProducts" :key="index" class="col-sm-6 col-lg-6 col-xl-4 my-3 d-flex align-items-stretch justify-content-around">
                      {% include 'card-product-style-1-ajaxed' %}
                    </div>
                  </transition-group>
                  <div v-if="!isLoading && collProducts.length == 0" class="row mt-5">
                    <div class="col-12 text-center">
                      <i class="ion-information-circled display-4 text-gray-400"></i>
                      <h5>{{ 'collections.general.no_matches_within_filters' | t }}</h5>
                      <p>{{ 'collections.general.refine_search' | t }} <a href="#" @click.prevent="_clearAllFilters()" rel="nofollow" aria-label="{{ 'collections.general.reset_filters' | t }}" title="{{ 'collections.general.reset_filters' | t }}">{{ 'collections.general.reset_filters' | t }}</a></p>
                    </div>
                  </div>
                {% else %}
                  <div class="row">
                    {% for product in collection.products %}
                      <div class="col-12 col-sm-6 col-md-4 my-3 my-md-4 d-flex">
                        {% case product_card_type %}
                          {% when 'type_1' %}
                            {% include 'card-product-style-1' %}
                          {% when 'type_2' %}
                            {% include 'card-product-style-2' %}
                          {% else %}
                            {% include 'card-product-style-1' %}
                        {% endcase %}
                      </div>
                    {% endfor %}
                    {% if collection.products.size == 0 %}
                      <div class="col-12 text-center mt-5">
                        <i class="ion-information-circled display-4 text-gray-400"></i>
                        <h5>{{ 'collections.general.no_matches_within_filters' | t }}</h5>
                        <p>{{ 'collections.general.refine_search' | t }} <a href="#" @click.prevent="_clearAllFilters()" rel="nofollow" aria-label="{{ 'collections.general.reset_filters' | t }}" title="{{ 'collections.general.reset_filters' | t }}">{{ 'collections.general.reset_filters' | t }}</a></p>
                      </div>
                    {% endif %}
                  </div>
                {% endif %}

                {% if paginate.pages > 1 %}
                <div class="row">
                    <div class="col-12 text-center mt-5">
                      {% if filters_ajaxed %}
                        {% include 'collection-pagination-ajaxed' %}
                      {% else %}
                        {% include 'pagination' %}
                      {% endif %}
                    </div>
                </div>
                {% endif %}
              </div>
            </div>
            {% comment %} END Template with Sidebar {% endcomment %}

        {% else %}

            {% comment %} Template full - without Sidebar {% endcomment %}
            {% comment %} <div class="row mb-3">
              <div class="col-lg-3 ml-auto mr-auto">
                {% include 'form-collection-sorting' %}
              </div>
            </div> {% endcomment %}

            <div class="row">
                {% for product in collection.products %}
                <div class="col-12 col-sm-6 col-md-4 d-flex my-3 my-md-4">
                  {% case product_card_type %}
                    {% when 'type_1' %}
                      {% include 'card-product-style-1' %}
                    {% when 'type_2' %}
                      {% include 'card-product-style-2' %}
                    {% else %}
                      {% include 'card-product-style-1' %}
                  {% endcase %}
                </div>
                {% endfor %}
            </div>

            {% if paginate.pages > 1 %}
            <div class="row">
                <div class="col-12 text-center mt-5">
                    {% include 'pagination' %}
                </div>
            </div>
            {% endif %}

        {% endif %}

    </div>
</section>

{% endpaginate %}
