{% assign is_promo_in_cart = false %}
{% assign promoPrices = '' %}

<form action="/cart" method="post">
  <div class="row justify-content-center">
    {% for item in cart.items %}

      {% assign is_promo_product = false %}
      {% assign add_method = 'manual' %}
      {% comment %}ReCharge App{% endcomment %}
      {% assign recurringchecked = "false" %}

      {% for property in item.properties %}
        {% if property.first == 'promo_product' and property.last == 'true' %}
          {% assign is_promo_in_cart = true %}
          {% assign is_promo_product = true %}
          {% assign promoPrices = promoPrices | plus: item.line_price %}
        {% endif %}
        {% if property.first == 'add_method' and property.last == 'auto' %}
          {% assign add_method = 'auto' %}
        {% endif %}
        {% comment %}ReCharge App{% endcomment %}
        {% if property.first == 'shipping_interval_frequency' %}
          {% assign frequency = property.last %}
          {% assign recurringchecked = "true" %}
        {% endif %}
        {% if property.first == 'shipping_interval_unit_type' %}
          {% if frequency == '1'%}
            {% if property.last == 'Days' %}
              {% assign frequency_unit = 'Day' %}
            {% elsif property.last == 'Months'%}
              {% assign frequency_unit = 'Month' %}
            {% elsif property.last == 'Weeks'%}
              {% assign frequency_unit = 'Week' %}
            {% endif %}
          {% else %}
            {% assign frequency_unit = property.last %}
          {% endif %}
        {% endif %}
      {% endfor %}

      <div class="col-sm-6 col-lg-4 my-3 d-flex align-items-stretch">
        <div class="card text-left w-100">
          <div class="card-img text-center {% if item.featured_image.size == 0 %}bg-gray-300{% endif %}">
            {% if item.image != blank %}
              <img src="{{ item | img_url: 'large' }}" alt="{{ item.title | escape }}" class="img-fluid item-img"/>
            {% else %}
              {{ 'product-1' | placeholder_svg_tag: 'img-fluid bg-gray-100' }}
            {% endif %}
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-6">
                <h6 class="card-title m-0">
                  <a href="{{ item.url | within: collection }}">
                    {{ item.product.title }}
                    {% unless item.variant.title contains 'Default' %}
                      <span class="small text-muted">({{ item.variant.title }})</span>
                    {% endunless %}
                  </a>
                </h6>
                {% comment %}ReCharge frequency{% endcomment %}
                {% if recurringchecked == "true" %}
                  <div class="small">Recurring Delivery every {{frequency}} {{frequency_unit}}. Change or cancel anytime </div>
                {% endif %}
              </div>
            	<div class="col-6 text-right">
                {% if is_promo_product %}
                  <s class="text-muted m-0 p-0">{{ item.price | money }}</s> FREE
                {% else %}
                  {% if item.product.compare_at_price > item.price %}
                    <s class="text-muted m-0 p-0">{{ item.product.compare_at_price | money }}</s>
                  {% endif %}
                  <span class="m-0 p-0">{{ item.price | money }}</span>
                {% endif %}
                {% unless is_promo_product and add_method == 'auto' %}
                  <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" title="{{ 'cart.general.remove' | t }}" data-toggle="tooltip" data-placement="top" class="text-danger ml-3"><i class="icon ion-md-remove-circle-outline"></i></a>
                {% endunless %}
            	</div>
            </div>
            <div class="row mt-3">
              <div class="col-5 col-sm-7 col-lg-6 text-center ml-auto mr-auto">
                <div class="quantity-wrapper" data-qty-container>
                  <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <a href="#" class="btn-decrease" data-qty-decrease @click.prevent="_updateQty($event)" rel="nofollow" aria-label="Decrease" title="Decrease"><i class="icon ion-md-remove"></i></a>
                      </span>
                    </div>
                    <input type="number" name="updates[]" id="updates_{{ item.key }}" value="{{ item.quantity }}" step="1" min="1" pattern="[0-9]*" inputmode="numeric" data-qty-input class="quantity form-control text-center">
                    <div class="input-group-append">
                      <span class="input-group-text">
                        <a href="#" class="input-group-addon btn-increase" data-qty-increase @click.prevent="_updateQty($event)" rel="nofollow" aria-label="Increase" title="Increase"><i class="icon ion-md-add"></i></a>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  <div class="row mt-3">
    <div class="col-12 text-center">
      {% if section.settings.show_back_btn %}
        <a href="/collections" class="btn btn-info btn-sm"><i class="icon ion-md-arrow-back"></i> {{ 'cart.general.back_to_shop' | t }}</a>
      {% endif %}
      <button type="submit" name="update" class="btn btn-outline-primary btn-sm"><i class="icon ion-md-refresh"></i> {{ 'cart.general.update' | t }}</button>
    </div>
  </div>

  <div class="row mt-5">
    {% if section.settings.enable_cart_notes %}
    <div class="col-12 col-lg-8 ml-auto mr-auto text-center mb-5">
      <p>{{ 'cart.general.note' | t }}:</p>
      <textarea name="note" class="form-control" rows="4">{{ cart.note }}</textarea>
    </div>
    {% endif %}

    {% if section.settings.enable_delivery_date_selection %}
      <div class="col-12 col-sm-8 col-md-6 col-lg-4 mx-auto mb-5">
        <label>{{ 'cart.general.delivery_date' | t }}</label>
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="icon ion-md-calendar"></i>
            </span>
          </div>
          <flat-pickr
              value="{{ cart.attributes.date }}"
              :config="datePickerConfig"
              :required="false"
              readonly
              name="attributes[date]"
              class="form-control">
          </flat-pickr>
        </div>
        <p class="small font-italic text-center">{{ 'cart.general.delivery_date_note' | t }}</p>
      </div>
    {% endif %}

    {% if section.settings.enable_shipping_calculator %}
    <div class="col-12 col-lg-8 ml-auto mr-auto text-center mb-5">
      {% include 'shipping-calculator' %}
    </div>
    {% endif %}

    <div class="col-12 text-center">
      {% if is_promo_in_cart %}
      <h5 class="text-uppercase">{{ 'cart.general.subtotal' | t }}: {{ cart.total_price | minus: promoPrices | money }}</h5>
      {% else %}
      <h5 class="text-uppercase">{{ 'cart.general.subtotal' | t }}: {{ cart.total_price | money }}</h5>
      {% endif %}

      {% if cart.total_discounts > 0 %}
        <h5>{{ 'cart.general.savings' | t }}: {{ cart.total_discounts | money }}</h5>
      {% endif %}

      <p class="small font-italic mt-2">{{ 'cart.general.shipping_at_checkout' | t}}</p>
      <button class="btn btn-primary btn-lg"
        type="submit"
        name="checkout"
        {% if cart_has_subscription_item == 'true' %} onclick="event.preventDefault(); reChargeSaveCartNoteAndRedirect()"{% endif %}>
        {{ 'cart.general.checkout' | t }} <i class="icon ion-md-arrow-forward"></i>
      </button>

      {% if additional_checkout_buttons %}
      {% comment %}span wrapper tag is needed by the ReCharce App{% endcomment %}
      <span class="additional-checkout-buttons">
        <div class="additional-checkout-buttons">
          {{ content_for_additional_checkout_buttons }}
        </div>
      </span>
      {% endif %}
    </div>
  </div>
</form>
