<section data-template="account"  class="section-content pt-lg-8 pb-lg-6 account-heading-wrapper">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <h1 class="display-4 mb-1">My Account</h1>
                <ul class="list-inline mb-0 mt-3 account-link">
                    <li class="list-inline-item mr-0 my-2"><a href="#" class="text-latoMedium text-uppercase text-gray-700 px-4 active">Orders & Subscriptions</a></li>
                    {% if customer.metafields.subscriptions.customer_string %}  
                    <li class="list-inline-item mr-0 my-2"><a href="/tools/recurring/customers/{{customer.metafields.subscriptions.customer_string}}/account/" class="text-latoMedium text-uppercase text-gray-700 px-4">Payment Schedule</a></li>
                    <li class="list-inline-item mr-0 my-2"><a href="/tools/recurring/customers/{{customer.metafields.subscriptions.customer_string}}/account/" class="text-latoMedium text-uppercase text-gray-700 px-4">Subscription Billing</a></li>
                    {% endif %}
                    <li class="list-inline-item mr-0 my-2"><a href="/account/addresses" class="text-latoMedium text-uppercase text-gray-700 px-4">View Addresses (2)</a></li>
                    <li class="list-inline-item mr-0 my-2"><a href="/account/logout" class="text-latoMedium text-uppercase text-gray-700 px-4">Sign out</a></li>
                </ul>
            </div>
        </div>
    </div>
  </section>
  <section class="pt-2 pb-6 account-content">
    <div class="container">
        <div class="row">
            <div class="col-12 col-xl-3 my-4">
                <div class="account-info">
                    <h5 class="mb-3">{{ customer.name }}</h5>
                    <p class="mb-3 text-gray-700"><a href="mailto:{{ customer.email }}" class="word-wrap-break">{{ customer.email }}</a></p>
                    <p class="mb-3 text-gray-700"><span class="font-weight-bold">Total Orders:</span> {{ customer.orders_count }}</p>
                    <p class="mb-0 text-gray-700"><span class="font-weight-bold">Total Spent:</span> {{customer.total_spent}}</p>
                </div>
            </div>
            <div class="col-12 col-xl-9 my-4">
                <div class="account-subcription">
                    <h4 class="display-3 mb-0 text-primary">Your Subscriptions</h4>
                    <template v-if="isgetsubscription == false">
                        <div class="lodingSubscription d-flex align-items-center justify-content-center">
                            <i class="icon ion-md-refresh spin"></i> {{ 'general.wait' | t }}
                        </div>
                    </template>
                    <template v-else>
                    <table class="table table-borderless footable mb-4 mb-md-7 footable subscription-order-table">
                        <thead class="bg-gray-100">
                            <tr>
                                <th data-toggle="true"></th>
                                <th class="text-latoMedium font-weight-medium text-uppercase">order</th>
                                <th class="text-latoMedium font-weight-medium text-uppercase" data-hide="phone">Status</th>
                                <th class="text-latoMedium font-weight-medium text-uppercase" data-hide="phone" >Ships Every</th>
                                <th class="text-latoMedium font-weight-medium text-uppercase" data-hide="phone" >total</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-if="rechargeDashbord.subscription != ''" v-for="(order, index) in rechargeDashbord.subscription" class="order-item-listing" v-bind:class="{ 'shadow': order.status == 'ACTIVE', 'reactivate-order': order.status == 'CANCELLED' ||  order.status == 'EXPIRED' }" :key="index">
                                <td class="py-4 align-middle text-center"></td>
                                <td class="order-image-td py-4">
                                    <div class="d-flex align-items-start">
                                        <img :src="_getSizedImageUrl(order.image, 'large')" class="d-none d-sm-block mw-100 order-image mr-3" :class="'img_'+order.shopify_variant_id"/>
                                        <div class="order-image-info">
                                            <p class="text-primary font-weight-medium mb-1" v-text="order.id"></p>
                                            <h5 class="mb-0" v-text="order.product_title">Bloomsy S</h5>
                                            <p class="mb-0" v-text="_formatMoney(order.price * 100)"></p>
                                            <p class="mb-0 font-italic" v-if="order.order_interval_unit == 'month'">Pay Monthly</p>
                                            <p class="mb-0 font-italic" v-else-if="order.order_interval_unit == 'week' && order.order_interval_frequency == '1'">Pay Weekly</p>
                                            <p class="mb-0 font-italic" v-else="order.order_interval_unit == 'week' && order.order_interval_frequency == '2'">Pay By Weekly</p>
                                        </div>
                                    </div>
                                    <p class="mb-0 font-size-sm mt-2" v-if="order.cancellation_reason != '' && order.cancellation_reason != 'Other Reason' && order.cancellation_reason != 'Purchase item reachs orders limit' && order.cancellation_reason != 'This was created by accident'  && order.cancellation_reason != 'This is too expensive' && order.cancellation_reason != 'I already have more than I need' && order.cancellation_reason != 'I need it sooner' && order.cancellation_reason != 'I no longer use this product' && order.cancellation_reason != 'I want a different product' && order.cancellation_reason != 'I want a different flavor/ scent/count'" v-text="order.cancellation_reason"></p>
                                </td> 
                                <td class="py-lg-4">
                                    <p class="mb-0 mt-lg-5 font-weight-normal" v-text="order.status"></p>
                                </td>
                                <td class="py-md-4">
                                    <div class="mt-md-5">
                                        <p class="mb-0 font-weight-normal text-capitalize" v-text="order.order_interval_frequency +' '+ order.order_interval_unit"></p>
                                        <p class="mb-0 font-italic">Next Shipment</p>
                                        <p class="mb-0 font-italic" v-if="order.next_charge_scheduled_at" v-text="_formatDateRecharge(order.next_charge_scheduled_at)"></p>
                                        <p class="mb-0 font-italic" v-else>--</p>
                                    </div>
                                </td>
                                <td class="py-lg-4">
                                    <p class="mb-0 mt-lg-5 font-weight-normal" v-text="_formatMoney(order.price * 100)"></p>
                                </td>
                                <td class="py-md-4 align-middle text-right btn-action" v-bind:class="{ 'reactivate-btn': order.status == 'CANCELLED' ||  order.status == 'EXPIRED' }">
                                    <a href="javascript:void(0);" class="btn btn-sm px-3 btn-primary" v-if="order.status == 'ACTIVE'" @click.prevent="_readGetProduct(order.shopify_product_id);_toggleRechargeDrawer($event,index);_getAddress(order.address_id);">EDIT</a>
                                    <a href="javascript:void(0);" class="text-lato font-weight-bold text-uppercase expired text-primary" v-else-if="order.status == 'EXPIRED'">EXPIRED</a>
                                    <a href="javascript:void(0);" class="text-lato font-weight-bold text-uppercase text-primary" @click.prevent="_activeSubscription($event,order.id)" v-else>
                                        <template v-if="isLoading && loadingEvent == 'activate_'+order.id">
                                            <i class="icon ion-md-refresh spin"></i> {{ 'general.wait' | t }}
                                        </template>
                                        <template v-else>
                                            Reactivate
                                        </template>
                                    </a>
                                </td>
                                <td class="py-4"></td>
                            </tr>
                            <tr v-else class="shadow">
                                <td colspan="7" class="py-4 align-middle">
                                    You don't have any subscriptions. <a href="/collections/">Start Shopping</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    </template>
                    <h4 class="display-3 mb-0 text-primary">Order History</h4>
                    {% if customer.orders.size != 0 %}
                    <table class="table table-borderless mb-0 footable order-history-table">
                        <thead class="bg-gray-100">
                            <tr>
                                <th></th>
                                <th class="text-latoMedium font-weight-medium text-uppercase">order</th>
                                <th class="text-latoMedium font-weight-medium text-uppercase" data-hide="phone">Payment Status</th>
                                <th class="text-latoMedium font-weight-medium text-uppercase" data-hide="phone">Fulfillment status</th>
                                <th class="text-latoMedium font-weight-medium text-uppercase text-right">Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody class="shadow">
                            {% for order in customer.orders %}
                            <tr>
                                <td class="align-middle text-center"></td>
                                <td class="pt-3 pb-0 order-number">
                                    <p class="mb-0"><a href="{{ order.customer_url }}" class="text-primary font-weight-medium mr-2">{{  order.name }}</a>on {{ order.created_at | date: format: 'month_day_year' }}</p>
                                </td>
                                <td class="pt-3 pb-0">
                                    <p class="mb-0 font-weight-normal">{{ order.financial_status_label }}</p>
                                </td>
                                <td class="pt-3 pb-0">
                                    <p class="mb-0 font-weight-normal">{{ order.fulfillment_status_label }}</p>
                                </td>
                                <td class="pt-3 pb-0 text-right">
                                    <p class="mb-0 font-weight-normal">{{ order.total_price | money }}</p>
                                </td>
                                <td class="pt-3 pb-0"></td>
                            </tr>
  
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                        <div class="alert alert-warning mt-3">
                        {{ 'customer.orders.none' | t }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
  </section>
  {% include 'recharge-popup' %}
  