<section class="section-content Bloomsypedia-categories" style="background:#f5f5f5;"> 
    <div class="container">
        <div class="row mb-md-3"> 
            <div class="col-12 text-center">
                <h6>{{ section.settings.heading_txt }}</h6>
                <h2 class="text-primary">{{ section.settings.lead_txt }}</h2> 
            </div>
        </div> 
        <div class="row carousel-pedia" 
            data-flickity='{
              "contain": true,
              "freeScroll": false,
              "groupCells": "100%",  
              "cellAlign": "left",
              "draggable": true,
              "pageDots": false,
              "arrowShape": {"x0": 20, "x1": 75, "y1": 50, "x2": 80, "y2": 40, "x3": 35}
            }'>
            {% for block in section.blocks %}
            {% unless block.settings.heading_txt contains blog.title %}
                <div class="col-sm-6 col-lg-4 mt-3 d-flex align-items-stretch">
                    <div class="card bg-white text-left border-0 border-radious-0 bg-transparent">
                        <div class="card-img pedia-img">
                            <a href="{% if block.settings.btn_url != blank %}{{ block.settings.btn_url }}{% else %}#{% endif %}">
                                    <img
                                        data-sizes="auto"
                                        src="{{ block.settings.image | img_url: 'small'}}"
                                        data-srcset="
                                        {{ block.settings.image | img_url: '400x' }} 576w,
                                        {{ block.settings.image | img_url: '500x' }} 768w,
                                        {{ block.settings.image | img_url: '600x' }} 992w,
                                        {{ block.settings.image | img_url: '700x' }} 1200w"
                                        class="lazyload img-fluid h-100" alt="{{ section.settings.heading_txt | escape }}" />
                            </a>
                        </div>
                        <div class="card-body px-0 pb-0">
                            <h3 class="card-title text-center font-weight-light mb-0">
                                <a href="{% if block.settings.btn_url != blank %}{{ block.settings.btn_url }}{% else %}#{% endif %}" class="">{{ block.settings.heading_txt }}</a>
                            </h3> 
                        </div>
                    </div>
                </div>
            {% endunless %}
            {% endfor %}
        </div>
    </div>
</section>          


{% schema %}
  {
    "name": "Categories",
    "settings": [
        
          {
            "type": "text",
            "id": "heading_txt",
            "label": "Heading Text"
          },
          {
            "type": "richtext",
            "id": "lead_txt",
            "label": "Lead Text"
          }
    ],
    "blocks": [
      {
        "type": "content",
        "name": "Block Content",
        "settings": [
          {
            "type": "header",
            "content": "Content"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Select Image"
          },
          {
            "type": "text",
            "id": "heading_txt",
            "label": "Heading Text"
          },
          {
            "type": "url",
            "id": "btn_url",
            "label": "Button URL"
          }
        ]
      }
    ]
  }
{% endschema %}