{% if section.settings.banner_enabled %}
{% assign banner1_img = section.settings.banner_img %}
<section class="position-relative section-content bg-img lazyload" data-sizes="auto"
{% if banner1_img %}
data-bgset="
    {{ banner1_img | img_url: '800x800', crop: 'center' }} 576w,
    {{ banner1_img | img_url: '800x800', crop: 'center' }} 768w,
    {{ banner1_img | img_url: 'master' }} 992w,
    {{ banner1_img | img_url: 'master' }} 1200w"
{% endif %}
>
    <div class="container d-none d-md-block">
        <div class="row">
            <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4 py-md-6 py-5 text-md-left text-center">  
                {% if section.settings.heading_txt != blank %}
                    <h1 class="mb-2 display-4">{{ section.settings.heading_txt }}</h1>
                {% endif %}
                {% if section.settings.sub_heading_txt != blank %}
                    <h4 class="text-uppercase text-primary mb-3">{{ section.settings.sub_heading_txt }}</h4>
                {% endif %}
                {% if section.settings.lead_txt != blank %}
                    <p class="mb-0 font-weight-normal">{{ section.settings.lead_txt }}</p>
                {% endif %}
            </div>
        </div>
    </div> 
</section> 
<section class="d-block d-md-none">
    <div class="container">
        <div class="row">
            <div class="col-12 pt-5 text-center">  
                {% if section.settings.heading_txt != blank %}
                    <h1 class="mb-2 display-4">{{ section.settings.heading_txt }}</h1>
                {% endif %}
                {% if section.settings.sub_heading_txt != blank %}
                    <h4 class="text-uppercase text-primary mb-3">{{ section.settings.sub_heading_txt }}</h4>
                {% endif %}
                {% if section.settings.lead_txt != blank %}
                    <p class="mb-0 font-weight-normal">{{ section.settings.lead_txt }}</p>
                {% endif %}
            </div>
        </div>
    </div> 
</section>
{% endif %}


<section class="section-content">
    <div class="container">
        <div class="Bloomsypedia-categories">
            <div class="row">
                {% for block in section.blocks %}
                    <div class="col-sm-6 col-lg-4 my-3 d-flex align-items-stretch">
                        <div class="card bg-white text-left border-0 border-radious-0">
                            <div class="card-img pedia-img border-radious-0">
                                <a href="{% if block.settings.btn_url != blank %}{{ block.settings.btn_url }}{% else %}#{% endif %}">
                                <img
                                    data-sizes="auto"
                                    src="{{ block.settings.image | img_url: 'small'}}"
                                    data-srcset="
                                    {{ block.settings.image | img_url: '400x' }} 576w,
                                    {{ block.settings.image | img_url: '500x' }} 768w,
                                    {{ block.settings.image | img_url: '600x' }} 992w,
                                    {{ block.settings.image | img_url: '700x' }} 1200w"
                                    class="lazyload img-fluid h-100" alt="{{ section.settings.heading_txt | escape }}" />
                                    </a>
                            </div>
                            <div class="card-body px-0 pb-0">
                                <h3 class="card-title">
                                    <a href="{% if block.settings.btn_url != blank %}{{ block.settings.btn_url }}{% else %}#{% endif %}" class="text-primary">{{ block.settings.heading_txt }}</a>
                                </h3>
                                <p>{{ block.settings.lead_txt }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>  
</section> 
{% schema %}
  {
    "name": "BloomsyPedia",
    "settings": [
        {
            "type": "header",
            "content": "Banner"
        },
        {
            "type": "checkbox",
            "id": "banner_enabled",
            "label": "Show Banner?",
            "default": true
        },
        {
            "type": "image_picker",
            "id": "banner_img",
            "label": "Select Image"
        },
        {
            "type": "text",
            "id": "heading_txt",
            "label": "Heading Text"
        },
        {
            "type": "text",
            "id": "sub_heading_txt",
            "label": "Sub Heading Text"
        },
        {
            "type": "textarea",
            "id": "lead_txt",
            "label": "Lead Text"
        }
    ],
    "blocks": [
      {
        "type": "content",
        "name": "Block Content",
        "settings": [
          {
            "type": "header",
            "content": "Content"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Select Image"
          },
          {
            "type": "text",
            "id": "heading_txt",
            "label": "Heading Text"
          },
          {
            "type": "richtext",
            "id": "lead_txt",
            "label": "Lead Text"
          },
          {
            "type": "url",
            "id": "btn_url",
            "label": "Button URL"
          }
        ]
      }
    ]
  }
{% endschema %}