{% assign sidebar_enabled = section.settings.enable_sidebar %}
{% assign sidebar_is_sticky = section.settings.sidebar_is_sticky %}
{% assign number_of_comments = article.comments_count %}
{% assign article_image = article.image.src | img_url %}

{% comment %}
  If a comment was just submitted but requires moderation, we have an extra comment to count.
{% endcomment %}
{% if comment and comment.status != 'published' %}
  {% assign number_of_comments = article.comments_count | plus: 1 %}
{% endif %}


{% comment %} Next/Prev article nagigation {% endcomment %}
{% assign current_found = false %}
{% assign done = false %}
{% for a in blog.articles %}
	{% if current_found and done == false %}
		{% assign next_article = a %}
		{% assign done = true %}
	{% endif %}
	{% unless done %}
		{% if a.id == article.id %}
			{% assign current_found = true %}
		{% else %}
			{% assign prev_article = a %}
		{% endif %}
	{% endunless %}
{% endfor %}


<section class="section-content give-gift" data-section-id="{{ section.id }}"  role="article" > 
    <div class="container">
        <div class="row"> 
            <div class="col-12 col-md-6 mb-md-0 mb-6">
                <h2 class="mb-2">{{ article.title }}</h2>    
                <h4 class="mb-4">Overview/History</h4>   
                <div>
                  {{ article.content }}
                </div>         
                {% if article.metafields['article_meta']['link_btn1_url'] != '' %}
                  <div class="mt-4 mt-md-6"><a href="{{article.metafields['article_meta']['link_btn1_url']}}" class="btn btn-primary">{{ article.metafields['article_meta']['link_btn1_text'] }}</a></div>
                {% endif %}  

            </div>
            <div class="col-12 col-md-6">
                 <div class="gift_img shadow-1">
                    <img  data-sizes="auto"
                    src="{{ article.image.src | img_url: 'pico' }}"
                    data-srcset="
                    {{ article.image.src | img_url: 'large' }} 576w,
                    {{ article.image.src | img_url: '1280x' }} 768w,
                    {{ article.image.src | img_url: '1440x' }} 992w,
                    {{ article.image.src | img_url: '1920x' }} 1200w
                    "
                    class="lazyload"
                    alt="{{ article.image.alt }}"/>
                 </div>   
            </div>
        </div>
    </div>
</section>   

<section class="section-content anniversary-gift" style="background:#f5f5f5;"> 
    <div class="container">
        <div class="row"> 
            <div class="col-12 col-lg-3 col-md-4 mb-mb-0 mb-6">
                {% if article.metafields['article_meta']['gift_text1'] != '' %}
                  <p class="display-6">{{ article.metafields['article_meta']['gift_text1'] }}</p>  
                {% endif %}
                {% if article.metafields['article_meta']['gift_link_btn1'] != '' %}
                  <div class="mt-4 mt-md-6 mt-lg-7"><a href="{{ article.metafields['article_meta']['gift_link_btn1'] }}" class="link-underline display-3 text-gray-500 font-weight-light text-capitalize">shop now!</a></div>
                {% endif %}
            </div>
            <div class="col-12 col-md-8 col-lg-9">
                {% if article.metafields['article_meta']['gift_listing_1'] != '' %}
                  {% assign lists = article.metafields['article_meta']['gift_listing_1'] | split: ',' %}
                <ul class="list-group list-group-flush font-weight-normal d-block column-count-3 column-gap"> 
                    {% for list in lists %}    
                      <li class="list-group-item bg-transparent d-inline-block align-top px-0 w-100 border-bottom-0">{{list}}</li>                   
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
    </div>
</section>  

{% if article.metafields['article_meta']['article_caption'] != '' %}
<section class="section-content"> 
    <div class="container">                     
        <p class="column-count-2 column-gap">{{article.metafields['article_meta']['article_caption']}}</p>       
    </div>
</section>       
{% endif %}

<section class="section-content position-relative" style="background:url({{ article.metafields['article_meta']['img_section1'] }}); background-size:cover;"> 
    <div class="overlay"></div>
    <div class="container position-relative">               
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-7 col-md-9 text-center text-white">  
                {% if article.metafields['article_meta']['img_section_headtxt1'] != '' %}<h2 class="mb-3">{{ article.metafields['article_meta']['img_section_headtxt1'] }}</h2>{% endif %}
                {% if article.metafields['article_meta']['img_section_subtxt1'] != '' %}<h5 class="mb-5">{{ article.metafields['article_meta']['img_section_subtxt1'] }}</h5>{% endif %}
                {% if article.metafields['article_meta']['img_section_link1'] != '' %}<a href="{{ article.metafields['article_meta']['img_section_link1'] }}" class="btn btn-light">shop now</a>{% endif %} 
            </div>
        </div>
    </div>
</section>  

<section class="section-content wedding-anniversary-gift"> 
    <div class="container">               
        <div class="row">
            <div class="col-12 mb-md-5 mb-3">
                {% if article.metafields['article_meta']['gift_headtxt2'] != '' %}<h2 class="text-primary">{{ article.metafields['article_meta']['gift_headtxt2'] }}</h2>{% endif %}                
            </div>            
        </div> 
        <div class="row">
            <div class="col-lg-3 col-md-4 mb-mb-0 mb-6">
                {% if article.metafields['article_meta']['gift_text2'] != '' %}<h3 class="mb-md-5 mb-lg-6 mb-4 font-weight-light text-capitalize">{{ article.metafields['article_meta']['gift_text2'] }}</h3>{% endif %}
                {% if article.metafields['article_meta']['gift_caption2'] != '' %}<p class="mb-md-5 mb-lg-6 mb-4">{{ article.metafields['article_meta']['gift_caption2'] }}</p>{% endif %}
                {% if article.metafields['article_meta']['gift_link_btn2'] != '' %}<a href="{{ article.metafields['article_meta']['gift_link_btn2'] }}" class="btn btn-primary">give a gift</a> {% endif %}
            </div> 
            <div class="col-12 col-lg-9 col-md-8">
                {% if article.metafields['article_meta']['gift_listing_2'] != '' %}
                  {% assign lists = article.metafields['article_meta']['gift_listing_2'] | split: ',' %}
                <ul class="list-group list-group-flush font-weight-normal d-block column-count-2 column-gap"> 
                  {% for list in lists %}  
                    <li class="list-group-item bg-transparent d-inline-block align-top px-0 w-100 border-bottom-0">{{list}}</li>                 
                  {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
    </div>
</section>  

<section class="section-content" style="background:#f5f5f5;"> 
    <div class="container">
        <div class="row mb-md-6 mb-4 justify-content-center"> 
            <div class="col-xl-6 col-lg-7 col-md-8 text-md-center">
                <h3 class="font-weight-light">The best way to get the perfect gift is to have the professionals curate a selection for you! </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12 column-count-3 column-gap">
                <p>Here at Blooms,Box, we pride ourselves on bringing you the best blooms in beautiful bouquets from our farm partners (who are all Rainforest Alliance certified and sustainable). Let us build a very special custom bouquet for you every month that your spouse will love! We promise it will always be unique and one-of-a-kind - and also that you'll enjoy it, guaranteed. </p>
                <p>Our bouquets feature hand-tied arrangements that typically focus on a single type of flower that inspires us for the month. It arrives thoughtfully arranged with greenery that highlights the beauty of the featured flower and is designed to last in a vase for weeks. </p>
                <p>For another gift idea, why not send her a bouquet that reminds you of your special day? BloomsyBox offers many one-of-a-kind flowers that she may have picked for your wedding, or even the colors of the wedding brought to life in a stunning arrangement. To see our single-stem bouquets, <a href="/collections" style="text-decoration:underline;">click here</a>. </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="mt-md-6 mt-4 text-md-center"><a href="/pages/subscribe" class="link-underline display-3 text-gray-500 font-weight-light text-capitalize">shop now!</a></div>
            </div>
        </div>
    </div>
</section> 

<section class="section-content"> 
    <div class="container">
        <div class="row">  
            <div class="col-lg-8 col-md-8 mb-mb-0 mb-5">  
                <h2>{{ article.metafields['article_meta']['content_headtxt1'] }}</h2>
                <h5>{{ article.metafields['article_meta']['content_subtxt1'] }}</h5>
                <div class="column-count-2 column-gap mt-4 mb-md-7 mb-5">
                    <p>{{ article.metafields['article_meta']['content_caption1'] }}</p>
                </div> 
                <a href="{{ article.metafields['article_meta']['content_btnlink1'] }}" class="btn btn-primary">Give a Gift</a>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="for_anniversaries shadow-1">
                    <img src="{{ article.metafields['article_meta']['content_section_img1'] }}" />
                 </div>   
            </div>     
        </div>
    </div>
</section>  

<section class="section-content" style="background:#f5f5f5;"> 
    <div class="container">
  <div class="row align-items-center">  
      <div class="col-md-3 mb-md-0 mb-5 text-center">
          <div class="img-icon mx-auto d-block"> 
              <img src="https://cdn.shopify.com/s/files/1/0084/0617/1763/files/matha-logo.png?4876">
          </div>
          <div class="mt-md-5 mt-4 text-center"><a href="/pages/martha-stewart-roses" class="link-underline display-3 text-gray-500 font-weight-light text-capitalize">shop now!</a></div>
      </div>
      <div class="col-md-9 text-center text-md-left">
                <h3 class="font-weight-light">For an extra special gift, <u>Martha Stewart</u> has curated a monthly collection of her favorite roses in stunning, unique colors that you won't easily find anywhere else. She handpicked a rose for every month of the year, so why not let the style maven herself style a beautiful collection for your special someone for the whole year? </h3> 
            </div>
        </div>
    </div>
</section>  

<section class="section-content give-gift"> 
    <div class="container">
        <div class="row">             
            <div class="col-12 col-md-6 mb-mb-0 mb-5">
                 <div class="gift_img shadow-1">
                    <img src="{{ article.metafields['article_meta']['content_section_img2'] }}" />
                 </div>   
            </div>
            <div class="col-12 col-md-6">
                <h2 class="mb-2 text-primary">{{ article.metafields['article_meta']['content_headtxt2'] }}</h2>
                <div class="my-md-5 my-4">
                  {{ article.metafields['article_meta']['content_caption2'] }}
                </div>
                <div class="mt-4"><a href="{{ article.metafields['article_meta']['content_btnlink2'] }}" class="btn btn-primary">give a gift</a></div>
            </div> 
        </div>
    </div>
</section>  

<section class="section-content" style="background:#f5f5f5;" > 
    <div class="container">
        <div class="row"> 
            <div class="col-12">
              {% if article.metafields['article_meta']['only_listing'] != '' %}
                  {% assign lists = article.metafields['article_meta']['only_listing'] | split: ',' %}
                <ul class="list-group list-group-flush font-weight-normal d-block column-count-4 column-gap"> 
                  {% for list in lists %}
                    <li class="list-group-item bg-transparent d-inline-block align-top px-0 w-100 border-bottom-0 text-uppercase {% if forloop.first == true %}border-top{% endif %}">{{list}}</li>                    
                  {% endfor %}
                </ul>
              {% endif %}
            </div>
        </div>
    </div>
</section>  

 <section class="section-content wedding-anniversary-gift"> 
    <div class="container">               
        <div class="row">
            <div class="col-12 mb-md-5 mb-3">
                <h2 class="text-primary">{{ article.metafields['article_meta']['content_headtxt3'] }}</h2>                
            </div>            
        </div> 
        <div class="row">
            <div class="col-lg-3 col-md-4 mb-mb-0 mb-5">
                <h3 class="mb-5 font-weight-light">{{ article.metafields['article_meta']['content_subtxt3'] }}</h3>
                <a href="{{ article.metafields['article_meta']['content_btnlink3'] }}" class="btn btn-primary">give a gift</a> 
            </div> 
            <div class="col-12 col-lg-9 col-md-8">
                <div class="column-count-2 column-gap">
                  {{ article.metafields['article_meta']['content_caption3'] }}
                </div>
            </div>
        </div>
    </div>
</section>    

<section class="section-content position-relative" style="background:url({{ article.metafields['article_meta']['img_section2'] }}); background-size:cover;"> 
    <div class="overlay"></div>
    <div class="container position-relative">               
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-7 col-md-9 text-center text-white">
                {% if article.metafields['article_meta']['img_section_headtxt2'] != '' %}<h2 class="mb-3">{{ article.metafields['article_meta']['img_section_headtxt2'] }}</h2>{% endif %}
                {% if article.metafields['article_meta']['img_section_subxt2'] != '' %}<h5 class="mb-5">{{ article.metafields['article_meta']['img_section_subxt2'] }}</h5>{% endif %}
                {% if article.metafields['article_meta']['img_section_link2'] != '' %}<a href="{{ article.metafields['article_meta']['img_section_link2'] }}" class="btn btn-light">shop now</a>{% endif %}
            </div>
        </div>
    </div>
</section>



{% schema %}
  {
    "name": "Article Template",
    "settings": [
      {
        "type": "header",
        "content": "Layout"
      },
      {
        "type": "checkbox",
        "id": "fluid_layout",
        "label": "Full Width Layout?",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "enable_social_sharing",
        "label": "Enable Article Social Sharing?",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "enable_sidebar",
        "label": "Enable Sidebar?",
        "default": false 
      },
      {
        "type": "checkbox",
        "id": "sidebar_is_sticky",
        "label": "Sticky Sidebar?",
        "default": false
      },
      {
        "type": "paragraph",
        "content": "Use the 'Content' section below to customize the sidebar content."
      },
      {
        "type": "header",
        "content": "Article Navigation"
      },
      {
        "type": "checkbox",
        "id": "enable_article_navigation",
        "label": "Enable Article Navigation?",
        "default": true
      },
      {
        "type": "select",
        "id": "navigation_type",
        "label": "Navigation Type",
        "options": [{
            "value": "simple",
            "label": "Simple"
          },
          {
            "value": "modern",
            "label": "Modern"
          }
        ],
        "default": "simple"
      }
    ],
    "blocks": [
      {
        "type": "socials",
        "name": "Socials",
        "limit": 1,
        "settings": [
          {
            "type": "checkbox",
            "id": "enable_socials",
            "label": "Enabled?",
            "default": true
          },
          {
            "type": "text",
            "id": "socials_title",
            "label": "Title",
            "default": "Connect with Us"
          },
          {
            "type": "paragraph",
            "content": "Select Networks"
          },
          {
            "type": "checkbox",
            "id": "social_icon_facebook",
            "label": "Facebook",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "social_icon_twitter",
            "label": "Twitter",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "social_icon_googleplus",
            "label": "Google+",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "social_icon_instagram",
            "label": "Instagram",
            "default": true
          }
        ]
      },
      {
        "type": "recent-articles",
        "name": "Recent Articles",
        "limit": 1,
        "settings": [
          {
            "type": "checkbox",
            "id": "enable_recent_articles",
            "label": "Enabled?",
            "default": true
          },
          {
            "type": "text",
            "id": "recent_articles_title",
            "label": "Title",
            "default": "Recent Articles"
          },
          {
            "type": "range",
            "id": "total_recent_articles",
            "label": "Articles Limit",
            "min": 1,
            "max": 10,
            "step": 1,
            "default": 5
          }
        ]
      },
      {
        "type": "tags",
        "name": "Tags",
        "limit": 1,
        "settings": [
          {
            "type": "checkbox",
            "id": "enable_tags",
            "label": "Enabled?",
            "default": true
          },
          {
            "type": "text",
            "id": "tags_title",
            "label": "Title",
            "default": "Tags"
          }
        ]
      }
    ]
  }
{% endschema %}
