<div class="occ-pages section-content pb-5">
    <div class="container">
        <div class="row">
            
            <div class="col-12 col-md-9 my-3 my-md-0">
                <h2 class="mb-2 font-italic">{{page.title}}</h2>
                <div class="content-occ-pages">
                    {{page.content}}
                </div>
            </div>
            {% include 'sidebar-occasions' %}
        </div>
    </div>
</div>



{% schema %}
  {
    "name": "Occasions",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_social_links",
        "label": "Show Social Links?",
        "default": true
      },
      {
        "type": "paragraph",
        "content": "Select Networks"
      },
      {
        "type": "checkbox",
        "id": "social_icon_facebook",
        "label": "Facebook",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "social_icon_twitter",
        "label": "Twitter",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "social_icon_googleplus",
        "label": "Google+",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "social_icon_pinterest",
        "label": "Pinterest",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "social_icon_youtube",
        "label": "Youtube",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "social_icon_instagram",
        "label": "Instagram",
        "default": true
      }
    ]
  }

{% endschema %}
