<section class="section-content">
    <div class="{% if section.settings.fluid_layout %}container-fluid{% else %}container{% endif %}">
      <div class="row">
        <div class="col-12 px-sm-4 text-center">
            {% if section.settings.heading_txt != blank %}
                <h1 class="page-title mb-2">{{ section.settings.heading_txt }}</h1>
            {% else %}
                <h1 class="page-title  mb-2">{{ page.title }}</h1>
            {% endif %}
            {% if section.settings.lead_txt != '' %}
                <h4 class="text-transform-none">{{ section.settings.lead_txt }}</h4>
            {% endif %}
        </div>
      </div>
    </div>
    
    <div id="shipping-page" class="pt-5">
      <div class="{% if section.settings.fluid_layout %}container-fluid{% else %}container{% endif %}">
          <div class="row">
              <div class="col-md-8 pb-6 pb-md-0"> 
                  <div class="border-bottom pb-lg-8 pb-6 mb-lg-8 mb-6">
                      {% if section.settings.content_sub_heading_txt != blank %}
                        <h3 class="text-RobotoCondensed mb-3">{{ section.settings.content_sub_heading_txt }}</h3>
                      {% endif %}
                      {% if section.settings.content_heading_txt != blank %}
                        <h2 class="text-primary mb-4">{{ section.settings.content_heading_txt }}</h2>
                      {% endif %}
                      {% if section.settings.content_lead_txt != blank %}
                        <div class="rte font-size-lg">
                            {{ section.settings.content_lead_txt }}
                        </div>
                      {% endif %}
                  </div>
                  <div>
                        {% if section.settings.content_heading_txt_2 != blank %}
                        <h3 class="text-primary mb-3">{{ section.settings.content_heading_txt_2 }}</h3>
                        {% endif %}
                        {% if section.settings.content_lead_txt_2 != blank %}
                        <div class="rte font-size-lg">
                            {{ section.settings.content_lead_txt_2 }}
                        </div>
                      {% endif %}
                  </div>
              </div>
                  {% if section.settings.image %}
                    <div class="col-md-4">
                        <div class="shipping-img">
                            <img
                                data-sizes="100vw"
                                src="{{ section.settings.image | img_url: 'small'}}"
                                data-srcset="
                                {{ section.settings.image | img_url: '1024x' }} 576w,
                                {{ section.settings.image | img_url: '1280x' }} 768w,
                                {{ section.settings.image | img_url: '1440x' }} 992w,
                                {{ section.settings.image | img_url: '1920x' }} 1200w"
                                class="lazyload img-fluid" alt="{{ section.settings.heading_txt | escape }}" />
                        </div>
                    </div>            
                {% endif %}
          </div>
      </div>
    </div>
</section> 


{% schema %}
  {
    "name": "Shiiping",
    "settings": [
        {
            "type": "header",
            "content": "Layout"
        },
        {
            "type": "checkbox",
            "id": "fluid_layout",
            "label": "Full Width Layout?",
            "default": false
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": "Select Image"
        },
        {
            "type": "text",
            "id": "heading_txt",
            "label": "Heading Text"
        },
        {
            "type": "textarea",
            "id": "lead_txt",
            "label": "Lead Text"
        },
        {
            "type": "header",
            "content": "Content 1"
        },
        {
            "type": "text",
            "id": "content_sub_heading_txt",
            "label": "Sub Heading Text"
        },
        {
            "type": "text",
            "id": "content_heading_txt",
            "label": "Heading Text"
        },
        {
            "type": "richtext",
            "id": "content_lead_txt",
            "label": "Lead Text"
        },
        {
            "type": "header",
            "content": "Content 2"
        },
        {
            "type": "text",
            "id": "content_heading_txt_2",
            "label": "Heading Text"
        },
        {
            "type": "richtext",
            "id": "content_lead_txt_2",
            "label": "Lead Text"
        }
    ]
  }
{% endschema %}


{% javascript %}
{% endjavascript %}
