<section data-section-id="{{ section.id }}" style="background-color: {{ section.settings.section_bg_color }}; color: {{ section.settings.section_txt_color }}">
    <div class="section-content pt-8 pb-4">
        <div class="{% if section.settings.fluid_layout %}container-fluid{% else %}container{% endif %} text-center">
            {% if section.settings.heading_txt != '' %}
                <h1 class="mb-2">{{ section.settings.heading_txt | escape }}</h1>
            {% endif %}
            {% if section.settings.lead_txt != '' %}
                <h4>{{ section.settings.lead_txt }}</h4>
            {% endif %}
        </div>
    </div>
    <div class="press-section pb-7">
        <div class="{% if section.settings.fluid_layout %}container-fluid{% else %}container{% endif %}">
            <div class="row"> 
                {% for block in section.blocks %}  
                    <div class="col-12 col-sm-6 col-md-4 mb-md-6 mb-5"> 
                        <div class="card press-news bg-white border-0 shadow-lg rounded-0 px-3 px-lg-4">
                            <div class="card-img px-3 py-4 rounded-0 d-flex align-items-center justify-content-center border-bottom">
                                {% if block.settings.image != blank %}
                                <img
                                    data-sizes="100vw"
                                    src="{{ block.settings.image | img_url: 'small'}}"
                                    data-srcset="
                                    {{ block.settings.image | img_url: '1024x' }} 576w,
                                    {{ block.settings.image | img_url: '1280x' }} 768w,
                                    {{ block.settings.image | img_url: '1440x' }} 992w,
                                    {{ block.settings.image | img_url: '1920x' }} 1200w"
                                    class="lazyload img-fluid mw-100 mb-2" alt="{{ block.settings.title | escape }}" />
                                {% else %}
                                    {{ 'product-1' | placeholder_svg_tag: 'img-fluid bg-gray-100' }}
                                {% endif %}
                            </div> 
                            <div class="card-body px-1 py-4">
                                {% if block.settings.date_picker != blank %}
                                <p class="text-primary font-weight-normal mb-1">{{ block.settings.date_picker }}</p>
                                {% endif %}
                                {% if block.settings.title != blank and block.settings.link != blank %}
                                    <h4 class="mb-2"><a href="{{ block.settings.link }}">{{ block.settings.title }}</a></h4>
                                {% else %}
                                    <h4 class="mb-2">{{ block.settings.title }}</h4>
                                {% endif %}
                                {% if block.settings.lead_txt != blank %}
                                <p class="mb-0">{{ block.settings.lead_txt }}</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% schema %}
  {
    "name": "Press",
    "settings": [
        {
            "type": "header",
            "content": "Layout"
        },
        {
            "type": "checkbox",
            "id": "fluid_layout",
            "label": "Full Width Layout?",
            "default": false
        },
        {
            "type": "text",
            "id": "heading_txt",
            "label": "Heading Text"
        },
        {
            "type": "textarea",
            "id": "lead_txt",
            "label": "Lead Text"
        },
        {
            "type": "header",
            "content": "Styling"
        },
        {
            "type": "color",
            "id": "section_bg_color",
            "label": "Background Color",
            "default": "#f8f9fa"
        },
        {
            "type": "color",
            "id": "section_txt_color",
            "label": "Text Color",
            "default": "#343a40"
        }
    ],
    "blocks": [
      {
        "type": "press",
        "name": "Press",
        "settings": [
          {
            "type": "header",
            "content": "Content"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Select Image"
          },
          {
            "type": "text",
            "id": "date_picker",
            "label": "Date"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading Text"
          },
          {
            "type": "textarea",
            "id": "lead_txt",
            "label": "Lead Text"
          },
          {
            "type": "text",
            "id": "link",
            "label": "link"
          }
        ]
      }
    ]
  }
{% endschema %}


{% javascript %}
{% endjavascript %}
