{% if section.settings.banner_enabled %}
<section class="main-banner-section vison-banner position-relative">
    <div class="position-relative h-100">
        {% if section.settings.enable_overlay %}
            <div class="overlay" style="background-color: {{ section.settings.overlay_bg_color }}; opacity: {{section.settings.overlay_opacity}};"></div>
        {% endif %}
        <img
            data-sizes="auto"
            src="{{ section.settings.banner_img | img_url: 'small'}}"
            data-srcset="
            {{ section.settings.banner_img | img_url: '1024x' }} 576w,
            {{ section.settings.banner_img | img_url: '1280x' }} 768w,
            {{ section.settings.banner_img | img_url: '1440x' }} 992w,
            {{ section.settings.banner_img | img_url: '1920x' }} 1200w"
            class="lazyload img-fluid h-100 object-fit-cover" alt="{{ section.settings.heading_txt | escape }}" />      
        <div class="container banner-cation position-absolute w-100 l-0 r-0 t-50 transform-t-50 z-index-990">  
            <div class="row">
                <div class="col-12 col-md-8 col-xl-6 text-center mx-auto">
                    {% if section.settings.heading_txt != '' %}
                        <h1 class="mb-4 display-4 text-white">{{ section.settings.heading_txt | escape }}</h1>
                    {% endif %}
                    {% if section.settings.lead_txt != '' %}
                        <p class="mb-0 text-white">{{ section.settings.lead_txt }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="section-scroll">
            <a href="#next-section">
                <img src="https://cdn.shopify.com/s/files/1/0084/0617/1763/files/arrow-scroll.svg?5792912326952213998" alt="" />
            </a> 
        </div>
    </div>
</section>
{% endif %}
{% for block in section.blocks %}  
    {% if block.type == 'content' %}
    {% if block.settings.image != blank %}
    {% assign direction = block.settings.image_direction %}
    {% if direction == 'left' %}
        {% assign classOFDirection = 'order-1 order-md-1' %}
        {% assign classOfText = 'order-2 order-md-2' %}
    {% else %}
        {% assign classOFDirection = 'order-1 order-md-1' %}
        {% assign classOfText = 'order-2 order-md-2 ' %}
    {% endif %}
    <section class="section-content vision-sub-images" id="next-section">
        <div class="container py-xl-6">
            <div class="row align-items-center">
                <div class="col-12 col-md-5 {{classOfText}}">
                    <div class="row justify-content-center">
                        <div class="col-xl-9 text-center text-md-left mt-5 mt-md-0">
                            {% if block.settings.heading_txt != blank %}
                                <h2>{{block.settings.heading_txt}}</h2>
                            {% endif %}
                            {% if block.settings.lead_txt != blank %}    
                            <p class="mb-0">{{block.settings.lead_txt}}</p>
                            {% endif %}
                        </div>
                    </div> 
                </div>
                <div class="col-12 col-md-7 {{classOFDirection}}">
                    <div class="about-img shadow-1 position-relative overflow-hidden">  
                        <img
                            data-sizes="auto"
                            src="{{ block.settings.image | img_url: 'small'}}"
                            data-srcset="
                            {{ block.settings.image | img_url: '1024x' }} 576w,
                            {{ block.settings.image | img_url: '1280x' }} 768w,
                            {{ block.settings.image | img_url: '1440x' }} 992w,
                            {{ block.settings.image | img_url: '1920x' }} 1200w"
                            class="lazyload h-100 position-absolute t-0 r-0 l-0 b-0 object-fit-cover" alt="{{ block.settings.heading_txt | escape }}" /> 
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endif %}
    {% endif %}
{% endfor %}


{% assign flat = 0 | plus: 0 %}
{% for block in section.blocks %}
    {% if block.type == 'flat' and flat < 1 %}
    <section class="py-10 bg-gradient-primary" style="background-color: {{ block.settings.section_bg_color }}; color: {{ block.settings.section_txt_color }}">
        <div class="container py-lg-6">
            <div class="row justify-content-center">
                <div class="col-12 col-md-11 col-lg-8 px-lg-8 text-center"> 
                    {% if block.settings.sub_heading_txt != '' %}
                        <h4 class="text-white">{{ block.settings.sub_heading_txt | escape }}</h4>
                    {% endif %}
                    {% if block.settings.heading_txt != '' %}
                        <h2 class="text-white mb-3">{{ block.settings.heading_txt | escape }}</h2>
                    {% endif %}
                    {% if block.settings.lead_txt != '' %}
                        <p class="mb-4 mb-lg-6 text-white">{{ block.settings.lead_txt }}</p>
                    {% endif %}
                    <div class="d-flex align-items-center justify-content-center">
                        {% if block.settings.btn_txt != blank %}
                        <a href="{{ block.settings.btn_url }}" class="btn mr-2 mr-sm-3 mr-lg-4 {% if block.settings.btn_variant == 'light' %}{% endif %} btn{% if block.settings.btn_type == 'outline' %}-{% endif %}{{ block.settings.btn_type }}-{{ block.settings.btn_variant }} {{ block.settings.btn_size }}">{{block.settings.btn_txt}}</a>
                        {% endif %}
                        {% if block.settings.btn_txt_other != blank %}
                        <a href="{{ block.settings.btn_url_other }}" class="btn mr-2 mr-sm-3 mr-lg-4 btn{% if block.settings.btn_type_other == 'outline' %}-{% endif %}{{ block.settings.btn_type_other }}-{{ block.settings.btn_variant_other }} {{ block.settings.btn_size_other }}">{{block.settings.btn_txt_other}}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endif %}
{% endfor %}



{% schema %}
  {
    "name": "About",
    "settings": [
        {
          "type": "header",
          "content": "Overlay"
        },
        {
          "type": "checkbox",
          "id": "enable_overlay",
          "label": "Enabled?",
          "default": true
        },
        {
          "type": "color",
          "id": "overlay_bg_color",
          "label": "Overlay Background Color",
          "default": "#000000"
        },
        {
          "type": "range",
          "id": "overlay_opacity",
          "label": "Overlay Opacity",
          "min": 0.1,
          "max": 1,
          "step": 0.1,
          "default": 0.6
        },
        {
            "type": "header",
            "content": "Banner"
        },
        {
            "type": "checkbox",
            "id": "banner_enabled",
            "label": "Show Banner?",
            "default": true
        },
        {
            "type": "image_picker",
            "id": "banner_img",
            "label": "Select Image"
        },
        {
            "type": "text",
            "id": "heading_txt",
            "label": "Heading Text"
        },
        {
            "type": "textarea",
            "id": "lead_txt",
            "label": "Lead Text"
        }
    ],
    "blocks": [
      {
        "type": "content",
        "name": "Block Content",
        "settings": [
          {
            "type": "header",
            "content": "Content"
          },
          {
            "type": "select",
            "id": "image_direction",
            "label": "Direction of image",
            "options": [{
                "value": "left",
                "label": "Left"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ],
            "default": "right"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Select Image"
          },
          {
            "type": "text",
            "id": "heading_txt",
            "label": "Heading Text"
          },
          {
            "type": "richtext",
            "id": "lead_txt",
            "label": "Lead Text"
          }
        ]
      },
      {
        "type": "flat",
        "name": "Flat",
        "limit": 1,
        "settings": [
          {
            "type": "header",
            "content": "Content"
          },
          {
            "type": "text",
            "id": "heading_txt",
            "label": "Heading Text"
          },
          {
            "type": "text",
            "id": "sub_heading_txt",
            "label": "SubHeading Text"
          },
          {
            "type": "textarea",
            "id": "lead_txt",
            "label": "Lead Text"
          },
          {
            "type": "text",
            "id": "btn_txt",
            "label": "Button Text"
          },
          {
            "type": "url",
            "id": "btn_url",
            "label": "Button URL"
          },
          {
            "type": "header",
            "content": "Styling"
          },
          {
            "type": "color",
            "id": "section_bg_color",
            "label": "Background Color",
            "default": "#f8f9fa"
          },
          {
            "type": "color",
            "id": "section_txt_color",
            "label": "Text Color",
            "default": "#343a40"
          },
          {
            "type": "select",
            "id": "btn_type",
            "label": "Button Type",
            "options": [{
                "value": "outline",
                "label": "Outline"
              },
              {
                "value": "",
                "label": "Solid"
              }
            ],
            "default": "outline"
          },
          {
            "type": "select",
            "id": "btn_variant",
            "label": "Button Variant",
            "options": [{
                "value": "primary",
                "label": "Primary"
              },
              {
                "value": "secondary",
                "label": "Secondary"
              },
              {
                "value": "light",
                "label": "Light"
              },
              {
                "value": "gray-900",
                "label": "Dark"
              }
            ],
            "default": "primary"
          },
          {
            "type": "select",
            "id": "btn_size",
            "label": "Button Size",
            "options": [{
                "value": "",
                "label": "Default"
              },
              {
                "value": "btn-sm",
                "label": "Small"
              },
              {
                "value": "btn-lg",
                "label": "Large"
              }
            ],
            "default": ""
          },
          {
            "type": "text",
            "id": "btn_txt_other",
            "label": "Button Text"
          },
          {
            "type": "url",
            "id": "btn_url_other",
            "label": "Button URL"
          },
          {
            "type": "select",
            "id": "btn_type_other",
            "label": "Button Type",
            "options": [{
                "value": "outline",
                "label": "Outline"
              },
              {
                "value": "",
                "label": "Solid"
              }
            ],
            "default": "outline"
          },
          {
            "type": "select",
            "id": "btn_variant_other",
            "label": "Button Variant",
            "options": [{
                "value": "primary",
                "label": "Primary"
              },
              {
                "value": "secondary",
                "label": "Secondary"
              },
              {
                "value": "light",
                "label": "Light"
              },
              {
                "value": "gray-900",
                "label": "Dark"
              }
            ],
            "default": "primary"
          },
          {
            "type": "select",
            "id": "btn_size_other",
            "label": "Button Size",
            "options": [{
                "value": "",
                "label": "Default"
              },
              {
                "value": "btn-sm",
                "label": "Small"
              },
              {
                "value": "btn-lg",
                "label": "Large"
              }
            ],
            "default": ""
          }
        ]
      }
    ]
  }
{% endschema %}