{% if section.settings.banner_enabled %}
<section class="main-banner-section position-relative">
    <div class="position-relative page-banner">
        {% if section.settings.enable_overlay %}
            <div class="overlay" style="background-color: {{ section.settings.overlay_bg_color }}; opacity: {{section.settings.overlay_opacity}};"></div>
        {% endif %}
        <img
            data-sizes="auto"
            src="{{ section.settings.banner_img | img_url: 'small'}}"
            data-srcset="
            {{ section.settings.banner_img | img_url: '1024x' }} 576w,
            {{ section.settings.banner_img | img_url: '1280x' }} 768w,
            {{ section.settings.banner_img | img_url: '1440x' }} 992w,
            {{ section.settings.banner_img | img_url: '1920x' }} 1200w"
            class="lazyload img-fluid object-fit-cover h-100" alt="{{ section.settings.heading_txt | escape }}" />
    </div>
    <div class="container banner-cation position-absolute w-100 l-0 r-0 t-50 transform-t-50 z-index-990">
        <div class="row">
            <div class="col-12 col-md-8 col-xl-6 text-center mx-auto py-6 py-md-0">
                {% if section.settings.heading_txt != '' %}
                    <h1 class="mb-4 display-4 text-white">{{ section.settings.heading_txt | escape }}</h1>
                {% endif %}
                {% if section.settings.lead_txt != '' %}
                    <p class="mb-0 text-white">{{ section.settings.lead_txt }}</p>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endif %}
{% assign count = 0 | plus: 0 %}
{% assign blockId = '' %}
<section class="section-content py-lg-8 shadow-lg">
    <div class="container">
          <div class="works-plan row" data-flickity='{
              "contain": true,
              "freeScroll": false,
              "groupCells": "100%",
              "cellAlign": "left",
              "draggable": true,
              "pageDots": false,
              "arrowShape": {"x0": 20, "x1": 75, "y1": 50, "x2": 80, "y2": 40, "x3": 35}
            }'>
            {% for block in section.blocks %}  
                {% if block.type == 'content' and count < 3 %}
                    {% assign count = count | plus: 1 %}
                    {% assign blockId = blockId | append: block.id %}
                    <div class="col-md-4 col-sm-6 card text-center border-0 px-3 bg-transparent"> 
                        <div class="card-img text-center d-flex justify-content-center mb-5 mb-lg-7">
                            {% if block.settings.img_svg != blank %}
                            <img src="{{ block.settings.img_svg }}" alt="{{ block.settings.heading_txt | escape }}" class="h-100" />
                            {% else %}
                                <img
                                data-sizes="auto"
                                src="{{ block.settings.image | img_url: 'small'}}"
                                data-srcset="
                                {{ block.settings.image | img_url: '1024x' }} 576w,
                                {{ block.settings.image | img_url: '1280x' }} 768w,
                                {{ block.settings.image | img_url: '1440x' }} 992w,
                                {{ block.settings.image | img_url: '1920x' }} 1200w"
                                class="lazyload img-fluid h-100" alt="{{ block.settings.heading_txt | escape }}" />
                            {% endif %}
                        </div> 
                        <div class="card-body p-0">
                            <div>
                                <h4 class="card-title mb-2">{{ block.settings.heading_txt | escape }}</h4>
                                {% if block.settings.lead_txt != '' %}
                                    <p class="px-xl-9 mb-0">{{ block.settings.lead_txt }}</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>  

{% assign plan = 0 | plus: 0 %}
<section class="section-content view-all-plans" style="background-color: {{ block.settings.section_bg_color }}; color: {{ block.settings.section_txt_color }}">
    <div class="container">
        <div class="row">
        {% for block in section.blocks %}  
            {% if block.type == 'grid' and plan < 1 %}
             {% assign plan = plan | plus: 1 %}
            <div class="col-12 col-md-5 col-lg-4 py-lg-6 py-xl-9 text-center text-md-left"> 
                {% if block.settings.heading_txt != '' %}
                    <h2>{{ block.settings.heading_txt | escape }}</h2>
                {% endif %}
                {% if block.settings.lead_txt != '' %}
                    {{ block.settings.lead_txt }}
                {% endif %}
                {% if block.settings.btn_txt != blank %}
                <a href="{{ block.settings.btn_url }}" class="btn {% if block.settings.btn_variant == 'light' %}text-primary{% endif %} btn{% if block.settings.btn_type == 'outline' %}-{% endif %}{{ block.settings.btn_type }}-{{ block.settings.btn_variant }} {{ block.settings.btn_size }}">{{block.settings.btn_txt}}</a>
                {% endif %}
            </div>
            <div class="col-12 col-md-7 col-lg-8">
                <div class="row align-items-center">
                    <div class="col-md-7 px-lg-4">
                        <div class="row">
                            <div class="col-12 pb-3 pb-lg-4 text-right d-none d-md-block">
                                <div class="shadow-lg planbox-One position-relative">
                                    <img
                                    data-sizes="auto"
                                    src="{{ block.settings.banner_img_1 | img_url: 'small'}}"
                                    data-srcset="
                                    {{ block.settings.banner_img_1 | img_url: '1024x' }} 576w,
                                    {{ block.settings.banner_img_1 | img_url: '1280x' }} 768w,
                                    {{ block.settings.banner_img_1 | img_url: '1440x' }} 992w,
                                    {{ block.settings.banner_img_1 | img_url: '1920x' }} 1200w"
                                    class="lazyload img-fluid h-100 position-absolute t-0 b-0 r-0 l-0 object-fit-cover" alt="{{ block.settings.heading_txt | escape }}" />
                                </div>
                            </div>
                            <div class="col-12 pt-6 pt-lg-4">
                                <div class="shadow-lg planbox-two position-relative">
                                    <img
                                    data-sizes="auto"
                                    src="{{ block.settings.banner_img_2 | img_url: 'small'}}"
                                    data-srcset="
                                    {{ block.settings.banner_img_2 | img_url: '1024x' }} 576w,
                                    {{ block.settings.banner_img_2 | img_url: '1280x' }} 768w,
                                    {{ block.settings.banner_img_2 | img_url: '1440x' }} 992w,
                                    {{ block.settings.banner_img_2 | img_url: '1920x' }} 1200w"
                                    class="lazyload img-fluid h-100 position-absolute t-0 b-0 r-0 l-0 object-fit-cover" alt="{{ block.settings.heading_txt | escape }}" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 px-lg-4 pt-2 py-md-0 d-none d-md-block">
                        <div class="shadow-lg planbox-three position-relative">
                            <img
                                data-sizes="auto"
                                src="{{ block.settings.banner_img_3 | img_url: 'small'}}"
                                data-srcset="
                                {{ block.settings.banner_img_3 | img_url: '1024x' }} 576w,
                                {{ block.settings.banner_img_3 | img_url: '1280x' }} 768w,
                                {{ block.settings.banner_img_3 | img_url: '1440x' }} 992w,
                                {{ block.settings.banner_img_3 | img_url: '1920x' }} 1200w"
                                class="lazyload img-fluid h-100 position-absolute t-0 b-0 r-0 l-0 object-fit-cover" alt="{{ block.settings.heading_txt | escape }}" />
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
        </div>
    </div>
</section>


{% assign minimal = 0 | plus: 0 %}
{% for block in section.blocks %}  
    {% if block.type == 'minimal' and minimal < 1 %} 
    {% assign minimal = minimal | plus: 1 %}
    <section class="main-banner-section peek-banner position-relative d-flex align-items-center" style="background:{{ block.settings.section_bg_color }} url({{ block.settings.image | img_url: '1920x'}}) no-repeat center; background-size: cover;color: {{ block.settings.section_txt_color }};">
        <div class="container banner-cation py-8">  
          <div class="row">
            <div class="col-12 col-md-7 col-lg-6 col-xl-5 text-center text-white mx-auto">
                {% if block.settings.heading_txt != '' %}
                    <h2>{{ block.settings.heading_txt | escape }}</h2>
                {% endif %}
                {% if block.settings.lead_txt != '' %}
                    <p class="mb-0">{{ block.settings.lead_txt }}</p>
                {% endif %}
                {% if block.settings.btn_txt != blank %}
                <a href="{{ block.settings.btn_url }}" class="btn {% if block.settings.btn_variant == 'light' %}text-primary{% endif %} btn{% if block.settings.btn_type == 'outline' %}-{% endif %}{{ block.settings.btn_type }}-{{ block.settings.btn_variant }} {{ block.settings.btn_size }}">{{block.settings.btn_txt}}</a>
                {% endif %}
            </div>
          </div>
        </div>
    </section>
    {% endif %}
{% endfor %}


{% assign classic = 0 | plus: 0 %}
{% for block in section.blocks %}  
    {% if block.type == 'classic' and classic < 1 %}
    {% assign classic = classic | plus: 1 %}
    <section class="section-content my-xl-5 reliable-section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-md-6 pr-xl-6 text-center text-md-left">
                    {% if block.settings.heading_txt != '' %}
                        <h2>{{ block.settings.heading_txt | escape }}</h2>
                    {% endif %}
                    {% if block.settings.lead_txt != '' %}
                        {{ block.settings.lead_txt }}
                    {% endif %}
                    {% if block.settings.btn_txt != blank %}
                    <a href="{{ block.settings.btn_url }}" class="btn {% if block.settings.btn_variant == 'light' %}text-primary{% endif %} btn{% if block.settings.btn_type == 'outline' %}-{% endif %}{{ block.settings.btn_type }}-{{ block.settings.btn_variant }} {{ block.settings.btn_size }}">{{block.settings.btn_txt}}</a>
                    {% endif %}
                </div>
                <div class="col-md-6 pt-6 pt-md-0 pl-lg-6">
                    <div class="shadow-lg">
                        <img
                                data-sizes="auto"
                                src="{{ block.settings.image | img_url: 'small'}}"
                                data-srcset="
                                {{ block.settings.image | img_url: '1024x' }} 576w,
                                {{ block.settings.image | img_url: '1280x' }} 768w,
                                {{ block.settings.image | img_url: '1440x' }} 992w,
                                {{ block.settings.image | img_url: '1920x' }} 1200w"
                                class="lazyload img-fluid h-100 t-0 l-0 r-0 b-0 object-fit-cover" alt="{{ block.settings.heading_txt | escape }}" />
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endif %}
{% endfor %}
<section class="section-content howit-icon-section">
    <div class="container">
            <div class="works-plan row" data-flickity='{
              "contain": true,
              "freeScroll": false,
              "groupCells": "100%",
              "cellAlign": "left",
              "draggable": true,
              "pageDots": false,
              "arrowShape": {"x0": 20, "x1": 75, "y1": 50, "x2": 80, "y2": 40, "x3": 35}
            }'>
            {% for block in section.blocks %}  
                {% if block.type == 'content' and count >= 3 %}
                    {% assign count = count | plus: 1 %}
                    {% unless blockId contains block.id %}
                    <div class="col-md-4 col-sm-6 card text-center border-0 px-3 bg-transparent">
                        <div class="card-img works-plan-small text-center d-flex justify-content-center mb-6"> 
                            {% if block.settings.img_svg != blank %}
                            <img src="{{ block.settings.img_svg }}" alt="{{ block.settings.heading_txt | escape }}" class="h-100" />
                            {% else %}
                                <img
                                data-sizes="auto"
                                src="{{ block.settings.image | img_url: 'small'}}"
                                data-srcset="
                                {{ block.settings.image | img_url: '1024x' }} 576w,
                                {{ block.settings.image | img_url: '1280x' }} 768w,
                                {{ block.settings.image | img_url: '1440x' }} 992w,
                                {{ block.settings.image | img_url: '1920x' }} 1200w"
                                class="lazyload img-fluid h-100" alt="{{ block.settings.heading_txt | escape }}" />
                            {% endif %}
                        </div> 
                        <div class="card-body p-0">
                            <div>
                                <h4 class="card-title mb-2">{{ block.settings.heading_txt | escape }}</h4>
                                {% if block.settings.lead_txt != '' %}
                                    <p class="px-xl-8 mb-0">{{ block.settings.lead_txt }}</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endunless %}
                {% endif %}
            {% endfor %}
            
        </div>
    </div>
</section>  

{% assign flat = 0 | plus: 0 %}
{% for block in section.blocks %}
    {% if block.type == 'flat' and flat < 1 %}
    <section class="section-content bg-gradient-primary" style="background-color: {{ block.settings.section_bg_color }}; color: {{ block.settings.section_txt_color }}">
        <div class="container py-7">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8 col-xl-7 px-xl-6 text-center">
                    {% if block.settings.heading_txt != '' %}
                        <h2 class="text-white">{{ block.settings.heading_txt | escape }}</h2>
                    {% endif %}
                    {% if block.settings.lead_txt != '' %}
                        <p class="mb-4 mb-lg-6 text-white">{{ block.settings.lead_txt }}</p>
                    {% endif %}
                    <div class="d-flex align-items-center justify-content-center">
                        {% if block.settings.btn_txt != blank %}
                        <a href="{{ block.settings.btn_url }}" class="btn mr-2 mr-sm-3 mr-lg-4 {% if block.settings.btn_variant == 'light' %}{% endif %} btn{% if block.settings.btn_type == 'outline' %}-{% endif %}{{ block.settings.btn_type }}-{{ block.settings.btn_variant }} {{ block.settings.btn_size }}">{{block.settings.btn_txt}}</a>
                        {% endif %}
                        {% if block.settings.btn_txt_other != blank %}
                        <a href="{{ block.settings.btn_url_other }}" class="btn mr-2 mr-sm-3 mr-lg-4 btn{% if block.settings.btn_type_other == 'outline' %}-{% endif %}{{ block.settings.btn_type_other }}-{{ block.settings.btn_variant_other }} {{ block.settings.btn_size_other }}">{{block.settings.btn_txt_other}}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endif %}
{% endfor %}

{% schema %}
  {
    "name": "How it Works",
    "settings": [
        
        {
          "type": "header",
          "content": "Overlay"
        },
        {
          "type": "checkbox",
          "id": "enable_overlay",
          "label": "Enabled?",
          "default": true
        },
        {
          "type": "color",
          "id": "overlay_bg_color",
          "label": "Overlay Background Color",
          "default": "#000000"
        },
        {
          "type": "range",
          "id": "overlay_opacity",
          "label": "Overlay Opacity",
          "min": 0.1,
          "max": 1,
          "step": 0.1,
          "default": 0.5
        },
        {
            "type": "header",
            "content": "Banner"
        },
        {
            "type": "checkbox",
            "id": "banner_enabled",
            "label": "Show Banner?",
            "default": true
        },
        {
            "type": "image_picker",
            "id": "banner_img",
            "label": "Select Image"
        },
        {
            "type": "text",
            "id": "heading_txt",
            "label": "Heading Text"
        },
        {
            "type": "textarea",
            "id": "lead_txt",
            "label": "Lead Text"
        }
    ],
    "blocks": [
      {
        "type": "grid",
        "name": "Grid",
        "limit": 1,
        "settings": [
          {
            "type": "image_picker",
            "id": "banner_img_1",
            "label": "Select Image"
          },
          {
            "type": "image_picker",
            "id": "banner_img_2",
            "label": "Select Image"
          },
          {
            "type": "image_picker",
            "id": "banner_img_3",
            "label": "Select Image"
          },
          {
            "type": "header",
            "content": "Content"
          },
          {
            "type": "text",
            "id": "heading_txt",
            "label": "Heading Text"
          },
          {
            "type": "textarea",
            "id": "lead_txt",
            "label": "Lead Text"
          },
          {
            "type": "text",
            "id": "btn_txt",
            "label": "Button Text"
          },
          {
            "type": "url",
            "id": "btn_url",
            "label": "Button URL"
          },
          {
            "type": "header",
            "content": "Styling"
          },
          {
            "type": "color",
            "id": "section_bg_color",
            "label": "Background Color",
            "default": "#f8f9fa"
          },
          {
            "type": "color",
            "id": "section_txt_color",
            "label": "Text Color",
            "default": "#343a40"
          },
          {
            "type": "select",
            "id": "btn_type",
            "label": "Button Type",
            "options": [{
                "value": "outline",
                "label": "Outline"
              },
              {
                "value": "",
                "label": "Solid"
              }
            ],
            "default": "outline"
          },
          {
            "type": "select",
            "id": "btn_variant",
            "label": "Button Variant",
            "options": [{
                "value": "primary",
                "label": "Primary"
              },
              {
                "value": "secondary",
                "label": "Secondary"
              },
              {
                "value": "light",
                "label": "Light"
              },
              {
                "value": "gray-900",
                "label": "Dark"
              }
            ],
            "default": "primary"
          },
          {
            "type": "select",
            "id": "btn_size",
            "label": "Button Size",
            "options": [{
                "value": "",
                "label": "Default"
              },
              {
                "value": "btn-sm",
                "label": "Small"
              },
              {
                "value": "btn-lg",
                "label": "Large"
              }
            ],
            "default": ""
          }
        ]
      },
      {
        "type": "classic",
        "name": "Classic",
        "limit": 1,
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Select Image"
          },
          {
            "type": "header",
            "content": "Content"
          },
          {
            "type": "text",
            "id": "heading_txt",
            "label": "Heading Text"
          },
          {
            "type": "textarea",
            "id": "lead_txt",
            "label": "Lead Text"
          },
          {
            "type": "text",
            "id": "btn_txt",
            "label": "Button Text"
          },
          {
            "type": "url",
            "id": "btn_url",
            "label": "Button URL"
          },
          {
            "type": "header",
            "content": "Styling"
          },
          {
            "type": "color",
            "id": "section_bg_color",
            "label": "Background Color",
            "default": "#f8f9fa"
          },
          {
            "type": "color",
            "id": "section_txt_color",
            "label": "Text Color",
            "default": "#343a40"
          },
          {
            "type": "select",
            "id": "btn_type",
            "label": "Button Type",
            "options": [{
                "value": "outline",
                "label": "Outline"
              },
              {
                "value": "",
                "label": "Solid"
              }
            ],
            "default": "outline"
          },
          {
            "type": "select",
            "id": "btn_variant",
            "label": "Button Variant",
            "options": [{
                "value": "primary",
                "label": "Primary"
              },
              {
                "value": "secondary",
                "label": "Secondary"
              },
              {
                "value": "light",
                "label": "Light"
              },
              {
                "value": "gray-900",
                "label": "Dark"
              }
            ],
            "default": "primary"
          },
          {
            "type": "select",
            "id": "btn_size",
            "label": "Button Size",
            "options": [{
                "value": "",
                "label": "Default"
              },
              {
                "value": "btn-sm",
                "label": "Small"
              },
              {
                "value": "btn-lg",
                "label": "Large"
              }
            ],
            "default": ""
          }
        ]
      },
      {
        "type": "minimal",
        "name": "Minimal",
        "limit": 1,
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Select Image"
          },
          {
            "type": "header",
            "content": "Content"
          },
          {
            "type": "text",
            "id": "heading_txt",
            "label": "Heading Text"
          },
          {
            "type": "textarea",
            "id": "lead_txt",
            "label": "Lead Text"
          },
          {
            "type": "text",
            "id": "btn_txt",
            "label": "Button Text"
          },
          {
            "type": "url",
            "id": "btn_url",
            "label": "Button URL"
          },
          {
            "type": "header",
            "content": "Styling"
          },
          {
            "type": "color",
            "id": "section_bg_color",
            "label": "Background Color",
            "default": "#f8f9fa"
          },
          {
            "type": "color",
            "id": "section_txt_color",
            "label": "Text Color",
            "default": "#343a40"
          },
          {
            "type": "select",
            "id": "btn_type",
            "label": "Button Type",
            "options": [{
                "value": "outline",
                "label": "Outline"
              },
              {
                "value": "",
                "label": "Solid"
              }
            ],
            "default": "outline"
          },
          {
            "type": "select",
            "id": "btn_variant",
            "label": "Button Variant",
            "options": [{
                "value": "primary",
                "label": "Primary"
              },
              {
                "value": "secondary",
                "label": "Secondary"
              },
              {
                "value": "light",
                "label": "Light"
              },
              {
                "value": "gray-900",
                "label": "Dark"
              }
            ],
            "default": "primary"
          },
          {
            "type": "select",
            "id": "btn_size",
            "label": "Button Size",
            "options": [{
                "value": "",
                "label": "Default"
              },
              {
                "value": "btn-sm",
                "label": "Small"
              },
              {
                "value": "btn-lg",
                "label": "Large"
              }
            ],
            "default": ""
          }
        ]
      },
      {
        "type": "flat",
        "name": "Flat",
        "limit": 1,
        "settings": [
          {
            "type": "header",
            "content": "Content"
          },
          {
            "type": "text",
            "id": "heading_txt",
            "label": "Heading Text"
          },
          {
            "type": "textarea",
            "id": "lead_txt",
            "label": "Lead Text"
          },
          {
            "type": "text",
            "id": "btn_txt",
            "label": "Button Text"
          },
          {
            "type": "url",
            "id": "btn_url",
            "label": "Button URL"
          },
          {
            "type": "header",
            "content": "Styling"
          },
          {
            "type": "color",
            "id": "section_bg_color",
            "label": "Background Color",
            "default": "#f8f9fa"
          },
          {
            "type": "color",
            "id": "section_txt_color",
            "label": "Text Color",
            "default": "#343a40"
          },
          {
            "type": "select",
            "id": "btn_type",
            "label": "Button Type",
            "options": [{
                "value": "outline",
                "label": "Outline"
              },
              {
                "value": "",
                "label": "Solid"
              }
            ],
            "default": "outline"
          },
          {
            "type": "select",
            "id": "btn_variant",
            "label": "Button Variant",
            "options": [{
                "value": "primary",
                "label": "Primary"
              },
              {
                "value": "secondary",
                "label": "Secondary"
              },
              {
                "value": "light",
                "label": "Light"
              },
              {
                "value": "gray-900",
                "label": "Dark"
              }
            ],
            "default": "primary"
          },
          {
            "type": "select",
            "id": "btn_size",
            "label": "Button Size",
            "options": [{
                "value": "",
                "label": "Default"
              },
              {
                "value": "btn-sm",
                "label": "Small"
              },
              {
                "value": "btn-lg",
                "label": "Large"
              }
            ],
            "default": ""
          },
          {
            "type": "text",
            "id": "btn_txt_other",
            "label": "Button Text"
          },
          {
            "type": "url",
            "id": "btn_url_other",
            "label": "Button URL"
          },
          {
            "type": "select",
            "id": "btn_type_other",
            "label": "Button Type",
            "options": [{
                "value": "outline",
                "label": "Outline"
              },
              {
                "value": "",
                "label": "Solid"
              }
            ],
            "default": "outline"
          },
          {
            "type": "select",
            "id": "btn_variant_other",
            "label": "Button Variant",
            "options": [{
                "value": "primary",
                "label": "Primary"
              },
              {
                "value": "secondary",
                "label": "Secondary"
              },
              {
                "value": "light",
                "label": "Light"
              },
              {
                "value": "gray-900",
                "label": "Dark"
              }
            ],
            "default": "primary"
          },
          {
            "type": "select",
            "id": "btn_size_other",
            "label": "Button Size",
            "options": [{
                "value": "",
                "label": "Default"
              },
              {
                "value": "btn-sm",
                "label": "Small"
              },
              {
                "value": "btn-lg",
                "label": "Large"
              }
            ],
            "default": ""
          }
        ]
      },
      {
        "type": "content",
        "name": "Block Content",
        "limit": 6,
        "settings": [
          {
            "type": "header",
            "content": "Content"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Select Image"
          },
          {
            "type": "text",
            "id": "img_svg",
            "label": "SVG image"
          },
          {
            "type": "text",
            "id": "heading_txt",
            "label": "Heading Text"
          },
          {
            "type": "textarea",
            "id": "lead_txt",
            "label": "Lead Text"
          }
        ]
      }
    ]
  }
{% endschema %}


{% javascript %}
{% endjavascript %}
