{% assign logo = section.settings.footer_logo | img_url: '200x' %}
{% assign footer_linklist = section.settings.footer_linklist %}
{% assign blog_handle = section.settings.footer_blog %}

<footer class="site-footer section-content footer" data-section-id="{{ section.id }}">

    <div data-footer-top class="footer-top" style="background-color: {{ section.settings.footer_top_bg_color }}; color: {{ section.settings.footer_top_txt_color }};">
      <div class="{% if section.settings.fluid_footer %}container-fluid{% else %}container{% endif %}">
        <div class="top-footer">
          <div class="row">
              {% for block in section.blocks %}
                {% assign index = forloop.index %}
                <div class="col-md-3 col-sm-6 col-12 text-center text-md-left {% if index == 1 %}col-lg-4{% endif %}{% if index == 2 %}col-lg-3{% endif %}">
                    {% if block.type == 'link_list' %}
                      <div class="footer_menu text-center text-md-left ">
                        {% if block.settings.menu != blank %}
                          <h5 class="text-primary text-latoMedium mb-3">{{ linklists[block.settings.menu].title }}</h5>
                          <ul class="list-unstyled mb-6 mb-md-0 footer-nav text-lato font-weight-light {% if index == 1 %}column-count-md-2{% endif %}">
                            {% for link in linklists[block.settings.menu].links %}
                              <li class="py-1">
                                <a style="color: {{ section.settings.footer_top_link_color }};" {% if link.url contains 'http' %}target="_blank"{% endif %} href="{{ link.url }}">{{ link.title }}</a>
                              </li>
                            {% endfor %}
                          </ul>
                        {% endif %}
                      </div>
                    {% endif %}
                </div>
              {% endfor %}
              <div  class="col-md-6 col-lg-5 col-12 text-center text-md-left">
                <div class="footer-newslatter pr-xl-4"> 
                  {% if section.settings.show_newsletter %}
                    {% if section.settings.col_3_heading != '' %}
                    <h4 class="mb-2 display-5">{{ section.settings.col_3_heading }}</h4>
                    {% endif %}

                    {% if section.settings.col_3_txt !='' %}
                      <p class="mb-4 mt-1">{{ section.settings.col_3_txt }}</p>
                    {% endif %}

                    {% if settings.enable_newsletter %}
 
                        <div id="mc_embed_signup">
                            <form action="{{ settings.newsletter_url }}"
                                method="get" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate p-0">
                                <div id="mc_embed_signup_scroll" class="d-flex mb-1"> 
                                    <div class="form-group flex-grow-1 mr-1 mr-sm-3 mb-0">  
                                      <input type="email" value="" name="EMAIL" class="form-control w-100 required email primary-placeholder" id="mce-EMAIL" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" required>
                                    </div>
                                    <input type="submit" value="Sign Me Up" name="subscribe" id="mc-embedded-subscribe" @click.prevent="_register($event)" class="btn btn-dark py-2 px-3 px-md-4 px-lg-6 m-0 mc-button">
                                </div>
                                <div style="position: absolute; left: -5000px;" aria-hidden="true">
                                    <input type="text" name="b_0c40673ee006d073a9d3f1644_9ac63c44a2" tabindex="-1" value="">
                                </div>
                                <div id="subscribe-result">
                                </div>
                            </form>
                        {% else %}
                        {% form 'customer' %}
                        <div class="d-flex mb-3">
                            <input type="email" name="contact[email]" aria-label="email" id="newsletterFooterCustomerEmail" class="form-control mr-3" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" value="{% if customer %}{{ customer.email }}{% endif %}" autocorrect="off" autocapitalize="off" required>
                            <input type="hidden" name="contact[tags]" value="newsletter">
                            <div class="d-flex">
                            <button type="submit" name="commit" class="btn btn-dark py-2 px-3 px-sm-5" >Sign me up</button>
                            </div>
                        </div>
                        {% if form.errors %}
                            <p class="text-danger mt-2 mb-0">{{ form.errors | default_errors }}</p>
                        {% endif %}
                        {% endform %}
                    {% endif %}
                  {% endif %}

                  {% if section.settings.show_social_links %}
                  <div class="social-icon d-flex mt-5 justify-content-center justify-content-md-start">
                    {% if section.settings.col_3_heading != '' %}
                    <h6>{{ section.settings.col_3_social_heading }}</h6>
                    {% endif %}

                    <ul class="list-unstyled text-capitalize d-flex align-items-center justify-content-around m-0">
                      {% if section.settings.social_icon_facebook %}
                      <li class="list-inline-item">
                          <a class="mr-md-5 ml-md-0 mx-3" target="_blank" href="{{ settings.social_facebook_link }}" title="Facebook">
                            <i class="fab fa-facebook-f display-5 mb-0"></i>
                          </a>
                      </li>
                      {% endif %}


                      {% if section.settings.social_icon_instagram %}
                      <li class="list-inline-item">
                          <a class="mr-md-5 ml-md-0 mx-3" target="_blank" href="{{ settings.social_instagram_link }}" title="Instagram">
                            <i class="fab fa-instagram display-5 mb-0"></i>
                          </a>
                      </li>
                      {% endif %}


                      {% if section.settings.social_icon_twitter %}
                      <li class="list-inline-item">
                          <a class="mr-md-5 ml-md-0 mx-3" target="_blank" href="{{ settings.social_twitter_link }}" title="Twitter">
                            <i class="fab fa-twitter display-5 mb-0"></i>
                          </a>
                      </li>
                      {% endif %}


                      {% if section.settings.social_icon_pinterest %}
                      <li class="list-inline-item">
                          <a class="mr-md-5 ml-md-0 mx-3" target="_blank" href="{{ settings.social_pinterest_link }}" title="Pinterest">
                            <i class="fab fa-pinterest display-5 mb-0"></i>
                          </a> 
                      </li>
                      {% endif %}

                      {% if section.settings.social_icon_youtube %}
                      <li class="list-inline-item">
                          <a class="mr-md-5 ml-md-0 mx-3" target="_blank" href="{{ settings.social_youtube_link }}" title="Youtube">
                            <i class="fab fa-youtube display-5 mb-0"></i>
                          </a>
                      </li>
                      {% endif %}
                      
                      {% if section.settings.social_icon_googleplus %}
                      <li class="list-inline-item">
                          <a class="mr-md-5 ml-md-0 mx-3" target="_blank" href="{{ settings.social_googleplus_link }}" title="Google+">
                            <i class="icon ion-logo-googleplus display-5"></i>
                          </a>
                      </li>
                      {% endif %}

                    </ul>
                    </div>
                  {% endif %}

                </div>
              </div>
          </div>
          <!--end of row-->
        </div>
      </div>
      <!--end of container-->
    </div>

    {% if section.settings.show_copyrights %}
    <div data-footer-bottom class="footer-bottom py-3" style="background-color: {{ section.settings.footer_bottom_bg_color }}; color: {{ section.settings.footer_bottom_txt_color }};">
        <div class="{% if section.settings.fluid_footer %}container-fluid{% else %}container{% endif %}">
            <div class="row d-flex align-items-center">
                <div class="col-md-6 text-center text-md-left">
                    <span class="small copyright font-secondary">&copy; {{ 'layout.footer.copyright' | t }} {{ 'now' | date: "%Y" }} {{ shop.name }} - {{ 'layout.footer.all_rights_reserved' | t }}</span>
                </div>
                <div class="col-md-6 text-center text-md-right mt-3 mt-md-0">
                  {% if section.settings.show_payment_icons %}
                  <ul class="list-inline payment-icons my-0">
                    {% if section.settings.payment_icon_visa %}<li class="list-inline-item"><i class="pf pf-visa"></i></li>{% endif %}
                    {% if section.settings.payment_icon_mastercard %}<li class="list-inline-item"><i class="pf pf-mastercard"></i></li>{% endif %}
                    {% if section.settings.payment_icon_ae %}<li class="list-inline-item"><i class="pf pf-american-express"></i></li>{% endif %}
                    {% if section.settings.payment_icon_diners %}<li class="list-inline-item"><i class="pf pf-diners"></i></li>{% endif %}
                    {% if section.settings.payment_icon_paypal %}<li class="list-inline-item"><i class="pf pf-paypal"></i></li>{% endif %}
                    {% if section.settings.payment_icon_stripe %}<li class="list-inline-item"><i class="pf pf-stripe"></i></li>{% endif %}
                    {% if section.settings.payment_icon_applepay %}<li class="list-inline-item"><i class="pf pf-apple-pay"></i></li>{% endif %}
                    {% if section.settings.payment_icon_amazonpay %}<li class="list-inline-item"><i class="pf pf-amazon-pay"></i></li>{% endif %}
                  </ul>
                  {% endif %}
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </div>
    {% endif %}
</footer>



{% schema %}
  {
    "name": "Footer",
    "max_blocks": 2,
    "settings": [
      {
        "type": "header",
        "content": "Layout"
      },
      {
        "type": "checkbox",
        "id": "fluid_footer",
        "label": "Full Width Footer?",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_copyrights",
        "label": "Show copyright?",
        "default": false
      },
      {
        "type": "header",
        "content": "Styling"
      },
      {
        "type": "color",
        "id": "footer_top_bg_color",
        "label": "Footer Top Background Color",
        "default": "#343a40"
      },
      {
        "type": "color",
        "id": "footer_top_txt_color",
        "label": "Footer Top Text Color",
        "default": "#fff"
      },
      {
        "type": "color",
        "id": "footer_top_link_color",
        "label": "Footer Top Links Color",
        "default": "#fff"
      },
      {
        "type": "color",
        "id": "footer_bottom_bg_color",
        "label": "Footer Bottom Background Color",
        "default": "#212529"
      },
      {
        "type": "color",
        "id": "footer_bottom_txt_color",
        "label": "Footer Bottom Text Color",
        "default": "#fff"
      },
      {
        "type": "header",
        "content": "Column 3"
      },
      {
        "type": "checkbox",
        "id": "show_newsletter",
        "label": "Show Newsletter Subscription?",
        "default": true
      },
      {
        "type": "text",
        "id": "col_3_heading",
        "label": "Heading",
        "default": "Subscribe"
      },
      {
        "type": "text",
        "id": "col_3_txt",
        "label": "Text",
        "default": "Get monthly updates and free resources."
      },
      {
        "type": "checkbox",
        "id": "show_social_links",
        "label": "Show Social Links?",
        "default": true
      },
      {
        "type": "text",
        "id": "col_3_social_heading",
        "label": "Heading",
        "default": "Connect with Us"
      },
      {
        "type": "paragraph",
        "content": "Select Networks"
      },
      {
        "type": "checkbox",
        "id": "social_icon_facebook",
        "label": "Facebook",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "social_icon_twitter",
        "label": "Twitter",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "social_icon_googleplus",
        "label": "Google+",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "social_icon_pinterest",
        "label": "Pinterest",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "social_icon_youtube",
        "label": "Youtube",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "social_icon_instagram",
        "label": "Instagram",
        "default": true
      },
      {
        "type": "header",
        "content": "Payment Icons"
      },
      {
        "type": "checkbox",
        "id": "show_payment_icons",
        "label": "Show Payment Icons?",
        "default": true
      }
    ],
  "blocks": [
    {
      "type": "link_list",
      "name": "Menu",
      "settings": [
        {
          "type": "link_list",
          "id": "menu",
          "label": "Menu"
        },
        {
          "type": "checkbox",
          "id": "social_icons_footer",
          "label": "Show social media footer icons",
          "default": false
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "link_list"
      },
      {
        "type": "link_list"
      }
    ]
  }
  }

{% endschema %}
