{% assign template_type = section.settings.template_type %}
{% assign homepage_transparent_header = section.settings.homepage_transparent_header %}
{% assign logo = settings.main_logo | img_url: '200x' %}
{% assign logo_light = settings.main_logo_light | img_url: '200x' %}
{% assign logo_width = settings.logo_max_width %}
{% assign logo_svg = section.settings.logo_svg %}
{% comment %} <div id="mobile-navigation" class="mobile-nav-drawer">
      <div class="drawer-header d-flex justify-content-between align-items-center pl-3 pr-2 py-2 border-bottom">
          <a href="/" class="navbar-brand py-1 w-75"><img src="{{logo_light}}" class="img-fluid" style="max-width: 35px;"></a>
          <div class="menu-close"></div>
      </div>
  </div> {% endcomment %}
<header 
    class="site-header text-latoMedium border-bottom {% if section.settings.is_sticky %}fixed-top{% endif %}{% if homepage_transparent_header %}header-transparent{% endif %}"
    data-site-header
    data-section-id="{{ section.id }}"
    data-cart-type="{{ section.settings.cart_type }}"
    data-fixed-header="{% if section.settings.is_sticky%}true{% else %}false{% endif %}"
    data-transparent-header="{{ homepage_transparent_header }}">

    {%- if section.settings.announcement_bar_enabled -%}
      <div class="hello--bar py-2 pr-4 bg-dark text-center text-white" {% if section.settings.announcement_bar_bg_color != blank %}style="background-color:{{ section.settings.announcement_bar_bg_color }} !important;"{% endif %}>
        <div class="container"> 
          <p class="m-0 font-size-sm">{{ section.settings.announcement_bar_text | escape }}</p>  
          <a href="jvascript:void(0);" @click.prevent="_closeAnnousement($event)" class="close_annoucement"><i class="ion ion-ios-close"></i></a>
        </div>
      </div>
    {%- endif -%}
  <nav class="navbar navbar-light navbar-main navbar-expand-ex-lg {% if template_type == 'centered-logo' %}navbar-centered-logo{% endif %}">
    <div class="{% if section.settings.fluid_header %}container-fluid{% else %}container{% endif %}">
      {% case template_type %}
        {% when 'centered-logo' %}
          {% include 'navbar-centered-logo' %}
        {% else %}
          {% include 'navbar-default' %}
      {% endcase %}
    </div>
  </nav>

  {% unless cart == empty %}
  <script type="application/json" data-cart-json>
    {{ cart | json }}
  </script>
  {% endunless %}

</header>


{% schema %}
  {
    "name": "Header",
    "settings": [
      {
            "type": "header",
            "content": "Announcement bar"
        },
        {
            "type": "checkbox",
            "id": "announcement_bar_enabled",
            "label": "Show announcement",
            "default": false
        },
        {
            "type": "color",
            "id": "announcement_bar_bg_color",
            "label": "background Color"
        },
        {
            "type": "text",
            "id": "announcement_bar_text",
            "label": "Announcement text",
            "default": "Announce something here"
        },
        {
            "type": "header",
            "content": "Logo"
        },
        {
            "type": "text",
            "id": "logo_svg",
            "label": "Logo svg"
        },
      {
        "type": "header",
        "content": "Template"
      },
      {
        "type": "select",
        "id": "template_type",
        "label": "Template Type",
        "options": [{
            "value": "default",
            "label": "Logo Left"
          },
          {
            "value": "centered-logo",
            "label": "Logo Centered"
          }
        ],
        "default": "default"
      },
      {
        "type": "header",
        "content": "Layout"
      },
      {
        "type": "checkbox",
        "id": "fluid_header",
        "label": "Full Width Header?",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "is_sticky",
        "label": "Sticky Header?",
        "default": false
      },
      {
        "type": "header",
        "content": "Styling"
      },
      {
        "type": "checkbox",
        "id": "homepage_transparent_header",
        "label": "Transparent Header at Homepage?",
        "default": false
      },
      {
        "type": "header",
        "content": "Menu"
      },
      {
        "type": "link_list",
        "id": "main_linklist",
        "label": "Select Menu",
        "default": "main-menu"
      },
      {
          "type": "text",
          "id": "megamenu_handle",
          "label": "Mega Menu",
          "info": "eg:subscribe,shop,...."
      },
      {
        "type": "header",
        "content": "Cart Button"
      },
      {
        "type": "select",
        "id": "cart_type",
        "label": "Select Button Action",
        "options": [{
            "value": "cart_page",
            "label": "Link to cart page"
          },
          {
            "value": "cart_dropdown",
            "label": "Mini cart as dropdown"
          },
          {
            "value": "cart_drawer",
            "label": "Mini cart as right drawer"
          }
        ],
        "default": "cart_page"
      }
    ]
  }
{% endschema %}


{% javascript %}
{% endjavascript %}
