<section class="martha-home-section d-none">
  <div class="container"><div class="row align-items-center">
	
	<div class="martha-home-content">
    	<img src="//cdn.shopify.com/s/files/1/0084/0617/1763/files/MS_NewCollectionsPage_Mockup_v1_05_large.png?v=1556089527" class="martha-logo banner_logo_margin" style="height: auto; max-width: 160px;">
        <h4 class="martha-home-title">Flower Subscriptions<br/>by Martha Stewart</h4>
        <a class="btn btn-dark" href="/pages/martha-stewart-subscription">Get Started</a>
    </div>
  
  	<img class="martha-home-img" src="//cdn.shopify.com/s/files/1/0084/0617/1763/t/34/assets/img-martha_flowers.jpg?122770" alt="Martha's Flowers">

  </div></div>
</section>

<section class="section-content pb-7 community-section" data-section-id="community-blog" style="background-color: {{ section.settings.section_bg_color }}; color: {{ section.settings.section_txt_color }}">
    <div class="{% if section.settings.fluid_layout %}container-fluid{% else %}container{% endif %} community-text d-none d-md-block">
        {% if section.settings.title != blank %}
        <p class="mb-0 text-RobotoCondensed font-weight-light">{{section.settings.title}}</p>
        {% endif %}
    </div>
    <div class="position-relative">
      <div class="{% if section.settings.fluid_layout %}container-fluid{% else %}container{% endif %} blog_text_part">  
          <div class="row">
              <div class="col-md-5 col-xl-4 text-center">

                  {% if section.settings.heading_txt != '' %}
                    <h2 class="mb-3 px-3">{{ section.settings.heading_txt }}</h2>
                  {% endif %}
                  {% if section.settings.sub_heading_txt != blank %}
                  <h4 class="mb-3 mb-lg-4">{{ section.settings.sub_heading_txt }}</h4>
                  {% endif %}
                  {% if section.settings.lead_txt != '' %}
                    <p class="mb-5 px-lg-5">
                        {{ section.settings.lead_txt }}
                    </p>
                  {% endif %}
                  {% if section.settings.btn_txt != blank and section.settings.btn_url != blank %}
                    <p class="mb-5 mb-sm-4"><a class="btn btn{% if section.settings.btn_type == 'outline' %}-{% endif %}{{ section.settings.btn_type }}-{{ section.settings.btn_variant }} {{ section.settings.btn_size }}" href="{{ section.settings.btn_url }}">{{ section.settings.btn_txt }}</a></p>
                  {% endif %}
                  <a href="{{ section.settings.btn_url_other }}" target="_blank" class="d-block h4 text-transform-none text-capitalize text-gray-500 font-weight-normal">{{ section.settings.btn_txt_other }}</a>
              </div>
          </div>
      </div>
      {% assign blocks_size = section.blocks | size %}
      {% if blocks_size > 0 %}
      <div class="community_blog my-md-0 my-4">
          <div class="community_blog_slider" data-flickity='{ 
                "contain": true,
                "freeScroll": false,
                "groupCells": "80%",
                "cellAlign": "left",
                "draggable": true,
                "pageDots": false
              }'>
              {% for block in section.blocks %}
              <div class="slide col-xl-5 col-lg-6 py-md-6 pb-8 pt-6" {{ block.shopify_attributes }}
              data-block-id="{{ block.id }}">
                  <a href="{{ section.settings.btn_url }}"><img
                      data-sizes="auto"
                      src="{{ block.settings.image | img_url: 'small'}}"
                      data-srcset="{{ block.settings.image | img_url: '1024x' }} 576w,
                      {{ block.settings.image | img_url: '1280x' }} 768w,
                      {{ block.settings.image | img_url: '1440x' }} 992w,
                      {{ block.settings.image | img_url: '1920x' }} 1200w"
                      class="lazyload img-fluid h-100 object-fit-cover" alt="{{ section.settings.heading_txt | escape }}" /></a>
              </div>
              {% endfor %}
          </div>
      </div>
      {% endif %}
    </div>  
</section>

{% schema %}
{
  "name": "Community Blog",
  "class": "index-community-blog",
  "settings": [
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "checkbox",
      "id": "fluid_layout",
      "label": "Full Width Layout?",
      "default": false
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "#BloomingHappy"
    },
    {
      "type": "text",
      "id": "heading_txt",
      "label": "Heading Text",
      "default": "Awesome Heading"
    },
    {
      "type": "text",
      "id": "sub_heading_txt",
      "label": "Sub Heading Text",
      "default": "To bloomsybox"
    },
    {
      "type": "textarea",
      "id": "lead_txt",
      "label": "Lead Text",
      "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pulvinar ac tortor imperdiet commodo."
    },
    {
      "type": "text",
      "id": "btn_txt",
      "label": "Button Text"
    },
    {
      "type": "url",
      "id": "btn_url",
      "label": "Button URL"
    },
    {
      "type": "text",
      "id": "btn_txt_other",
      "label": "Button Text"
    },
    {
      "type": "text",
      "id": "btn_url_other",
      "label": "Button URL"
    },
    {
      "type": "header",
      "content": "Styling"
    },
    {
      "type": "color",
      "id": "section_bg_color",
      "label": "Background Color",
      "default": "#f8f9fa"
    },
    {
      "type": "color",
      "id": "section_txt_color",
      "label": "Text Color",
      "default": "#343a40"
    },
    {
      "type": "select",
      "id": "btn_type",
      "label": "Button Type",
      "options": [{
          "value": "outline",
          "label": "Outline"
        },
        {
          "value": "",
          "label": "Solid"
        }
      ],
      "default": "outline"
    },
    {
      "type": "select",
      "id": "btn_variant",
      "label": "Button Variant",
      "options": [{
          "value": "primary",
          "label": "Primary"
        },
        {
          "value": "secondary",
          "label": "Secondary"
        },
        {
          "value": "gray-100",
          "label": "Light"
        },
        {
          "value": "gray-900",
          "label": "Dark"
        }
      ],
      "default": "primary"
    },
    {
      "type": "select",
      "id": "btn_size",
      "label": "Button Size",
      "options": [{
          "value": "",
          "label": "Default"
        },
        {
          "value": "btn-sm",
          "label": "Small"
        },
        {
          "value": "btn-lg",
          "label": "Large"
        }
      ],
      "default": ""
    }
  ],
  "presets": [
    {
      "name": "Community Blog",
      "category": "Image"
    }
  ],
  "blocks": [
    {
      "type": "content",
      "name": "Community Blog",
      "settings": [
        {
            "type": "image_picker",
            "id": "image",
            "label": "Select Image"
        }
      ]
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
