<section class="section-content" data-section-id="{{ section.id }}" style="background-color: {{ section.settings.section_bg_color }}; color: {{ section.settings.section_txt_color }}">
    <div class="{% if section.settings.fluid_layout %}container-fluid{% else %}container{% endif %} my-0 mt-lg-3">

        {% if section.settings.heading_txt != '' %}
          <h2 class="section-title mb-5 mb-md-6 mb-lg-7 text-center">{{ section.settings.heading_txt }}</h2>
        {% endif %}

        {% if section.settings.lead_txt != '' %}
          <p class="lead px-lg-6">
              {{ section.settings.lead_txt }}
          </p>
        {% endif %}      
        {% assign blocks_size = section.blocks | size %}
        {% assign count = 0 | plus:0 %}
        {% if blocks_size > 0 %}
            <div class="works-plan row" data-flickity='{
              "contain": true,
              "freeScroll": false,
              "groupCells": "100%",
              "cellAlign": "left",
              "draggable": true,
              "pageDots": false,
              "arrowShape": {"x0": 20, "x1": 75, "y1": 50, "x2": 80, "y2": 40, "x3": 35}
            }'>
              {% for block in section.blocks %}
                  {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                  <div class="col-md-4 col-sm-6 card text-center border-0 px-3 bg-transparent {% unless blocks_size < 4 %}col-lg-3{% endunless %}">
                      <div class="card-img text-center d-flex justify-content-center mb-5 mb-lg-7">
                          {% if block.settings.icon_class != blank %}
                              <img src="{{block.settings.icon_class}}" alt="{{ block.settings.heading | escape }}" class="h-100" /> 
                          {% elsif block.settings.image != blank %}
                              <img src="{{block.settings.image | img_url :'165x' }}" alt="{{ block.settings.heading | escape }}" class="h-100" /> 
                          {% endif %}
                      </div>
                      <div class="card-body p-0"> 
                          <h4 class="card-title mb-2">{{ block.settings.heading }}</h4>
                          <div class="{% if blocks_size < 4 %}px-xl-7{% endif %} mb-0">{{ block.settings.txt }}</div>
                      </div>
                  </div>
                  
                  {% assign count = count | plus:1 %}
              {% endfor %}
            </div>
        {% endif %}


        {% if section.settings.btn_txt != '' %}
          <div class="row">
              <div class="col-12 text-center">
                  <a class="btn btn{% if section.settings.btn_type == 'outline' %}-{% endif %}{{ section.settings.btn_type }}-{{ section.settings.btn_variant }} {{ section.settings.btn_size }} mt-5" href="{{ section.settings.btn_url }}">{{ section.settings.btn_txt }}</a>
              </div>
          </div>
        {% endif %}

    </div>
</section>



{% schema %}
  {
    "name": "Features Grid",
    "class": "index-features-grid",
    "settings": [
      {
        "type": "header",
        "content": "Layout"
      },
      {
        "type": "checkbox",
        "id": "fluid_layout",
        "label": "Full Width Layout?",
        "default": false
      },
      {
        "type": "select",
        "id": "grid_size",
        "label": "Grid Size",
        "options": [{
            "value": "1",
            "label": "1 Column"
          },
          {
            "value": "2",
            "label": "2 Columns"
          },
          {
            "value": "3",
            "label": "3 Columns"
          },
          {
            "value": "4",
            "label": "4 Columns"
          }
        ],
        "default": "3"
      },
      {
        "type": "header",
        "content": "Content"
      },
      {
        "type": "text",
        "id": "heading_txt",
        "label": "Heading Text",
        "default": "Awesome Heading"
      },
      {
        "type": "textarea",
        "id": "lead_txt",
        "label": "Lead Text",
        "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pulvinar ac tortor imperdiet commodo."
      },
      {
        "type": "text",
        "id": "btn_txt",
        "label": "Button Text"
      },
      {
        "type": "url",
        "id": "btn_url",
        "label": "Button URL"
      },
      {
        "type": "header",
        "content": "Styling"
      },
      {
        "type": "color",
        "id": "section_bg_color",
        "label": "Background Color",
        "default": "#f8f9fa"
      },
      {
        "type": "color",
        "id": "section_txt_color",
        "label": "Text Color",
        "default": "#343a40"
      },
      {
        "type": "select",
        "id": "btn_type",
        "label": "Button Type",
        "options": [{
            "value": "outline",
            "label": "Outline"
          },
          {
            "value": "",
            "label": "Solid"
          }
        ],
        "default": "outline"
      },
      {
        "type": "select",
        "id": "btn_variant",
        "label": "Button Variant",
        "options": [{
            "value": "primary",
            "label": "Primary"
          },
          {
            "value": "secondary",
            "label": "Secondary"
          },
          {
            "value": "gray-100",
            "label": "Light"
          },
          {
            "value": "gray-900",
            "label": "Dark"
          }
        ],
        "default": "primary"
      },
      {
        "type": "select",
        "id": "btn_size",
        "label": "Button Size",
        "options": [{
            "value": "",
            "label": "Default"
          },
          {
            "value": "btn-sm",
            "label": "Small"
          },
          {
            "value": "btn-lg",
            "label": "Large"
          }
        ],
        "default": ""
      }
    ],
    "presets": [
      {
        "name": "Features Grid",
        "category": "Content"
      }
    ],
    "blocks": [
      {
        "type": "content",
        "name": "Feature Block",
        "settings": [
          {
            "type": "text",
            "id": "icon_class",
            "label": "SVG URL"
          },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Select Image"
        },
          {
            "type": "text",
            "id": "heading",
            "label": "Heading"
          },
          {
            "type": "richtext",
            "id": "txt",
            "label": "Text"
          }
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
