<section class="section-content my-lg-7 subscribe-all-plans" data-section-id="{{ section.id }}" style="background-color: {{ section.settings.section_bg_color }}; color: {{ section.settings.section_txt_color }}">
  	<div class="{% if section.settings.fluid_layout %}container-fluid{% else %}container{% endif %}"> 
      		
		<div class="row align-items-center justify-content-center">
            <div class="col-12 col-lg-12 px-xl-9 text-center mb-lg-0 mb-md-6 mb-4">
                {% if section.settings.heading_txt != '' %}
                  <h2 class="font-weight-bold mb-2">{{ section.settings.heading_txt }}</h2>
                {% endif %}
                {% if section.settings.sub_heading_txt != blank %}
                <h4 class="mb-4">{{ section.settings.sub_heading_txt }}</h4>
                {% endif %}
                {% if section.settings.lead_txt != '' %}
                  <p class="mb-4 mb-lg-6">
                      {{ section.settings.lead_txt }}
                  </p>
                {% endif %}
                {% if section.settings.btn_txt != blank and section.settings.btn_url != blank %}
                  <a class="btn btn{% if section.settings.btn_type == 'outline' %}-{% endif %}{{ section.settings.btn_type }}-{{ section.settings.btn_variant }} {{ section.settings.btn_size }}" href="{{ section.settings.btn_url }}">{{ section.settings.btn_txt }}</a>
                {% endif %}
            </div>
            {% assign blocks_size = section.blocks | size %}
            {% if blocks_size > 0 %}
                {% for block in section.blocks %}
                    <div class="col-6 col-md-6 col-lg-4 my-4 my-md-3 d-flex align-items-stretch justify-content-around">
                        <div class="card card-product text-left border-0 shadow-lg rounded-0">
                            <div class="card-img text-center border-0">  
                                <div class="product-img">
                                    <a {% if block.settings.btn_url != blank %}href="{{ block.settings.btn_url }}?handle={{ block.settings.collection }}"{% endif %}>
                                        <img src="{{ block.settings.image | img_url:'400x' }}" alt="{{ block.settings.heading | escape }}"/>
                                    </a>
                                </div>
                            </div>
                            <div class="card-body p-3 p-lg-5 px-xl-6 pb-xl-6 d-block d-md-flex align-items-center justify-content-between text-center text-md-left">
                                
                                <a {% if block.settings.btn_url != blank %}href="{{ block.settings.btn_url }}?handle={{ block.settings.collection }}"{% endif %}>
                                
                                    <h4 class="card-title m-0 display-3">{{ block.settings.heading | escape }}</h4>
                                </a>
                                <a {% if block.settings.btn_url != blank %}href="{{ block.settings.btn_url }}"{% endif %} class="h3 text-primary mb-0 d-none d-md-inline-block arrow-icon">
                                    <svg class="d-block" version="1.1" id="icons" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 35.625 21.375" enable-background="new 0 0 35.625 21.375" xml:space="preserve">
                                        <g>
                                            <line fill="none" stroke="#EC1F2E" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" x1="1.41" y1="10.55" x2="32.504" y2="10.55"/>
                                            <polyline fill="none" stroke="#EC1F2E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="23.354,1.547 34.215,10.55 23.354,19.828"/>
                                        </g>
                                    </svg>
                                </a>
                            </div>
                          
                            <div class="card-body card-body-alt p-3 p-lg-5 px-xl-6 pb-xl-6 d-block d-md-flex align-items-center justify-content-between text-center text-md-left">
                                
                                <a {% if block.settings.btn_url != blank %}href="{{ block.settings.btn_url }}?handle={{ block.settings.collection }}"{% endif %}>
                                
                                    <h4 class="card-title card-title-alt m-0 display-7">{{ block.settings.heading | escape }}</h4>
                                    {% if block.settings.coll_price != blank %}<p>{{ block.settings.coll_price | escape }}/mo</p>{% endif %}
                                </a>
                                <a {% if block.settings.btn_url != blank %}href="{{ block.settings.btn_url }}"{% endif %} class="btn btn-alt btn-primary">
                                    Select
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</section>

{% schema %}
{
  "name": "Collection Slider",
  "class": "index-features-slider",
  "settings": [
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "checkbox",
      "id": "fluid_layout",
      "label": "Full Width Layout?",
      "default": false
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "text",
      "id": "heading_txt",
      "label": "Heading Text",
      "default": "Awesome Heading"
    },
    {
      "type": "text",
      "id": "sub_heading_txt",
      "label": "Sub Heading Text",
      "default": "To bloomsybox"
    },
    {
      "type": "textarea",
      "id": "lead_txt",
      "label": "Lead Text",
      "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pulvinar ac tortor imperdiet commodo."
    },
    {
      "type": "text",
      "id": "btn_txt",
      "label": "Button Text"
    },
    {
      "type": "url",
      "id": "btn_url",
      "label": "Button URL"
    },
    {
      "type": "header",
      "content": "Styling"
    },
    {
      "type": "color",
      "id": "section_bg_color",
      "label": "Background Color",
      "default": "#f8f9fa"
    },
    {
      "type": "color",
      "id": "section_txt_color",
      "label": "Text Color",
      "default": "#343a40"
    },
    {
      "type": "select",
      "id": "btn_type",
      "label": "Button Type",
      "options": [{
          "value": "outline",
          "label": "Outline"
        },
        {
          "value": "",
          "label": "Solid"
        }
      ],
      "default": "outline"
    },
    {
      "type": "select",
      "id": "btn_variant",
      "label": "Button Variant",
      "options": [{
          "value": "primary",
          "label": "Primary"
        },
        {
          "value": "secondary",
          "label": "Secondary"
        },
        {
          "value": "gray-100",
          "label": "Light"
        },
        {
          "value": "gray-900",
          "label": "Dark"
        }
      ],
      "default": "primary"
    },
    {
      "type": "select",
      "id": "btn_size",
      "label": "Button Size",
      "options": [{
          "value": "",
          "label": "Default"
        },
        {
          "value": "btn-sm",
          "label": "Small"
        },
        {
          "value": "btn-lg",
          "label": "Large"
        }
      ],
      "default": ""
    }
  ],
  "presets": [
    {
      "name": "Features Collections Slider",
      "category": "Content"
    }
  ],
  "blocks": [
    {
      "type": "content",
      "name": "Feature Block",
      "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Select Image"
      },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "collection",
          "id": "collection",
          "label": "Choose Collection"
        },
        {
          "type": "url",
          "id": "btn_url",
          "label": "URL"
        }
		,
        {
          "type": "text",
          "id": "coll_price",
          "label": "Collection Price"
        }
      ]
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
