<section class="featured-section" data-section-id="{{ section.id }}" style="background-color: {{ section.settings.section_bg_color }}; color: {{ section.settings.section_txt_color }}">
<div class="{% if section.settings.fluid_layout %}container-fluid{% else %}container{% endif %}">
  {% if section.settings.title != blank %}
    <div class="featured-heading text-center">
        <span class="h4 mb-0 text-gray-700">{{ section.settings.title | escape }}</span>
    </div>
  {% endif %}

  {% if section.blocks.size > 0 %} 
    <div class="d-flex flex-md-nowrap flex-wrap justify-content-center justify-content-md-between featured-logo py-md-5 py-3 text-center"> 
      {% for block in section.blocks %} 
        <div class="logo-block d-flex align-items-center justify-content-center px-md-3 px-2 my-md-0 my-4">
        <img
            src="{{ block.settings.image | img_url: '200x'}}"
            data-srcset="
                {{ block.settings.image | img_url: '1024x' }} 576w,
                {{ block.settings.image | img_url: '1280x' }} 768w,
                {{ block.settings.image | img_url: '1440x' }} 992w,
                {{ block.settings.image | img_url: '1920x' }} 1200w
                "
            class="d-inline-block align-items-center mh-100 lazyload" alt="{{ block.settings.image.alt | escape }}" />  
        </div>     
      {% endfor %}
    </div>
  {% endif %}

  </div>
  </section>

{% schema %}
  {
    "name": {
      "en": "Logo list",
      "de": "Logo-Liste",
      "fr": "Liste des logos"
    },
    "class": "index-section",
    "max_blocks": 20,
    "settings": [
    {
        "type": "header",
        "content": "Layout"
    },
    {
        "type": "checkbox",
        "id": "fluid_layout",
        "label": "Full Width Layout?",
        "default": false
    },
      {
        "type": "text",
        "id": "title",
        "label": {
          "en": "Heading",
          "de": "Titel",
          "fr": "En-tête"
        },
        "default": {
          "en": "Logo list",
          "de": "Logo-Liste",
          "fr": "Liste de logos"
        }
      },
      {
        "type": "header",
        "content": "Styling"
      },
      {
        "type": "color",
        "id": "section_bg_color",
        "label": "Background Color",
        "default": "#f8f9fa"
      },
      {
        "type": "color",
        "id": "section_txt_color",
        "label": "Text Color",
        "default": "#343a40"
      }
    ],
    "blocks": [
      {
        "type": "logo_image",
        "name": {
          "en": "Logo",
          "de": "Logo",
          "fr": "Logo"
        },
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": {
              "en": "Image",
              "de": "Foto",
              "fr": "Image"
            }
          }
        ]
      }
    ],
    "presets": [
      {
        "name": {
          "en": "Logo list",
          "de": "Logo-Liste",
          "fr": "Liste de logos"
        },
        "category": {
          "en": "Image",
          "de": "Foto",
          "fr": "Image"
        },
        "blocks": [
          {
            "type": "logo_image"
          },
          {
            "type": "logo_image"
          },
          {
            "type": "logo_image"
          },
          {
            "type": "logo_image"
          }
        ]
      }
    ]
  }
{% endschema %}
