<div class="" data-weekly-flow data-section-id="{{ section.id }}">
  <section class="pt-5 subscribe-all-plans">
    <div class="{% if section.settings.fluid_layout %}container-fluid{% else %}container{% endif %}">
      <ul class="mb-0 d-flex align-items-center list-inline justify-content-center text-lato plan-selected">
        {% if section.settings.flow_text_1 != blank %}
        <li class="px-1 px-sm-4">
          <a data-stage="2" class="text-uppercase font-weight-normal font-size-sm  active" href="#"
            class="px-6">{{ section.settings.flow_text_1  }}</a>
        </li>
        {% endif %}
        {% if section.settings.flow_text_2 != blank %}
        <li class="px-1 px-sm-4">
          <a data-stage="3" class="nav-link text-uppercase font-weight-normal font-size-sm  disable" href="#"
            class="px-6">{{ section.settings.flow_text_2  }}</a>
        </li>
        {% endif %}
        {% if section.settings.flow_text_3 != blank %}
        <li class="px-1 px-sm-4">
          <a data-stage="4" class="nav-link text-uppercase font-weight-normal font-size-sm  disable" href="#"
            class="px-6">{{ section.settings.flow_text_3  }}</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </section>
  <section class="py-3 funnelSection" data-step="2">
    <div class="{% if section.settings.fluid_layout %}container-fluid{% else %}container{% endif %}">
      <div class="text-center">
        {% if section.settings.flow_text_title != blank %}
        <h2 class="mb-2">{{ section.settings.flow_text_title }}</h2>
        {% endif %}
        {% if section.settings.flow_text_sub_title != blank %}
        <h4 class="font-size-lg mb-1">{{ section.settings.flow_text_sub_title }}</h4>
        {% endif %}
        {% if section.settings.flow_text_lead != blank %}
        <p class="mb-0">{{ section.settings.flow_text_lead }}</p>
        {% endif %}
      </div>
      <div class="position-relative pt-3 pt-md-5 pb-6">
        <div class="go-back text-center text-md-left mb-3 mb-md-0">
          <a href="/pages/subscribe" class="mb-0 text-latoMedium text-gray-800"><i
              class="ion-ios-arrow-back mr-2 font-size-lg"></i>GO BACK</a>
        </div>
        <div class="row align-items-stretch justify-content-center">
          {% assign blockCol = section.settings.collection %}
          {% assign collection = collections[blockCol] %}
          {% for product in collections[blockCol].products %}
          {% assign filter = '' %}
          {% for tag in product.tags %}
          {% if tag contains 'filter-' %}
          {% assign filterName = tag | remove:'filter-' %}
          {% assign filter = filter | append: filterName %}
          {% endif %}
          {% endfor %}
          <div class="col-12 col-sm-6 col-md-5 col-xl-4 my-3">
            <div class="card text-left border-0 shadow-lg rounded-0 h-100">
              <div class="card-img product-img weekly-plans-img text-center border-0">
                {% if product.images[1].src != blank %}
                <img src="{{ product.images[1].src | img_url: 'small'}}" data-srcset="
                                    {{ product.images[1].src | img_url: '1024x' }} 576w,
                                    {{ product.images[1].src | img_url: '1280x' }} 768w,
                                    {{ product.images[1].src | img_url: '1440x' }} 992w,
                                    {{ product.images[1].src | img_url: '1920x' }} 1200w"
                  class="lazyload h-100 object-fit-cover position-absolute t-0 l-0 b-0 r-0 m-auto"
                  alt="{{ product.title | escape }}" />
                {% else %}
                <img src="{{product.featured_image.src | img_url: 'small'}}" data-srcset="
                                    {{ product.featured_image.src | img_url: '1024x' }} 576w,
                                    {{ product.featured_image.src | img_url: '1280x' }} 768w,
                                    {{ product.featured_image.src | img_url: '1440x' }} 992w,
                                    {{ product.featured_image.src | img_url: '1920x' }} 1200w"
                  class="lazyload h-100 object-fit-cover position-absolute t-0 l-0 b-0 r-0 m-auto"
                  alt="{{ product | escape }}" />
                {% endif %}
              </div>
              <div class="card-body px-3 px-lg-4 pb-0">
                <div class="d-flex align-items-center justify-content-between mb-1">
                  <h4 class="mb-0 text-primary">{{product.title}}</h4>
                  {% if filter == 'monthly' %}
                  {% assign filter = 'mo' %}
                  {% elsif filter == 'weekly' %}
                  {% assign filter = 'week' %}
                  {% endif %}
                  <p class="mb-0 font-size-lg">{{ product.variants[0].price | money }}/{{ filter }}</p>
                </div>
                {% if product.metafields.global.description_tag != blank %}
                <p class="mb-2">{{ product.metafields.global.description_tag }}</p>
                {% endif %}
              </div>
              <div class="card-footer pb-3 px-3 px-lg-4 pb-4 border-0 bg-transparent">
                <a href="#" onclick="$(this).weeklySelect3('vpv5');"
                  @click.prevent="_chooseWeeklyPlan('{{ product.handle }}')"
                  class="btn btn-sm btn-outline-primary w-100">Select</a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>

  <script type="application/json" data-collection-subscribe-json>
        {{ collection | json }}
    </script>
  <script type="application/json" data-product-subscribe-json id="{{ collection.handle | escape }}">
        {{ collection.products | json }}
    </script>


  <template v-if="!isPayment == false">
    <section class="py-3 funnelSection" data-product data-step="4">
      <div class="{% if section.settings.fluid_layout %}container-fluid{% else %}container{% endif %}">
        <form data-form-product :data-productid="funnel.choosePlan.id" action="/cart/add" method="post"
          enctype="multipart/form-data" class="" name="">
          <input type="hidden" name="id" :value="funnel.payment.id" :data-productid="funnel.choosePlan.id" />
          <input name="properties[subscription_id]" type="hidden" :value="funnel.choosePlan.subscription_id" />
          <input name="properties[shipping_interval_frequency]" type="hidden"
            :value="funnel.choosePlan.shipping_interval_frequency" />
          <input name="properties[shipping_interval_unit_type]" type="hidden"
            :value="funnel.choosePlan.shipping_interval_unit_type" />
          <input name="properties[charge_interval_frequency]" type="hidden"
            :value="funnel.payment.charge_interval_frequency" />
          <div class="text-center">
            <h2 class="mb-0">Order Review</h2>
          </div>
          <div class="position-relative py-6">
            <div class="go-back text-center text-md-left mb-4 mb-md-0">
              <a href="#" @click.prevent="_prevStage($event, 4, 2)" class="mb-0 text-latoMedium text-gray-800"><i
                  class="ion-ios-arrow-back mr-2 font-size-lg"></i>GO BACK</a>
            </div>
            <div class="border-gray-400 border-bottom">
              <div class="row align-items-stretch">
                <div class="col-12 col-lg-6">
                  <div class="row align-items-stretch">
                    <div class="col-12 col-sm-6 my-3">
                      <div class="card text-left border-0 shadow-lg bg-white rounded-0 pt-4 h-100">
                        <div class="card-img product-img monthly-plans-img text-center border-0">
                          <img v-if="funnel.choosePlan.images[1]"
                            :src="_getSizedImageUrl(funnel.choosePlan.images[1], 'large')"
                            :alt="funnel.choosePlan.title" alt="" class="mw-100" />
                          <img v-else-if="funnel.choosePlan.featured_image"
                            :src="_getSizedImageUrl(funnel.choosePlan.featured_image, 'large')"
                            :alt="funnel.choosePlan.title" alt="" class="mw-100" />
                          <img v-else :src="_getSizedImageUrl(funnel.choosePlan.featured_image, '300x')"
                            :alt="funnel.choosePlan.title" alt="" class="mw-100" />
                        </div>
                        <div class="offer-tag right bg-gray-100 text-gray-400 p-2">
                          <a href="#" @click.prevent="_prevStage($event, 4, 2)"><img
                              src="https://cdn.shopify.com/s/files/1/0084/0617/1763/files/edite-icon.svg?10372617106714625492"
                              alt="" /></a>
                        </div>
                        <div class="card-body px-3 px-xl-3">
                          <div class="d-flex align-items-center justify-content-between">
                            <h4 class="mb-0 text-primary" v-text="funnel.choosePlan.title"></h4>
                            <p class="mb-0 font-size-lg"
                              v-text="_formatMoney(funnel.payment.price)+'/'+funnel.choosePlan.filter"></p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-sm-6 my-3">
                      <div
                        class="card text-left border-0 shadow-lg bg-white rounded-0 pt-4 h-100  d-flex align-items-center flex-row">
                        <div
                          class="card-body px-3 px-xl-4 text-center d-flex align-items-center justify-content-center flex-column">
                          <h4 class="text-primary mb-1" v-text="funnel.choosePlan.filter"></h4>
                          <h3 class="display-2 mb-4"
                            v-text="_formatMoney(funnel.payment.price)+'/'+funnel.choosePlan.filter"></h3>
                          <p class="mb-0"><b class="font-weight-bold">Total Price:</b> <span
                              v-text="_formatMoney(funnel.payment.price)"></span></p>
                          <p v-if="funnel.choosePlan.filter != null" class="mb-5"
                            v-text="'Recurring '+funnel.choosePlan.filter"></p>
                          {% comment %} <div class="text-center">
                            <p class="font-size-lg mb-2 text-RobotoCondensed text-uppercase font-weight-normal">Your
                              first box will Arrive:</p>
                            <div class="mb-3 mb-md-0 date--picker">
                              <flat-pickr value="{{ cart.attributes.date }}" id="subScriptionDateConfig"
                                :required="false" placeholder="Select Delivery Date" name="attributes[Delivery_Date]"
                                ref="datePickerWrap" readonly class="form-control bg-white secondary-placeholder">
                              </flat-pickr>
                            </div>
                          </div> {% endcomment %}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-lg-6 my-4 my-lg-0">
                  <div class="border-left border-none-md border-gray-400 pl-lg-5 pl-xl-7 pb-5 pb-lg-7 ml-xl-5">
                    <div class="d-flex align-items-end mb-1">
                      <div class="d-flex align-items-center">
                        <div class="custom-checkbox">
                          <input type="checkbox" id="gift" name="properties[isGift]" data-gift
                            v-bind="{'checked': !isGiftcartForm}"
                            v-on:click="isGiftcartForm = !isGiftcartForm;_giftCartForm($event);" />
                          <label for="gift" class="mb-0">
                            <span class="mr-3 d-inline-block position-relative align-middle"></span>
                            <h4 class="display-3 mb-0 text-primary d-inline-block align-middle">Is This a gift?</h4>
                            <p class="mb-0 font-italic text-gray-500 d-inline-block align-bottom">Optional</p>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="gift-details" data-giftForm :class="{'disabled': isGiftcartForm}">
                      <div class="row">
                        {% comment %} <div class="col-12 col-sm-6 py-3">
                          <input type="text" class="form-control secondary-placeholder" data-name-to
                            name="attributes[To]" placeholder="To" :class="{'disabled': isGiftcartForm}"
                            v-bind="{'required': !isGiftcartForm}">
                        </div>
                        <div class="col-12 col-sm-6 py-3">
                          <input type="text" class="form-control secondary-placeholder" data-name-from
                            name="attributes[From]" placeholder="From" :class="{'disabled': isGiftcartForm}"
                            v-bind="{'required': !isGiftcartForm}">
                        </div> {% endcomment %}
                        <div class="col-12 py-3">
                          <textarea rows="6" class="form-control secondary-placeholder" maxlength="280"
                            data-name-message name="attributes[Gift_Message]" placeholder="Gift Message"
                            :class="{'disabled': isGiftcartForm}" v-bind="{'required': !isGiftcartForm}"></textarea>
                        </div>
                        <div class="col-12 py-3 custom-checkbox">
                          <input type="checkbox" id="GiftAutoRenew" v-on:click="_giftCartAutoRenew($event)"
                            class="form-control secondary-placeholder" value="once" name="properties[gift_renew]"
                            :class="{'disabled': isGiftcartForm}">
                          <label for="GiftAutoRenew" class="mb-0 pl-4">
                            <span class="d-inline-block align-middle position-absolute l-0 t-10 mr-1"></span>
                            This will make your gift subscription auto-renew.<small class="text-gray-500">(Can cancel if
                              needed)</small>
                          </label>
                        </div>
                      </div>
                      <div class="mt-4 text-center text-sm-left">
                        <h5>Gifting Faq’s</h5>
                        <div class="row align-items-start">
                          <div class="col-12 col-sm-7">
                            <p class="mb-0 font-size-sm font-weight-bold">Sending your gift directly to the recipient?
                            </p>
                            <p class="mb-0 font-size-sm">Fill in recipient address during checkout.</p>
                          </div>
                          <div class="col-12 col-sm-5 mt-3 mt-sm-0">
                            <p class="mb-0 font-size-sm font-weight-bold">Sending gifts to multiple people?</p>
                            <p class="mb-0 font-size-sm">Please place a separate order for each address.</p>
                          </div>
                        </div>
                        <p class="mb-0 font-size-sm font-weight-normal">Need Help? <a href="/pages/contact"
                            class="text-primary"><u>Contact Us</u></a></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <p v-show="isGiftMsg" class="text-danger text-right">Please enter a gift message to continue</p>
          <div class="order_review-footer pb-6 pb-md-8">
            <div class="d-flex align-items-center justify-content-sm-end justify-content-between pb-md-4 pb-3">
              <h3 class="subtotal-text px-sm-3 mb-0">Subtotal: <span class="font-weight-light"
                  v-text="_formatMoney(funnel.payment.price)"></span></h3>
              <div class="col-4 col-md-5 mb-3 quantity-column d-none">
                <div class="quantity-wrapper" data-qty-container>
                  <label for="Quantity">{{ 'products.product.quantity' | t }}</label>
                  <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <a href="#" class="btn-decrease" data-qty-decrease @click.prevent="_updateQty($event)"
                          rel="nofollow" aria-label="Decrease" title="Decrease"><i class="icon ion-md-remove"></i></a>
                      </span>
                    </div>
                    <input type="number" name="quantity" value="1" step="1" min="1" pattern="[0-9]*" inputmode="numeric"
                      data-qty-input class="quantity form-control text-center">
                    <div class="input-group-append">
                      <span class="input-group-text">
                        <a href="#" class="btn-increase" data-qty-increase @click.prevent="_updateQty($event)"
                          rel="nofollow" aria-label="Increase" title="Increase"><i class="icon ion-md-add"></i></a>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <button class="btn px-lg-8 btn-primary" type="submit" name="add" onclick="$(this).weeklySelect4('vpv6');"
                :disabled="!funnel.payment.available"
                @click.prevent="_addToCartSubscription($event, funnel.payment.id)">
                <template v-if="isLoading && loadingEvent == 'cartAdding'">
                  <i class="icon ion-md-refresh spin"></i> {{ 'general.wait' | t }}
                </template>
                <template v-else>
                  <span v-if="funnel.payment.available">
                    Checkout
                  </span>
                  <span v-else>
                    {{ 'products.product.sold_out' | t }}
                  </span>
                </template>
              </button>
            </div>
            <p class="mb-0 text-gray-600 text-sm-right text-center">Shipping &amp; tax are applied during checkout.</p>
          </div>
        </form>
      </div>
    </section>
  </template>

  {% for product in collections[blockCol].products %}
  {% if product.metafields.global.description_tag != blank %}
  <script type="application/json" data-{{product.handle}}-json>
            {{ product.metafields.global.description_tag }}
        </script>
  {% endif %}
  <script type="application/json"
    data-{{product.handle}}-subscribe-json>[{ {% for field in product.metafields.subscriptions %}"{{ field | first }}": "{{ field | last }}"{% unless forloop.last %},{% endunless %}{% endfor %} }]</script>
  {% for variant in product.variants %}
  {% if variant.metafields.subscription.charge_interval_frequency != blank %}
  <script type="application/json" data-{{variant.id}}-charge-frq-json>
                    {{ variant.metafields.subscription.charge_interval_frequency | json }}
                </script>
  {% endif %}
  {% if variant.metafields.subscription.is_hidden != blank %}
  <script type="application/json" data-{{variant.id}}-visible-json>
                    {{ variant.metafields.subscription.is_hidden }}
                </script>
  {%- endif %}
  {% endfor %}
  {% endfor %}

  {% for block in section.blocks %}
  {% assign direction = block.settings.image_direction %}
  {% if direction == 'left' %}
  {% assign classOFDirection = 'order-2 order-md-1' %}
  {% assign classOfText = 'order-1 order-md-2' %}
  {% else %}
  {% assign classOFDirection = 'order-1 order-md-2' %}
  {% assign classOfText = 'order-2 order-md-1' %}
  {% endif %}
  <section class="py-md-8 py-7 bg-gray-100"
    style="background-color: {{ block.settings.section_bg_color }}; color: {{ block.settings.section_txt_color }}">
    <div class="{% if fluid_layout %}container-fluid{% else %}container{% endif %}">
      <div class="row align-items-center">
        <div class="col-12 col-md-6 col-lg-5 {{classOfText}}">
          <div class="row justify-content-center">
            <div class="col-12 col-lg-11 text-center text-md-left">
              {% if block.settings.heading_txt != blank %}
              <h2 class="mb-2">{{block.settings.heading_txt}}</h2>
              {% endif %}
              {% if block.settings.lead_txt_1 != blank %}
              <div class="mb-4 mb-md-6">{{ block.settings.lead_txt_1 }}</div>
              {% endif %}
              <hr class="bg-gray-200 w-50 ml-md-0 mb-4 mb-md-5">
              {% if block.settings.sub_heading_txt != blank %}
              <h4 class="mb-2">{{ block.settings.sub_heading_txt }}</h4>
              {% endif %}
              {% if block.settings.lead_txt != blank %}
              <p class="mb-0">{{block.settings.lead_txt}}</p>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-7 mb-5 mb-md-0 {{classOFDirection}}">
          <div class="product-img video-position shadow-1">
            {% if block.settings.iframe_url != blank %}
            <iframe width="100%" height="100%" src="{{ block.settings.iframe_url }}" frameborder="0"
              allowfullscreen=""></iframe>
            {% elsif block.settings.image != blank %}
            <img data-sizes="auto" src="{{ block.settings.image | img_url: 'small'}}" data-srcset="
                                {{ block.settings.image | img_url: '1024x' }} 576w,
                                {{ block.settings.image | img_url: '1280x' }} 768w,
                                {{ block.settings.image | img_url: '1440x' }} 992w,
                                {{ block.settings.image | img_url: '1920x' }} 1200w" class="lazyload img-fluid h-100"
              alt="{{ block.settings.heading_txt | escape }}" />
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endfor %}


</div>

{% schema %}
{
"name": "Weekly Plans",
"settings": [
{
"type": "header",
"content": "Layout"
},
{
"type": "checkbox",
"id": "fluid_layout",
"label": "Full Width Layout?",
"default": false
},
{
"type": "text",
"id": "heading_txt",
"label": "Heading Text"
},
{
"type": "text",
"id": "sub_heading_txt",
"label": "Sub Heading Text"
},
{
"type": "textarea",
"id": "lead_txt",
"label": "Lead Text"
},
{
"type": "collection",
"id": "collection",
"label": "Collection"
},
{
"type": "header",
"content": "Funnel Navigation"
},
{
"type": "paragraph",
"content": "First Funnel"
},
{
"type": "text",
"id": "flow_text_1",
"label": "Text"
},
{
"type": "text",
"id": "flow_text_title",
"label": "Heading"
},
{
"type": "text",
"id": "flow_text_sub_title",
"label": "SubHeading"
},
{
"type": "text",
"id": "flow_text_lead",
"label": "Content"
},
{
"type": "paragraph",
"content": "Second Funnel"
},
{
"type": "text",
"id": "flow_text_2",
"label": "Text"
},
{
"type": "paragraph",
"content": "Third Funnel"
},
{
"type": "text",
"id": "flow_text_3",
"label": "Text"
}
],
"blocks": [
{
"type": "block",
"name": "Block",
"settings": [
{
"type": "header",
"content": "Content"
},
{
"type": "select",
"id": "image_direction",
"label": "Direction of image",
"options": [{
"value": "left",
"label": "Left"
},
{
"value": "right",
"label": "Right"
}
],
"default": "right"
},
{
"type": "image_picker",
"id": "image",
"label": "Select Image"
},
{
"type": "textarea",
"id": "iframe_url",
"label": "Iframe URL"
},
{
"type": "text",
"id": "heading_txt",
"label": "Heading Text"
},
{
"type": "richtext",
"id": "lead_txt_1",
"label": "Lead Text"
},
{
"type": "text",
"id": "sub_heading_txt",
"label": "SubHeading Text"
},
{
"type": "richtext",
"id": "lead_txt",
"label": "Lead Text"
},
{
"type": "header",
"content": "Styling"
},
{
"type": "color",
"id": "section_bg_color",
"label": "Background Color",
"default": "#f8f9fa"
},
{
"type": "color",
"id": "section_txt_color",
"label": "Text Color",
"default": "#212529"
}
]
}
]
}
{% endschema %}