<input type="hidden" data-customer-email value="{{ customer.email }}" />
<input type="hidden" data-customer-id value="{{ customer.id }}" />
<div class="funnelWrapper" data-subscribe-funnel>
  <div class="" data-section-id="{{ section.id }}">
    <section class="pt-5 subscribe-all-plans">
      <div class="{% if section.settings.fluid_layout %}container-fluid{% else %}container{% endif %}">
        <ul class="mb-0 d-flex align-items-center list-inline justify-content-center text-lato plan-selected">
          {% if section.settings.flow_text_1 != blank %}
          <li class="px-1 px-sm-4">
            <a data-stage="2" class="text-uppercase font-weight-normal font-size-sm active" href="#"
              class="px-6">{{ section.settings.flow_text_1  }}</a>
          </li>
          {% endif %}
          {% if section.settings.flow_text_2 != blank %}
          <li class="px-1 px-sm-4">
            <a data-stage="3" class="nav-link text-uppercase font-weight-normal font-size-sm disable" href="#"
              class="px-6">{{ section.settings.flow_text_2  }}</a>
          </li>
          {% endif %}
          {% if section.settings.flow_text_3 != blank %}
          <li class="px-1 px-sm-4">
            <a data-stage="4" class="nav-link text-uppercase font-weight-normal font-size-sm disable" href="#"
              class="px-6">{{ section.settings.flow_text_3  }}</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </section>

    {% if section.settings.flow_text_1 != blank %}
    <section class="pt-3 funnelSection" data-step="1">
      <div class="{% if section.settings.fluid_layout %}container-fluid{% else %}container{% endif %}">
        {% if section.settings.flow_text_title != blank %}
        <h2 class="text-center mb-2">{{ section.settings.flow_text_title }}</h2>
        {% endif %}
        {% if section.blocks.size > 0 %}
        <div class="row justify-content-center" data-choosePlan>
          {% for block in section.blocks %}
          {% assign blockCol = block.settings.collection %}
          {% assign collection = collections[blockCol] %}
         
          <div class="col-12 col-sm-6 col-lg-4 my-3 d-flex align-items-stretch justify-content-around">
            <div class="card card-product text-left border-0 shadow-lg rounded-0 position-relative">
              {% if block.settings.link != blank %}
              <a href="{{block.settings.link}}" class="linkWrap"></a>
              {% else %}
              <input type="radio" id="{{collection.id}}" value="{{ collection.handle | escape }}" data-pickPlan
                @change="_getPickPlan();" data-title="{{ collection.title | escape }}" data-id="{{ collection.id }}"
                name="pick-plan" />
              <label for="{{collection.id}}"></label>
              {% endif %}
              <div class="card-img text-center border-0">
                <div class="product-img">
                  {% if block.settings.image != blank %}
                  <img src="{{ block.settings.image | img_url:'400x' }}" alt="{{ block.settings.title }}" />
                  {% else %}
                  <img src="{{ collection.image | img_url: '400x' }}" alt="{{ collection.title | escape }}" />
                  {% endif %}
                </div>
              </div>
              <div
                class="card-body p-3 p-lg-6 d-flex align-items-center justify-content-between text-center text-md-left">
                <a href="javascript:void(0);">
                  <h4 class="card-title m-0 display-3">{{ block.settings.title }}</h4>
                </a>
                <a href="javascript:void(0);" class="h3 d-inline-block text-primary mb-0 arrow-icon">
                  <img
                    src="https://cdn.shopify.com/s/files/1/0084/0617/1763/files/blog-arrow-right.svg?3635258085882107044"
                    alt="" class="mw-100 d-block" />
                </a>
              </div>
              <script type="application/json" data-product-subscribe-json id="{{ collection.handle | escape }}">
                        {{ collection.products | json }}
                    </script>
            </div>
          </div>
          {% endfor %}
        </div>
        {% endif %}
        <div class="text-center py-7">
          {% if section.settings.flow_text_sub_title != blank %}
          <h4 class="font-size-lg mb-2">{{ section.settings.flow_text_sub_title }}</h4>
          {% endif %}
          {% if section.settings.flow_text_lead != blank %}
          <p class="mb-0">{{ section.settings.flow_text_lead }}</p>
          {% endif %}
        </div>
      </div>
    </section>
    {% endif %}

    <template v-if="!isPickPlan == false">
      <section class="pt-3 funnelSection" data-step="2">
        <div class="{% if section.settings.fluid_layout %}container-fluid{% else %}container{% endif %}">
          <div class="text-center">
            <h2 class="mb-2" v-text="funnel.pickPlan.title"></h2>
            <h4 class="font-size-lg mb-1">All bouquets come with free overnight shipping</h4>
            <p class="mb-0">Plans auto-renew and may be cancelled at any time.</p>
          </div>
          <div class="position-relative">
            <div class="go-back text-center text-md-left mb-0 mt-md-0 mt-3">
              <a href="#" @click.prevent="_prevStage($event, 2, 1)" class="mb-0 text-latoMedium text-gray-800"><i
                  class="ion-ios-arrow-back mr-2 font-size-lg"></i>GO BACK</a>
            </div>
            <div class="monthly-slider row d-md-flex align-items-stretch justify-content-center" data-pickplan-slider>
              <template v-if="funnel.product.length > 0">
                <div v-for="(item, index) in funnel.product"
                  :class="{'col-md-5 col-xl-4 my-3': 'weekly-plans' === funnel.pickPlan.value}"
                  class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 h-auto mt-6" data-funnel-product>
                  <div class="card text-left border-0 shadow rounded-0 h-100">
                    <div class="card-img product-img monthly-plans-img text-center border-0">
                      <img v-if="item.images[1]" :src="_getSizedImageUrl(item.images[1], 'large')" :alt="item.title"
                        alt="" class="mw-100" />
                      <img v-else :src="_getSizedImageUrl(item.featured_image, '300x')" :alt="item.title" alt=""
                        class="mw-100" />
                    </div>
                    <div class="offer-tag bg-primary text-white py-2 px-3" v-for="tag in item.tags" v-if="tag == 'New'">
                      <h5 class="text-lato font-weight-normal text-uppercase my-1">new!</h5>
                    </div>
                    <div class="card-body px-3 px-lg-4 pb-0">
                      <div class="d-flex align-items-center justify-content-between mb-1">
                        <h4 class="mb-0 text-primary" v-text="item.title"></h4>
                        <p class="mb-0 font-size-lg" v-text="_formatMoney(item.price)+'/'+(item.compare_at_price)/100"></p>
                      </div>
                      <p class="mb-2" v-text="item.short_desc"></p>
                    </div>
                    <div class="card-footer pb-3 px-3 px-lg-4 pb-4 border-0 bg-transparent">
                      <div class="d-flex align-items-center justify-content-between">
                        <a :href="'/products/'+item.handle" class="btn btn-sm shadow-none px-0">VIEW PLAN</a>
                        <a href="#" onclick="$(this).subscribeSelect2('vpv2');"
                          @click.prevent="_choosePlan(item.handle)" class="btn btn-sm btn-outline-primary">Select</a>
                      </div>
                    </div>
                  </div>
                </div>
                {% if section.settings.Martha_page != blank %}
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 h-auto mt-6" data-funnel-product>
                  {% assign page = pages[section.settings.Martha_page] %}
                  <div class="card text-left border-0 shadow rounded-0 h-100">
                    <div class="card-img product-img monthly-plans-img rounded-0 text-center border-0">
                      {% if page.metafields.product_manager.image != blank %}
                      <img src="{{ page.metafields.product_manager.image }}" alt="{{ page.title }}"
                        class="mw-100 w-100" />
                      {% endif %}
                    </div>
                    <div class="offer-tag bg-primary text-white py-2 px-3">
                      <h5 class="text-lato font-weight-normal text-uppercase my-1">new!</h5>
                    </div>
                    <div class="card-body px-3 px-lg-4 pb-0">
                      <div class="d-flex align-items-center justify-content-between mb-1">
                        <h4 class="mb-0 text-primary">{{ page.title }}</h4>
                      </div>
                      <p class="mb-2">{{ page.content }}</p>
                    </div>
                    <div class="card-footer pb-3 px-3 px-lg-4 pb-4 border-0 bg-transparent">
                      <div class="d-flex align-items-center justify-content-between">
                        <a href="{{ page.handle }}" class="btn btn-sm shadow-none px-0">VIEW PLAN</a>
                      </div>
                    </div>
                  </div>
                </div>
                {% endif %}
              </template>
            </div>
            <div class="d-flex align-items-center justify-content-center py-5">
              <i class="ion ion-md-information-circle-outline text-gray-600 display-2 mr-3"></i>
              <p class="mb-0 font-size-sm text-gray-600">Each bouquet’s single variety flower selection and stem count
                will vary month to month to offer you the freshest, most seasonable blooms available. </p>
            </div>
          </div>
        </div>
      </section>
    </template>
    <template v-if="!isChoosePlan == false">
      <section class="pt-3 funnelSection" data-step="3">
        <div class="{% if section.settings.fluid_layout %}container-fluid{% else %}container{% endif %}">
          <div class="text-center">
            <h2 class="mb-3">Select Your Payment</h2>
            <div class="d-block text-center d-sm-flex align-items-center justify-content-center">
              <div
                class="d-flex align-items-center justify-content-center justify-content-sm-center px-3 border-right border-none-xs">
                <p class="mb-0 text-gray-600 font-weight-normal mr-2">Plan Selected:</p>
                <p class="text-RobotoCondensed font-weight-normal text-uppercase mb-0" v-text="funnel.choosePlan.title">
                  Bloomsy S</p>
              </div>
              <a href="#" class="px-3 font-size-sm text-primary font-weight-normal"
                @click.prevent="_prevStage($event, 3, 2)"><u>Select Different Plan</u></a>
            </div>
          </div>
          <div class="position-relative pt-3">
            <div class="go-back text-center text-md-left mb-0 mt-md-0 mt-3">
              <a href="#" class="mb-0 text-latoMedium text-gray-800" @click.prevent="_prevStage($event, 3, 2)"><i
                  class="ion-ios-arrow-back mr-2 font-size-lg"></i>GO BACK</a>
            </div>
            <div class="payment-silder row align-items-end">
              <template v-if="funnel.choosePlan.variants != ''">
                <div v-for="variant in funnel.choosePlan.variants" v-if="variant.is_hidden != true"
                  class="mt-6 col-12 col-sm-6 col-md-3 h-auto">
                  <div class="card border-0 shadow rounded-0 h-100">
                    <p v-if="variant.save && variant.save != '0' "
                      class="text-lato text-white bg-primary mb-0 text-center py-1"
                      v-text="'YOU SAVE '+_formatMoney(variant.save)"></p>
                    <div class="card-body p-3 p-lg-3 text-center">
                      <h4 class="text-primary mb-1" v-text="variant.public_title"></h4>
                      <h3 v-if="variant.each_month && variant.each_month != '0'" class="display-2 mb-3 mb-lg-4"
                        v-text="_formatMoney(variant.each_month)+'/'+funnel.choosePlan.filter"></h3>
                      <p class="mb-0"><b class="font-weight-bold">Total Price:</b> <span
                          v-text="_formatMoney(variant.price)"></span></p>
                      <p v-if="variant.public_title != null" class="mb-0" v-text="'Recurring '+variant.public_title">
                      </p>
                    </div>
                    <div class="card-footer p-3 p-lg-4 border-0 bg-transparent">
                      <a href="#" onclick="$(this).subscribeSelect3('vpv3');" @click.prevent="_selectedPlan(variant)"
                        class="btn btn-sm w-100 btn-outline-primary">Select</a>
                    </div>
                  </div>
                </div>
              </template>
            </div>
            <div class="text-center py-5">
              <h4 class="font-size-lg mb-2">All bouquets come with free overnight shipping</h4>
              <p class="mb-0">Plans auto-renew and may be cancelled at any time.</p>
            </div>
          </div>
        </div>
      </section>
    </template>

    <template v-if="!isPayment == false">
      <section class="pt-3 pb-7 funnelSection" data-product data-step="4">
        <div class="{% if section.settings.fluid_layout %}container-fluid{% else %}container{% endif %}">

          <form data-form-product :data-productid="funnel.choosePlan.id" action="/cart/add" method="post"
            enctype="multipart/form-data" class="" name="">
            <input type="hidden" name="id" :value="funnel.payment.id" :data-productid="funnel.choosePlan.id" />
            <input name="properties[subscription_id]" type="hidden" :value="funnel.choosePlan.subscription_id" />
            <input name="properties[shipping_interval_frequency]" type="hidden"
              :value="funnel.choosePlan.shipping_interval_frequency" />
            <input name="properties[shipping_interval_unit_type]" type="hidden"
              :value="funnel.choosePlan.shipping_interval_unit_type" />
            <input name="properties[charge_interval_frequency]" type="hidden"
              :value="funnel.payment.charge_interval_frequency" />
            <div class="text-center">
              <h2 class="mb-0">Order Review</h2>
            </div>
            <div class="position-relative py-6">
              <div class="go-back text-center text-md-left mb-0 mt-md-0 mt-3">
                <a href="#" @click.prevent="_prevStage($event, 4, 3)" class="mb-0 text-latoMedium text-gray-800"><i
                    class="ion-ios-arrow-back mr-2 font-size-lg"></i>GO BACK</a>
              </div>
              <div class="border-gray-400 border-bottom">
                <div class="row align-items-stretch">
                  <div class="col-12 col-lg-6">
                    <div class="row align-items-stretch">
                      <div class="col-12 col-sm-6 my-3">
                        <div class="card text-left border-0 shadow rounded-0 pt-4 h-100">
                          <div class="card-img product-img monthly-plans-img text-center border-0">
                            <img v-if="funnel.choosePlan.images[1]"
                              :src="_getSizedImageUrl(funnel.choosePlan.images[1], 'large')"
                              :alt="funnel.choosePlan.title" alt="" class="mw-100" />
                            <img v-else-if="funnel.choosePlan.featured_image"
                              :src="_getSizedImageUrl(funnel.choosePlan.featured_image, 'large')"
                              :alt="funnel.choosePlan.title" alt="" class="mw-100" />
                            <img v-else :src="_getSizedImageUrl(funnel.choosePlan.featured_image, '300x')"
                              :alt="funnel.choosePlan.title" alt="" class="mw-100" />
                          </div>
                          <div class="offer-tag right bg-gray-100 text-gray-400 p-2">
                            <a href="#" @click.prevent="_prevStage($event, 4, 2)"><img
                                src="https://cdn.shopify.com/s/files/1/0084/0617/1763/files/edite-icon.svg?10372617106714625492"
                                alt="" /></a>
                          </div>
                          <div class="card-body px-3 px-xl-5">
                            <div class="d-flex align-items-center justify-content-between">
                              <h4 class="mb-0 text-primary" v-text="funnel.choosePlan.title"></h4>
                              <p class="mb-0 font-size-lg" v-if="funnel.choosePlan.price == 0"
                                v-text="_formatMoney(funnel.choosePlan.price_max)+'/'+funnel.choosePlan.filter"></p>
                              <p class="mb-0 font-size-lg" v-else
                                v-text="_formatMoney(funnel.choosePlan.price)+'/'+funnel.choosePlan.filter"></p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-sm-6 my-3">
                        <div
                          class="card text-left border-0 shadow rounded-0 pt-4 h-100  d-flex align-items-center flex-row">
                          <div class="offer-tag right bg-gray-100 text-gray-400 p-2">
                            <a href="#" @click.prevent="_prevStage($event, 4, 3)"><img
                                src="https://cdn.shopify.com/s/files/1/0084/0617/1763/files/edite-icon.svg?10372617106714625492"
                                alt="" /></a>
                          </div>
                          <div class="card-body px-3 px-lg-4 text-center">
                            <h4 class="text-primary mb-1" v-text="funnel.payment.public_title"></h4>
                            <h3 v-if="funnel.payment.each_month && funnel.payment.each_month != '0'"
                              class="display-2 mb-4"
                              v-text="_formatMoney(funnel.payment.each_month)+'/'+funnel.choosePlan.filter"></h3>
                            <p class="mb-0"><b class="font-weight-bold">Total Price:</b>
                              <span v-if="funnel.choosePlan.price == '0'"
                                v-text="_formatMoney(funnel.payment.price_max)"></span>
                              <span v-else v-text="_formatMoney(funnel.payment.price)"></span>
                            </p>
                            <p v-if="funnel.payment.public_title != null" class="mb-5"
                              v-text="'Recurring '+funnel.payment.public_title"></p>
                            {% comment %} <div class="text-center">
                              <p class="font-size-lg mb-2 text-RobotoCondensed text-uppercase font-weight-normal">Your
                                first box will Arrive:</p>
                              <div class="mb-3 mb-md-0 date--picker">
                                <flat-pickr value="{{ cart.attributes.date }}" id="subScriptionDateConfig"
                                  :required="false" placeholder="Select Delivery Date" name="attributes[Delivery_Date]"
                                  ref="datePickerWrap" readonly class="form-control bg-white secondary-placeholder">
                                </flat-pickr>
                              </div>
                            </div> {% endcomment %}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-lg-6 my-4 my-lg-0">
                    <div class="border-left border-none-md border-gray-400 pl-lg-5 pl-xl-7 pb-5 pb-lg-7 ml-xl-5">
                      <div class="d-flex align-items-end mb-1">
                        <div class="d-flex align-items-center">
                          <div class="custom-checkbox">
                            <input type="checkbox" id="gift" name="properties[isGift]" data-gift
                              v-bind="{'checked': !isGiftcartForm}"
                              v-on:click="isGiftcartForm = !isGiftcartForm;_giftCartForm($event);" />
                            <label for="gift" class="mb-0">
                              <span class="mr-3 d-inline-block position-relative align-middle"></span>
                              <h4 class="display-3 mb-0 text-primary d-inline-block align-middle">Is This a gift?</h4>
                              <p class="mb-0 font-italic text-gray-500 d-inline-block align-bottom">Optional</p>
                            </label>
                          </div>
                        </div>

                      </div>
                      <div class="gift-details" data-giftForm :class="{'disabled': isGiftcartForm}">
                        <div class="form-row">
                          {% comment %} <div class="col-12 col-sm-6 py-3">
                            <input type="text" class="form-control secondary-placeholder" data-name-to
                              name="attributes[To]" placeholder="To" :class="{'disabled': isGiftcartForm}"
                              v-bind="{'required': !isGiftcartForm}">
                          </div>
                          <div class="col-12 col-sm-6 py-3">
                            <input type="text" class="form-control secondary-placeholder" data-name-from
                              name="attributes[From]" placeholder="From" :class="{'disabled': isGiftcartForm}"
                              v-bind="{'required': !isGiftcartForm}">
                          </div> {% endcomment %}
                          <div class="col-12 py-3">
                            <textarea rows="6" class="form-control secondary-placeholder" maxlength="280"
                              data-name-message name="attributes[Gift_Message]" placeholder="Gift Message"
                              :class="{'disabled': isGiftcartForm}" v-bind="{'required': !isGiftcartForm}"></textarea>
                          </div>
                          <div class="col-12 py-3 custom-checkbox">
                            <input type="checkbox" id="GiftAutoRenew" v-on:click="_giftCartAutoRenew($event)"
                              class="form-control secondary-placeholder" value="once" name="properties[gift_renew]"
                              :class="{'disabled': isGiftcartForm}">
                            <label for="GiftAutoRenew" class="mb-0 pl-4">
                              <span class="d-inline-block align-middle position-absolute l-0 t-10"></span>
                              This will make your gift subscription auto-renew.<small class="text-gray-500">(Can cancel
                                if needed)</small>
                            </label>
                          </div>
                        </div>
                        <div class="mt-4 text-center text-sm-left">
                          <h5>Gifting Faq’s</h5>
                          <div class="row align-items-start">
                            <div class="col-12 col-sm-7">
                              <p class="mb-0 font-size-sm font-weight-bold">Sending your gift directly to the recipient?
                              </p>
                              <p class="mb-0 font-size-sm">Fill in recipient address during checkout.</p>
                            </div>
                            <div class="col-12 col-sm-5 mt-3 mt-sm-0">
                              <p class="mb-0 font-size-sm font-weight-bold">Sending gifts to multiple people?</p>
                              <p class="mb-0 font-size-sm">Please place a separate order for each address.</p>
                            </div>
                          </div>
                          <p class="mb-0 font-size-sm font-weight-normal">Need Help? <a href="/pages/contact"
                              class="text-primary"><u>Contact Us</u></a></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <p v-show="isGiftMsg" class="text-danger text-right">Please enter a gift message to continue</p>
            <div class="d-flex align-items-center justify-content-end pb-3">
              <h3 class="subtotal-text px-3 mb-0">Subtotal: <span class="font-weight-light"
                  v-if="funnel.choosePlan.price == '0'" v-text="_formatMoney(funnel.payment.price_max)"></span>
                <span class="font-weight-light" v-else v-text="_formatMoney(funnel.payment.price)"></span>
              </h3>
              {% comment %} <a href="#" class=" btn-primary">Checkout</a> {% endcomment %}
              <div class="col-4 col-md-5 mb-3 quantity-column d-none">
                <div class="quantity-wrapper" data-qty-container>
                  <label for="Quantity">{{ 'products.product.quantity' | t }}</label>
                  <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <a href="#" class="btn-decrease" data-qty-decrease @click.prevent="_updateQty($event)"
                          rel="nofollow" aria-label="Decrease" title="Decrease"><i class="icon ion-md-remove"></i></a>
                      </span>
                    </div>
                    <input type="number" name="quantity" value="1" step="1" min="1" pattern="[0-9]*" inputmode="numeric"
                      data-qty-input class="quantity form-control text-center">
                    <div class="input-group-append">
                      <span class="input-group-text">
                        <a href="#" class="btn-increase" data-qty-increase @click.prevent="_updateQty($event)"
                          rel="nofollow" aria-label="Increase" title="Increase"><i class="icon ion-md-add"></i></a>
                      </span>
                    </div>
                  </div>
                </div>
              </div>

              <button class="btn px-lg-8 btn-primary" type="submit" name="add"
                onclick="$(this).subscribeSelect4('vpv4');" :disabled="!funnel.payment.available"
                @click.prevent="_addToCartSubscription($event, funnel.payment.id)">
                <template v-if="isLoading && loadingEvent == 'cartAdding'">
                  <i class="icon ion-md-refresh spin"></i> {{ 'general.wait' | t }}
                </template>
                <template v-else>
                  <span v-if="funnel.payment.available">
                    Checkout
                  </span>
                  <span v-else>
                    {{ 'products.product.sold_out' | t }}
                  </span>
                </template>
              </button>
            </div>
            <p class="mb-0 text-gray-600 text-right">Shipping &amp; tax are applied during checkout.</p>
          </form>
        </div>
      </section>
    </template>

  </div>
</div>






{% for block in section.blocks %}
{% assign blockCol = block.settings.collection %}
{% assign collection = collections[blockCol] %}
<script type="application/json" data-collection-subscribe-json id="collection_{{ collection.handle | escape }}">
        {{ collection | json }}
    </script>
<script type="application/json" data-product-subscribe-json id="{{ collection.handle | escape }}">
        {{ collection.products | json }}
    </script>
{% for product in collections[blockCol].products %}
{% if product.metafields.global.description_tag != blank %}
<script type="application/json" data-{{product.handle}}-json>
            {{ product.metafields.global.description_tag }}
        </script>
{% endif %}
<script type="application/json"
  data-{{product.handle}}-subscribe-json>[{ {% for field in product.metafields.subscriptions %}"{{ field | first }}": "{{ field | last }}"{% unless forloop.last %},{% endunless %}{% endfor %} }]</script>
{% for variant in product.variants %}
{% if variant.metafields.subscription.charge_interval_frequency != blank %}
<script type="application/json" data-{{variant.id}}-charge-frq-json>
                    {{ variant.metafields.subscription.charge_interval_frequency | json }}
                </script>
{% endif %}
{% if variant.metafields.subscription.is_hidden != blank %}
<script type="application/json" data-{{variant.id}}-visible-json>
                    {{ variant.metafields.subscription.is_hidden }}
                </script>
{%- endif %}
{% endfor %}
{% endfor %}
{% endfor %}
{% schema %}
{
"name": "Subscribe",
"settings": [
{
"type": "header",
"content": "Layout"
},
{
"type": "checkbox",
"id": "fluid_layout",
"label": "Full Width Layout?",
"default": false
},
{
"type": "header",
"content": "Funnel Navigation"
},
{
"type": "paragraph",
"content": "First Funnel"
},
{
"type": "text",
"id": "flow_text_1",
"label": "Text"
},
{
"type": "text",
"id": "flow_text_title",
"label": "Heading"
},
{
"type": "text",
"id": "flow_text_sub_title",
"label": "SubHeading"
},
{
"type": "text",
"id": "flow_text_lead",
"label": "Content"
},
{
"type": "paragraph",
"content": "Second Funnel"
},
{
"type": "text",
"id": "flow_text_2",
"label": "Text"
},
{
"type": "paragraph",
"content": "Third Funnel"
},
{
"type": "text",
"id": "flow_text_3",
"label": "Text"
},
{
"type": "paragraph",
"content": "Martha Roses"
},
{
"type": "page",
"id": "Martha_page",
"label": "Select Martha"
}
],
"blocks": [
{
"type": "pick_plan",
"name": "Pick Your Plan",
"limit": 2,
"settings": [
{
"type": "image_picker",
"id": "image",
"label": "Select Image"
},
{
"type": "text",
"id": "title",
"label": "Title"
},
{
"type": "collection",
"id": "collection",
"label": "Collection"
},
{
"type": "url",
"id": "link",
"label": "Link"
}
]
}
]
}
{% endschema %}