{% assign template_type = section.settings.template_type %}

<section data-section-id="{{ section.id }}"  class="py-7 custom-height d-flex align-items-center">

    <div class="{% if section.settings.fluid_layout %}container-fluid{% else %}container{% endif %}">
      <div class="row">
        <div class="col-12 text-center">
            <h2 class="mb-6">{{ 'cart.general.title' | t }}</h2>
        </div>
      </div>
      {% if cart.item_count > 0 %}
      <div id="productItemListing">
        {% include 'block-cart-promo-products' %}
        {% case template_type %}
          {% when 'modern' %}
            {% include 'template-cart-modern' %}
          {% else %}
            {% include 'template-cart-classic' %}
        {% endcase %}
      </div>
        <div class="row py-0 d-none emptyCartItem">
            <div class="col-12 text-center">
                <p class="lead">{{ 'cart.general.empty' | t }}</p>
                <a href="/collections" class="btn btn-primary btn-lg">{{ 'cart.general.continue_browsing' | t }}</a>
            </div>
        </div>
      {% else %}
        <div class="row">
          <div class="col-12 text-center">
            <p class="lead">{{ 'cart.general.empty' | t }}</p>
            <a href="/collections" class="btn btn-primary text-uppercase">{{ 'cart.general.continue_browsing' | t }} <i class="icon ion-md-arrow-forward"></i></a>
          </div>
        </div>
      {% endif %}
  </div>

  {% for block in section.blocks %}
    {% case block.type %}

    {% when 'shipping-calculator' %}
      {% if block.settings.enable_shipping_calculator and cart.item_count > 0 %}
        {% include 'block-shipping-calculator' %}
      {% endif %}
    {% endcase %}
  {% endfor %}

</section>


<script type="application/json" data-cart-promos-json>
{
  "promoProducts": [
    {% for block in section.blocks %}
      {% case block.type %}
      {% when 'gwp-default' %}
        {% assign promo = all_products[block.settings.product_gwp] %}
        {
          "id": {{ promo.id }},
          "handle": "{{ promo.handle }}",
          "title": "{{ promo.title }}",
          "price": "{{ promo.price }}",
          "featuredImage": "{{ promo.featured_image | img_url: '600x' }}",
          "mode": "{{ block.settings.gwp_mode }}",
          "teaser": {{ block.settings.gwp_teaser_enabled }},
          "qualifier": "{{ block.settings.gwp_qualifier }}",
          "qualifierAmount": "{{ block.settings.gwp_qualifier_minimum_cart_amount }}",
          "urlEnablerCode": "{{ block.settings.gwp_url_enabler_code }}",
          "customMessage": "{{ block.settings.gwp_custom_message }}",
          "isVisible": true,
          "isInCart": false,
          "isTeaserEnabled": false
        }{% unless forloop.last %},{% endunless %}
      {% endcase %}
    {% endfor %}
  ]
}
</script>


{% schema %}
  {
    "name": "Cart Template",
    "settings": [
      {
        "type": "header",
        "content": "Template"
      },
      {
        "type": "select",
        "id": "template_type",
        "label": "Template Type",
        "options": [{
            "value": "classic",
            "label": "Classic"
          },
          {
            "value": "modern",
            "label": "Modern"
          }
        ],
        "default": "classic"
      },
      {
        "type": "paragraph",
        "content": "Classic: Table view."
      },
      {
        "type": "paragraph",
        "content": "Modern: With product cards."
      },
      {
        "type": "header",
        "content": "Layout"
      },
      {
        "type": "checkbox",
        "id": "fluid_layout",
        "label": "Full Width Layout?",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_back_btn",
        "label": "Show Back to Shop Button?"
      },
      {
        "type": "checkbox",
        "id": "enable_cart_notes",
        "label": "Show Cart Notes?"
      },
      {
        "type": "checkbox",
        "id": "enable_delivery_date_selection",
        "label": "Show Delivery Date Selection?"
      }
    ],
    "blocks": [
      {
        "type": "shipping-calculator",
        "name": "Shipping Calculator",
        "limit": 1,
        "settings": [
          {
            "type": "header",
            "content": "Layout"
          },
          {
            "type": "checkbox",
            "id": "enable_shipping_calculator",
            "label": "Enabled?",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "shipping_calculator_fluid_layout",
            "label": "Full Width Layout?",
            "default": false
          },
          {
            "type": "checkbox",
            "id": "shipping_calculator_section_padding",
            "label": "Section Padding?",
            "default": true
          },
          {
            "type": "header",
            "content": "Content"
          },
          {
            "type": "text",
            "id": "shipping_calculator_heading_txt",
            "label": "Heading text",
            "default": "Get shipping estimates"
          },
          {
            "type": "text",
            "id": "shipping_calculator_submit_button_label",
            "label": "Submit button label",
            "default": "Calculate shipping"
          },
          {
            "type": "text",
            "id": "shipping_calculator_submit_button_label_busy",
            "label": "Submit button label when calculating",
            "default": "Calculating..."
          },
          {
            "type": "header",
            "content": "Styling"
          },
          {
            "type": "color",
            "id": "shipping_calculator_section_bg_color",
            "label": "Background Color",
            "default": "#FFFFFF"
          },
          {
            "type": "color",
            "id": "shipping_calculator_section_txt_color",
            "label": "Text Color",
            "default": "#343a40"
          }
        ]
      },
      {
        "type": "gwp-default",
        "name": "Gift With Purchase",
        "limit": 5,
        "settings": [
          {
            "type": "header",
            "content": "Settings"
          },
          {
            "type": "checkbox",
            "id": "enable_gwp",
            "label": "Enabled?",
            "default": false
          },
          {
            "type": "select",
            "id": "gwp_mode",
            "label": "Select Add Method",
            "info": "Whether to show the 'Add to Cart' button (manually) or add the product automatically on page load when the conditions are met (automatically).",
            "options": [{
                "value": "auto",
                "label": "Automatically: On page load"
              },
              {
                "value": "manual",
                "label": "Manually: Let the user decide"
              }
            ],
            "default": "manual"
          },
          {
            "type": "text",
            "id": "gwp_url_enabler_code",
            "label": "URL Enabler Code",
            "info": "Keyword that will be used as a query string in the URL as an additional condition whether to show this offer. This is useful in case you want to hide the GWP for all users but enable it only for those that hold the specific URL with this code. Example: if you use the 'FREEGIFT' code, a query string 'gwp_enabler_code=FREEGIFT' will be added to the URL. Leave this field empty to cancel this functionality."
          },
          {
            "type": "header",
            "content": "Product"
          },
          {
             "type": "product",
             "id": "product_gwp",
             "label": "Select Gift Product"
          },
          {
            "type": "header",
            "content": "Rules"
          },
          {
            "type": "select",
            "id": "gwp_qualifier",
            "label": "Select Qualifier",
            "options": [{
                "value": "all_carts",
                "label": "All Carts"
              },
              {
                "value": "minimum_cart_amount",
                "label": "Minimum Cart Amount"
              }
            ],
            "default": "all_carts"
          },
          {
            "type": "header",
            "content": "Qualifier Settings"
          },
          {
            "type": "paragraph",
            "content": "These settings are valid only if qualifier setting above is set to 'Minimum Cart Amount"
          },
          {
            "type": "text",
            "id": "gwp_qualifier_minimum_cart_amount",
            "label": "Set Min. Cart Amount",
            "info": "E.g. 100.00"
          },
          {
            "type": "checkbox",
            "id": "gwp_teaser_enabled",
            "label": "Show Promo Upsell?",
            "default": false,
            "info": "Promo product is visible with a message notifying users that if they add to the cart the remaining amount between the cart total and the qualifier set above, the order will be eligible for the gift product."
          },
          {
            "type": "header",
            "content": "Content"
          },
          {
            "type": "html",
            "id": "gwp_custom_message",
            "label": "Custom Message",
            "default": "Your order qualifies for a Free Gift!"
          }
        ]
      }
    ]
  }
{% endschema %}
