<section data-section-id="{{ section.id }}">

  <div class="section-content">
    <div class="{% if section.settings.fluid_layout %}container-fluid{% else %}container{% endif %}">

      {% if section.settings.heading_txt != '' %}
      <div class="row">
        <div class="col-12 text-center">
          <h1 class="mb-4">{{ section.settings.heading_txt }}</h1>
          <p class="lead mt-5 px-lg-6">
          </p>
        </div>
      </div>
      {% endif %}

      <div class="row">
        <div class="col-lg-7 mb-4">
          <div class="rte mb-3">
            {{page.content}}
          </div>
          {% comment %}{% form 'contact' %}

            {% if form.posted_successfully? %}
              <div class="alert alert-success">
                {{ 'contact.form.post_success' | t }}
              </div>
            {% endif %}

            {% if form.errors %}
              <div class="alert alert-warning">
                  {{ form.errors | default_errors }}
              </div>
            {% endif %}

            <div class="form-group input-group">
              <div class="input-group-prepend">
                <label class="input-group-text" for="contactFormName"><i class="icon ion-md-person"></i></label>
              </div>
              <input type="text"
                name="contact[name]"
                id="contactFormName"
                class="form-control"
                placeholder="{{ 'contact.form.name' | t }}"
                value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}"
                required>
            </div>


            <div class="form-group form-row">

              <div class="col-12 col-md-6 mb-3 mb-md-0">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="contactFormEmail"><i class="icon ion-md-mail"></i></label>
                  </div>
                  <input type="email"
                    name="contact[email]"
                    id="contactFormEmail"
                    class="form-control"
                    placeholder="{{ 'contact.form.email' | t }}"
                    value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                    spellcheck="false"
                    autocomplete="off"
                    autocapitalize="off"
                    required>
                  </div>
              </div>

              <div class="col-12 col-md-6">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="contactFormPhone"><i class="icon ion-md-call"></i></label>
                  </div>
                  <input type="tel"
                    name="contact[phone]"
                    id="contactFormPhone"
                    class="form-control"
                    placeholder="{{ 'contact.form.phone' | t }}"
                    value="{% if form[phone] %}{{ form[phone] }}{% elsif customer %}{{ customer.phone }}{% endif %}"
                    pattern="[0-9\-]*">
                  </div>
              </div>
            </div>

            <div class="form-group">
              <textarea
                rows="10"
                name="contact[body]"
                id="contactFormMessage"
                class="form-control"
                placeholder="{{ 'contact.form.message' | t }}"
                required>
                {% if form.body %}
                  {{ form.body }}
                {% endif %}
              </textarea>
            </div>

            <input type="submit" class="btn btn-primary btn-block" value="{{ 'contact.form.send' | t }}">

          {% endform %}{% endcomment %}
          <div style="margin:0 auto;" class="pxFormGenerator" id="c02fmkYF5u9jXjEiM8aHbQ"></div>
        </div>
        <div class="col-lg-4 ml-auto">
          {% for block in section.blocks %}
            {% if block.settings.enable_block %}
              <div id="block-{{ block.id }}" class="contact-block col-md d-flex align-items-left justify-content-left text-left" style="background: {{ block.settings.block_bg_color }}; color: {{ block.settings.block_txt_color }}">
                <div class="inner pb-4">
                  <i class="{{ block.settings.icon_class }} display-3"></i>
                  <h4>{{ block.settings.heading }}</h4>
                  <div class="my-0">{{ block.settings.txt }}</div>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

</section>


{% schema %}
  {
    "name": "Contact Template",
    "max_blocks": 5,
    "settings": [
      {
        "type": "header",
        "content": "Layout"
      },
      {
        "type": "checkbox",
        "id": "fluid_layout",
        "label": "Full Width Layout?",
        "default": false
      },
      {
        "type": "header",
        "content": "Content"
      },
      {
        "type": "text",
        "id": "heading_txt",
        "label": "Contact Form Heading Text"
      }
    ],
    "blocks": [
      {
        "type": "content",
        "name": "Contact Block",
        "settings": [
          {
            "type": "checkbox",
            "id": "enable_block",
            "label": "Enabled?",
            "default": true
          },
          {
            "type": "color",
            "id": "block_bg_color",
            "label": "Background Color",
            "default": "#e9ecef"
          },
          {
            "type": "color",
            "id": "block_txt_color",
            "label": "Text Color",
            "default": "#222222"
          },
          {
            "type": "text",
            "id": "icon_class",
            "label": "Icon Class"
          },
          {
            "type": "text",
            "id": "heading",
            "label": "Heading"
          },
          {
            "type": "richtext",
            "id": "txt",
            "label": "Text"
          }
        ]
      }
    ]
  }
{% endschema %}
