{% assign items_per_page = section.settings.items_per_page %}
{% assign filters_enabled = section.settings.enable_filters %}
{% assign filters_type = section.settings.filters_type %}
{% assign sidebar_is_sticky = section.settings.sidebar_is_sticky %}
{% assign filters_ajaxed = section.settings.filters_ajaxed %}
{% assign product_card_type = section.settings.product_card_type %}
{% assign pagination_type = section.settings.pagination_type %}


<div data-section-id="{{ section.id }}" data-collection data-filters-ajaxed="{% if filters_enabled and filters_ajaxed %}true{% else %}false{% endif %}">

    {% unless template.suffix != 'banner-1' %}

    <div class="coll-banner position-relative" style="background: url({% if section.settings.choose_banner != blank %}{{section.settings.choose_banner | img_url: 'original'}}{% else %}{{'default-banner.png'| file_img_url:'1024x1024'}}{% endif %});" data-coll-banner>
      <div class="banner-caption position-absolute w-100">
      <div class="{% if section.settings.fluid_layout %}container-fluid{% else %}container{% endif %}">
        <div class="text-center">
            <div class="fancy-heading active">
                <h1 class="page-title mb-0" data-coll-title data-current-coll="{{ collection.title }}">{{ collection.title }}</h1>
                <h3 class="text-muted mt-3">{{ collection.description }}</h3>
            </div>
        </div>
      </div>
      </div>
    </div>
    {% endunless %}

  {% if  section.settings.template_type == "grid" %}
  {% include "template-collection-grid" %}
  {% elsif section.settings.template_type == "list" %}
  {% include "template-collection-list" %}
  {% endif %}
</div>



{% schema %}
  {
    "name": "Collection Template",
    "settings": [
      {
          "type": "header",
          "content": "Banner"
      },
      {
          "type": "image_picker",
          "id": "choose_banner",
          "label": "Choose Banner"
      },
      {
        "type": "header",
        "content": "Template"
      },
      {
        "type": "select",
        "id": "template_type",
        "label": "Template Type",
        "options": [
          {
            "value": "grid",
            "label": "Grid"
          }
        ],
        "default": "grid"
      },
      {
        "type": "header",
        "content": "Layout"
      },
      {
        "type": "checkbox",
        "id": "fluid_layout",
        "label": "Full Width Layout?",
        "default": false
      },
      {
        "type": "select",
        "id": "product_card_type",
        "label": "Product Card Type",
        "options": [
          {
            "value": "type_1",
            "label": "Type 1 (simple)"
          },
          {
            "value": "type_2",
            "label": "Type 2 (with color swatches)"
          }
        ],
        "default": "type_1"
      },
      {
        "type": "range",
        "id": "items_per_page",
        "label": "Products Per Page",
        "min": 1,
        "max": 50,
        "step":1,
        "default": 12
      },
      {
        "type": "header",
        "content": "Filter Settings"
      },
      {
        "type": "checkbox",
        "id": "enable_filters",
        "label": "Enable Filters?",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "filters_ajaxed",
        "label": "Ajax Filters?",
        "default": false
      },
      {
        "type": "select",
        "id": "filters_type",
        "label": "Filters Layout",
        "options": [{
            "value": "sidebar",
            "label": "Sidebar"
          }
        ],
        "default": "sidebar"
      },
      {
        "type": "checkbox",
        "id": "sidebar_is_sticky",
        "label": "Sticky Sidebar?",
        "default": false
      },
      {
        "type": "select",
        "id": "pagination_type",
        "label": "Pagination Type (only for ajaxed filters)",
        "options": [{
            "value": "page_numbers",
            "label": "Page Numbers"
          },
          {
            "value": "load_more",
            "label": "Load More"
          }
        ],
        "default": "page_numbers"
      },
      {
        "type": "paragraph",
        "content": "Use the section below to add and customize the filters."
      }
    ],
    "blocks": [
      {
        "type": "collections-filter",
        "name": "Collections Filter",
        "limit": 5,
        "settings": [
          {
            "type": "checkbox",
            "id": "enable_collections_filter",
            "label": "Enable Filter?",
            "default": false
          },
          {
            "type": "text",
            "id": "collections_filter_title",
            "label": "Title",
            "default": "Collections"
          },
          {
            "type": "link_list",
            "id": "collection_link_list",
            "label": "Select Collection Menu"
          }
        ]
      },
      {
        "type": "colors-filter",
        "name": "Colors Filter",
        "limit": 1,
        "settings": [
          {
            "type": "checkbox",
            "id": "enable_colors_filter",
            "label": "Enable Filter?",
            "default": true
          },
          {
            "type": "text",
            "id": "colors_filter_title",
            "label": "Title",
            "default": "Colors"
          },
          {
          "type": "textarea",
          "id": "colors_list",
          "label": "List of Colors",
          "info": "List of colors with name and hex code (e.g. red: #ff0000). Each entry must be on a new line. You can also custom images for complex colors (e.g. gradient: gradient.png). Images must be uploaded to assets folder and have the same name as being referenced to this list."
          }
        ]
      },
      {
        "type": "prices-filter",
        "name": "Prices Filter",
        "limit": 1,
        "settings": [
          {
            "type": "checkbox",
            "id": "enable_prices_filter",
            "label": "Enable Filter?",
            "default": true
          },
          {
            "type": "text",
            "id": "prices_filter_title",
            "label": "Title",
            "default": "Price Range"
          },
          {
          "type": "textarea",
          "id": "prices_list",
          "label": "List of Price Ranges",
          "info": "List of price ranges (e.g. 0-100). Each entry must be on a new line."
          }
        ]
      },
      {
        "type": "tags-filter",
        "name": "Tags Filter",
        "limit": 5,
        "settings": [
          {
            "type": "checkbox",
            "id": "enable_tags_filter",
            "label": "Enable Filter?",
            "default": true
          },
          {
            "type": "text",
            "id": "tags_filter_title",
            "label": "Title",
            "default": "Tags"
          },
          {
          "type": "textarea",
          "id": "tags_list",
          "label": "List of Tags",
          "info": "List of tags. Each entry must be on a new line."
          }
        ]
      }
    ]
  }
{% endschema %}
