<div class="form-row align-items-stretch justify-content-center">
    {% for block in section.blocks %}
        {% assign blockCol = block.settings.collection %}
        {% assign collection = collections[blockCol] %}
        {% if collection.handle contains 'monthly' %}
        <div class="col-12 col-sm-9 col-md-5 my-2 my-md-0" data-month-ele>
            <div class="mission-selector mx-lg-2 h-100" :class="{'active': rechargeDashbord.selectProduct.selectedPlan == 'month'}">
                <input type="radio" id="{{ collection.handle }}" v-bind="{'checked': rechargeDashbord.selectProduct.selectedPlan == 'month'}" @change="_changePlan($event,'month')" value="month" name="plan" class="d-none" data-pickplan/>
                <label class="mb-0 w-100" for="{{ collection.handle }}">
                    <div class="text-center product-detail-box p-3">
                        <h4 class="mb-4">{{ collection.title }}</h4>
                        <div class="product-image">
                            <img src="{{ block.settings.image | img_url:'400x' }}" alt="{{ block.settings.title }}" />
                        </div>
                        <div class="d-flex align-items-center justify-content-center justify-content-md-start mb-3 plan-details">
                            <h6 class="text-gray-700 mb-0">Plan:</h6>
                            <select name="month" class="custom-select text-lato font-weight-bold" @change="_chooseSubscriptionPlan($event,'monthly')" data-product>
                                <option :value="product.id" v-text="product.title" :data-index="index" v-if="product.available == true"  v-for="(product, index) in rechargeDashbord.products.monthly"></option>
                            </select>
                        </div>
                        <div class="d-flex align-items-center justify-content-center justify-content-md-start mb-3 plan-details">
                            <h6 class="text-gray-700 mb-0">Payment:</h6>
                            <select name="month_var" class="custom-select text-lato font-weight-bold"  @change="_chooseSubscriptionVariantPlan($event)" data-variant>
                                <option :value="variant.id"  v-text="variant.title" :data-var-index="index" v-if="variant.is_hidden != true" v-for="(variant, index) in rechargeDashbord.currentProduct.monthly.variants"></option>
                            </select>
                        </div>
                    </div>
                </label>
            </div>
        </div>
        {% endif %} 
        {% if collection.handle contains 'weekly' %}
        <div class="col-12 col-sm-9 col-md-5 my-2 my-md-0">
            <div class="mission-selector mx-lg-2 h-100" data-week-ele :class="{'active': rechargeDashbord.selectProduct.selectedPlan == 'week'}">
                <input type="radio" id="{{ collection.handle }}" v-bind="{'checked': rechargeDashbord.selectProduct.selectedPlan == 'week'}" @change="_changePlan($event,'week')" value="week" name="plan" class="d-none" data-pickplan/>
                <label class="mb-0 w-100" for="{{ collection.handle }}">
                    <div class="text-center product-detail-box p-3">
                        <h4 class="mb-4">{{ collection.title }}</h4>
                        <div class="product-image">
                            <img src="{{ block.settings.image | img_url:'400x' }}" alt="{{ block.settings.title }}" />
                        </div>
                        <div class="d-flex align-items-center justify-content-center justify-content-md-start mb-3 plan-details">
                            <h6 class="text-gray-700 mb-0">Plan:</h6>
                            <select name="week" class="custom-select text-lato font-weight-bold" @change="_chooseSubscriptionPlan($event,'weekly')" data-product>
                                <option :value="product.id" v-text="product.title" :data-index="index" v-if="product.available == true"  v-for="(product, index) in rechargeDashbord.products.weekly"></option>
                            </select>
                        </div>
                        <div class="d-flex align-items-center justify-content-center justify-content-md-start mb-3 plan-details">
                            <h6 class="text-gray-700 mb-0">Payment:</h6>
                            <select name="week_var" class="custom-select text-lato font-weight-bold"  @change="_chooseSubscriptionVariantPlan($event)" data-variant>
                                <option :value="variant.id" v-text="variant.title" :data-var-index="index" v-if="variant.is_hidden != true" v-for="(variant, index) in rechargeDashbord.currentProduct.weekly.variants"></option>
                            </select>
                        </div>
                    </div>
                </label>
            </div>
        </div>
        {% endif %}
            
    {% endfor %}
</div>

{% for block in section.blocks %}
    {% assign blockCol = block.settings.collection %}
    {% assign collection = collections[blockCol] %}

    <script type="application/json" data-product-subscribe-json id="{{ collection.handle | escape }}">
        {{ collection.products | json }}
    </script>
    {% for product in collections[blockCol].products %}
        {% if product.metafields.global.description_tag != blank %}
        <script type="application/json" data-{{product.handle}}-json>
            {{ product.metafields.global.description_tag }}
        </script>
        {% endif %}
        <script type="application/json" data-{{product.handle}}-subscribe-json>[{ {% for field in product.metafields.subscriptions %}"{{ field | first }}": "{{ field | last }}"{% unless forloop.last %},{% endunless %}{% endfor %} }]</script>
        {% for variant in product.variants %}
            {% if variant.metafields.subscription.charge_interval_frequency != blank %}
                <script type="application/json" data-{{variant.id}}-charge-frq-json>
                    {{ variant.metafields.subscription.charge_interval_frequency | json }}
                </script>
            {% endif %}
            {% if variant.metafields.subscription.is_hidden != blank %}
                <script type="application/json" data-{{variant.id}}-visible-json>
                    {{ variant.metafields.subscription.is_hidden }}
                </script>
            {%- endif %}
        {% endfor %}
    {% endfor %}
{% endfor %}
{% schema %}
{
  "name": "Subscribe",
  "settings": [
    
  ],
  "blocks": [
    {
      "type": "pick_plan",
      "name": "Pick Your Plan",
      "limit": 2,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Select Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        }
      ]
    }
  ]
}
{% endschema %}
