/**
 * Insert your styles with Liquid below.
 *
 */
 #sitePreloader{
   display: block;
   position: fixed;
   z-index: 1070;
   width: 100%;
   height: 100%;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   background: #fff;
   transition: all 0.2s linear;

   &.is-hidden{
     opacity: 0;
     visibility: hidden;
   }
 }

// Password strength meter background image
 .pass-colorbar {
   background-image: url('{{ "passwordstrength.jpg" | asset_url }}');
 }
