<!DOCTYPE html>
<html lang="{{ shop.locale }}">
<head> 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1, initial-scale=1, shrink-to-fit=no, user-scalable=0">
  <meta name="theme-color" content="">
  <link rel="canonical" href="{{ canonical_url }}">
  <meta http-equiv="Access-Control-Allow-Origin" content="*">
  {% include 'header-analytics-script' %}

  {% if settings.favicon_image != blank %}<link rel="shortcut icon" href="{{ settings.favicon_image | img_url: '32x32' }}" type="image/png">{% endif %}

  {% capture seo_title %}
    {{ page_title }}
    {% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}
    {% if current_page != 1 %}&ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}
    {% unless page_title contains shop.name %}&ndash; {{ shop.name }}{% endunless %}
  {% endcapture %}

  <title data-site-title>{{ seo_title }}</title>
  <meta name="description" content="{{ page_description | escape }}">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paymentfont/1.2.5/css/paymentfont.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.1.2/css/ionicons.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

  {% include 'style-tags', layout: 'theme' %}
  {% include 'social-meta-tags' %}
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script>
  function loadJS(u){var r = document.getElementsByTagName("script")[0], s = document.createElement("script");s.src = u;r.parentNode.insertBefore(s, r);}

  if(!window.HTMLPictureElement){
      document.createElement('picture');
      loadJS("https://cdn.jsdelivr.net/g/respimage(respimage.min.js+plugins/mutation/ri.mutation.min.js+plugins/intrinsic-dimension/ri.intrinsic.min.js+plugins/typesupport/ri.type.min.js)");
  }
  </script>
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900" rel="stylesheet">
  <style>
    @font-face {
      font-family: 'latoMedium';
      src: url('{{ "latoMedium.eot" | asset_url }}');
      src: url('{{ "latoMedium.eot?#iefix" | asset_url }}') format('embedded-opentype'),
           url('{{ "latoMedium.woff" | asset_url }}') format('woff'),
           url('{{ "latoMedium.ttf" | asset_url }}') format('truetype'),
           url('{{ "latoMedium.svg#Lato-Medium" | asset_url }}') format('svg');
      font-weight: normal;
      font-style: normal;
    }
    @font-face {
      font-family: 'times_new_romanregular';
      src: url('{{ "times-new-roman-webfont.eot" | asset_url }}');
      src: url('{{ "times-new-roman-webfont.eot?#iefix" | asset_url }}') format('embedded-opentype'),
        url('{{ "times-new-roman-webfont.woff2" | asset_url }}') format('woff2'),
        url('{{ "times-new-roman-webfont.woff" | asset_url }}') format('woff'),
        url('{{ "times-new-roman-webfont.svg#times_new_romanregular" | asset_url }}') format('svg');
      font-weight: normal;
      font-style: normal;
    }

    @font-face {
        font-family: 'times_new_romanbold';
        src: url('{{ "times-new-roman-grassetto-webfont.eot" | asset_url }}');
        src: url('{{ "times-new-roman-grassetto-webfont.eot?#iefix" | asset_url }}') format('embedded-opentype'),
            url('{{ "times-new-roman-grassetto-webfont.woff2" | asset_url }}') format('woff2'),
            url('{{ "times-new-roman-grassetto-webfont.woff" | asset_url }}') format('woff'),
            url('{{ "times-new-roman-grassetto-webfont.svg#times_new_romanbold" | asset_url }}') format('svg');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'gotham_medium';
        src: url('{{ "gotham-medium.eot" | asset_url }}');
        src: url('{{ "gotham-medium.eot?#iefix" | asset_url }}') format('embedded-opentype'),
            url('{{ "gotham-medium.woff2" | asset_url }}') format('woff2'),
            url('{{ "gotham-medium.woff" | asset_url }}') format('woff'),
            url('{{ "gotham-medium.ttf" | asset_url }}') format('truetype'),
            url('{{ "gotham-medium.svg#gotham_mediumregular" | asset_url }}') format('svg');
        font-weight: normal;
        font-style: normal;
    }
    
    @font-face {
    font-family: 'millerdisplayitalic';
    src: url('{{ "miller_display_italic.eot" | asset_url }}');
    src: url('{{ "miller_display_italic.eot?#iefix" | asset_url }}') format('embedded-opentype'),
        url('{{ "miller_display_italic.woff2" | asset_url }}') format('woff2'),
        url('{{ "miller_display_italic.woff" | asset_url }}') format('woff'),
        url('{{ "miller_display_italic.ttf" | asset_url }}') format('truetype'),
        url('{{ "miller_display_italic.svg#millerdisplayitalic" | asset_url }}') format('svg');
    font-weight: normal;
    font-style: normal;
    }

    @font-face {
    font-family: 'millerdisplay';
    src: url('{{ "miller_display_regular.woff2" | asset_url }}') format('woff2'),
        url('{{ "miller_display_regular.woff" | asset_url }}') format('woff'),
        url('{{ "miller_display_regular.ttf" | asset_url }}') format('truetype'),
        url('{{ "miller_display_regular.svg#millerdisplay" | asset_url }}') format('svg');
    font-weight: normal;
    font-style: normal;

    }

    @font-face {
      font-family: 'MillerDisplay';
      src: url('{{ "MillerDisplay-SemiBold.eot" | asset_url }}');
      src: url('{{ "MillerDisplay-SemiBold.eot?#iefix" | asset_url }}') format('embedded-opentype'),
          url('{{ "MillerDisplay-SemiBold.woff2" | asset_url }}') format('woff2'),
          url('{{ "MillerDisplay-SemiBold.woff" | asset_url }}') format('woff'),
          url('{{ "MillerDisplay-SemiBold.ttf" | asset_url }}') format('truetype');
      font-weight: 600;
      font-style: normal;
  }


    @font-face {
    font-family: 'tradegothic';
    src: url('{{ "tradegothic-boldcondtwenty.eot" | asset_url }}');
    src: url('{{ "tradegothic-boldcondtwenty.eot?#iefix" | asset_url }}') format('embedded-opentype'),
        url('{{ "tradegothic-boldcondtwenty.woff2" | asset_url }}') format('woff2'),
        url('{{ "tradegothic-boldcondtwenty.woff" | asset_url }}') format('woff'),
        url('{{ "tradegothic-boldcondtwenty.ttf" | asset_url }}') format('truetype'),
        url('{{ "tradegothic-boldcondtwenty.svg#tradegothicregular" | asset_url }}') format('svg');
    font-weight: normal;
    font-style: normal;
    }

    @font-face {
    font-family: 'ChronicleDisplay-Italic';
    src: url('{{ "ChronicleDisplay-Italic.eot?#iefix" | asset_url }}') format('embedded-opentype'),
        url('{{ "ChronicleDisplay-Italic.otf" | asset_url }}') format('opentype'),
        url('{{ "ChronicleDisplay-Italic.woff" | asset_url }}') format('woff'),
        url('{{ "ChronicleDisplay-Italic.ttf" | asset_url }}') format('truetype'),
        url('{{ "ChronicleDisplay-Italic.svg#ChronicleDisplay-Italic" | asset_url }}') format('svg');
    font-weight: normal;
    font-style: normal;
    }
  </style>

  {{ content_for_header }}

  <script type="text/javascript">
  (function(key,objname,api,reqtype,debug){window["sa_analytics"]=objname;window[objname]=window[objname]||function(){
  (window[objname].tracker=window[objname].tracker||[]).push(arguments)};window[objname].start=(new Date).getTime();window[objname].key=key;window[objname].reqtype=reqtype;
  window[objname].debug=debug;window[objname].api=api;var script=document.createElement("script");var scripts=document.getElementsByTagName("script")[0];script.async=1;
  script.src="https://track.sublytics-5cffe909e69e6.com/script/34395/b172sYnAnQ3iXzxqsb46M2TXRGNqNmPP8DqW5IRx";scripts.parentNode.insertBefore(script,scripts)})
  ("b172sYnAnQ3iXzxqsb46M2TXRGNqNmPP8DqW5IRx","saa","https://track.sublytics-5cffe909e69e6.com/hit/34395/b172sYnAnQ3iXzxqsb46M2TXRGNqNmPP8DqW5IRx","pixel",false);
  /* set the order ID displayed to the customer if on an order confirmation page, this will tie the visit to the order */
  saa("set", "order_id", "");
  saa("page","view");
  </script>

</head>

<body id="{{ page_title | handle }}-page" class="template-{{ template.name | handle }}" {% if template.name == 'collection' %}data-current-coll= "{{collection.handle}}" {% endif %}>

    {% if page.url == "/pages/hendricks-midsummer" %}
      {% include 'age-check' %}
    {% endif %}

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WCRL9HR"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

  <div id="sitePreloader" data-site-preloader></div>
  <div id="app" :class="{'loading': isLoading}">
    <div class="overlay site-overlay" :class="{'show': isOverlayVisible}" data-site-overlay></div>
    {% if settings.datepicker_holidays != blank %}
      <input type="hidden" id="holidayOfUSA" value='{{ settings.datepicker_holidays }}' data-holidays/>
    {% endif %}
    <vue-snotify></vue-snotify>

    {% section 'header' %}
    {{ content_for_layout }}
    {% section 'footer' %}
    {% section 'mobile-navigation' %}
    {% section 'search-layer' %}
    {% section 'newsletter-popup' %}
    {% if template contains 'standalone' %}
        {% include 'cart-addOns-popup' %}
    {% endif %}
    {% include 'cart-drawer' %}
    
    {% if settings.enable_quickshop %}
      {% include 'modal-quickshop' %}
    {% endif %}
    {% if settings.enable_wishlist %}
      {% include 'modal-wishlist' %}
    {% endif %}
  </div>

  {% if template.directory == 'customers' %}
    <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>
  {% endif %}

  {% if template == 'cart' %}
    {{ '/services/javascripts/countries.js' | script_tag }}
  {% endif %}


  {% if customer %}
  <script>
    window.theme = {
      customersID:{{ customer.id }},
      customersEmail:"{{ customer.email }}",
      moneyFormat: {{ shop.money_format | json }},
      colorSwatchesEnabled: {{ settings.enable_color_swatches }},
      sizeSwatchesEnabled: {{ settings.enable_size_swatches }},
      loginHelper: {
        customerTagText: '{{ settings.customer_tag_text }}',
        customerTagMessage: '{{ settings.customer_tag_message }}'
      },
      rechargeProductAPI:"https://work.planetx.in/recharge/demo-2016/api/common/products"
    };
  </script>
  {% else %}
  <script>
    window.theme = {
      moneyFormat: {{ shop.money_format | json }},
      colorSwatchesEnabled: {{ settings.enable_color_swatches }},
      sizeSwatchesEnabled: {{ settings.enable_size_swatches }},
      loginHelper: {
        customerTagText: '{{ settings.customer_tag_text }}',
        customerTagMessage: '{{ settings.customer_tag_message }}'
      }
    };
  </script>
  {% endif %}
    
  

  {% include 'script-tags', layout: 'theme' %}
  {% include 'structured-data' %}

  {% if settings.enable_recharge %}
    {% include 'app-recharge' %}
  {% endif %}

</body>
</html>
